USE [BasicDataInfo]
GO
/****** Object:  Table [dbo].[Delete_RecordTable]    Script Date: 1/8/2021 7:15:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delete_RecordTable](
	[Payment_Ticket] [int] NULL,
	[Entered_By] [nvarchar](50) NULL,
	[Deleted_By] [nvarchar](50) NULL,
	[Deleted_Date] [datetime] NULL
) ON [PRIMARY]

GO
