USE [BasicDataInfo]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteCounterCloseEntry]    Script Date: 1/8/2021 7:15:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDeleteCounterCloseEntry]
@Payment_ticket int,
@hfd_empid int,
@Empid int
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	
	update Sub_Counter_Close set Status=0 
	where (CashBook_ID IN (select Sub_CounterClose_Id from Counter_Close where Receiving_Amount_ID=@Payment_ticket) and Sub_Counter_Close.emp_id=@hfd_empid );

	Delete From Counter_close 
	where (Receiving_Amount_ID=@Payment_ticket and Emp_id=@hfd_empid);
	
	insert into Delete_RecordTable (Payment_Ticket,Entered_By,Deleted_By,Deleted_Date)
	Values (@Payment_ticket,@hfd_empid,@Empid,GETDATE())
END

GO
