USE [master]
GO
/****** Object:  Database [Admin_Pathology]    Script Date: 10/26/2025 5:10:18 PM ******/
CREATE DATABASE [Admin_Pathology]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Path_Admin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Admin_Pathology.mdf' , SIZE = 8128KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Path_Admin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Admin_Pathology.ldf' , SIZE = 1792KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Admin_Pathology].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Admin_Pathology]
GO
/****** Object:  View [dbo].[Gender]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Gender]
AS
SELECT     Gender_ID, Gender_Value, Gender
FROM         BasicDataInfo.dbo.Gender
GO
/****** Object:  View [dbo].[Patient]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Patient]
AS
SELECT     RegNo, Prefix, PFName, PMName, PLName, Relation, RFName, RMName, RLName, SexID, Age, RegDateTime, CountryCode, ProvinceCode, DistrictCode, TehsilCode, 
                      Zipcode, StreetAddress, Colony, OtherProvince, OtherDistrict, OtherTehsil, HomePhone, MobilePhone, id, CNIC, DateOfBirth, AgeType, House_No, Patient_Type, 
                      Picture_Path, pt_Cast, Passport_No
FROM         Registration.dbo.Patient
GO
/****** Object:  View [dbo].[PatientsLabTest]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PatientsLabTest]
AS
SELECT     PayID, TID, DateTime, DoctorID, EmpID, PTestID, RegNo, GroupDiscount, Status, Biopsy_description
FROM         Pathology2.dbo.PatientsLabTest
GO
/****** Object:  View [dbo].[Test_Booking]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Test_Booking]
AS
SELECT     TB_ID, TB_Name, Private_Price, Public_Price, MG_ID, TB_Code, Specimen_Required_By_Test, tsetId, Test_Day, Test_Time, Test_Type_Id, Gender_Id, S_Id, 
                      Collection_Time
FROM         Pathology2.dbo.Test_Booking
GO
/****** Object:  View [dbo].[Test_Services]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Test_Services]
AS
SELECT     Test_ID, TB_ID
FROM         Pathology2.dbo.Test_Services
GO
/****** Object:  Table [dbo].[Admin_ASP_Controls]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_ASP_Controls](
	[Control_ID] [int] IDENTITY(1,1) NOT NULL,
	[DataTye] [varchar](100) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Type] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Template_Test_Elements]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Template_Test_Elements](
	[Template_Id] [int] NOT NULL,
	[Element_Id] [int] NOT NULL,
	[Element_Name] [varchar](250) NULL,
	[MainGroup_Id] [int] NULL,
	[SubGroup_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Test_Type]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Test_Type](
	[Test_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Test_Type_Name] [varchar](450) NULL,
	[Discount_percentage] [int] NULL,
 CONSTRAINT [PK_Admin_Test_Type] PRIMARY KEY CLUSTERED 
(
	[Test_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condition]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condition](
	[Condition_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Condition_Name] [varchar](200) NULL,
 CONSTRAINT [PK_Condition] PRIMARY KEY CLUSTERED 
(
	[Condition_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversion]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversion](
	[TMUnitID] [int] NOT NULL,
	[TCID] [int] NOT NULL,
	[Conversion_Rate] [float] NULL,
 CONSTRAINT [PK_Conversion] PRIMARY KEY CLUSTERED 
(
	[TMUnitID] ASC,
	[TCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Machine_RackPositions]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Machine_RackPositions](
	[Machine_Id] [int] NULL,
	[Container_Type] [char](2) NULL,
	[Rack_Position] [int] NULL,
	[Rack_No] [int] NULL,
	[Status] [bit] NULL,
	[Priority_Type] [char](1) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Lab_Machine_RackPositions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Machine_Tests]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Machine_Tests](
	[Lab_M_Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Component_Id] [int] NULL,
	[Machine_Id] [int] NULL,
	[start_index] [int] NULL,
	[End_index] [int] NULL,
	[Machine_Comp_Name] [varchar](20) NULL,
	[Active_Status] [int] NULL,
	[Machine_Test_Code] [varchar](50) NULL,
	[Result_Conversion] [float] NULL,
	[Action] [char](1) NULL,
	[Comp_DataType] [varchar](15) NULL,
	[Float_Digit] [int] NULL,
 CONSTRAINT [PK_Lab_Machine_Tests] PRIMARY KEY CLUSTERED 
(
	[Lab_M_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Machine_TestServices]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Machine_TestServices](
	[Lab_M_Id] [numeric](18, 0) NOT NULL,
	[TB_ID] [numeric](18, 0) NOT NULL,
	[Sample_Type] [char](2) NULL,
 CONSTRAINT [PK_Lab_Machine_TestServices] PRIMARY KEY CLUSTERED 
(
	[Lab_M_Id] ASC,
	[TB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Machines]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Machines](
	[Machine_Id] [int] IDENTITY(1,1) NOT NULL,
	[Machine_Name] [varchar](250) NULL,
	[Model] [varchar](50) NULL,
	[Description] [varchar](550) NULL,
 CONSTRAINT [PK_Lab_Machines] PRIMARY KEY CLUSTERED 
(
	[Machine_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Report]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Report](
	[Lab_Report_ID] [int] NULL,
	[Report_Name] [varchar](200) NULL,
	[Report_Path] [varchar](1000) NULL,
	[Test_Group_Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Test_Group_Report]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Test_Group_Report](
	[Lab_Test_Group_Report_ID] [int] IDENTITY(1,1) NOT NULL,
	[Lab_Report_Id] [int] NULL,
	[Test_Group_Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_Component_Value]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_Component_Value](
	[Machine_Value] [varchar](50) NULL,
	[Actual_Value] [nchar](10) NULL,
	[Component_Id] [int] NULL,
	[Machine_Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_Samples]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_Samples](
	[MachineSample_ID] [int] IDENTITY(1,1) NOT NULL,
	[Sample_Abb] [varchar](50) NULL,
	[Sample_Name] [varchar](50) NULL,
	[Machine_ID] [int] NULL,
 CONSTRAINT [PK_Machine_Samples] PRIMARY KEY CLUSTERED 
(
	[MachineSample_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines_Status]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines_Status](
	[Machines_status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Machines_status] [varchar](100) NULL,
 CONSTRAINT [PK_Machines_Status] PRIMARY KEY CLUSTERED 
(
	[Machines_status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Month]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Month](
	[Month_ID] [int] NOT NULL,
	[Month_Name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outlet]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outlet](
	[Outlet_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Outlet_Name] [varchar](200) NULL,
	[Description] [varchar](2000) NULL,
 CONSTRAINT [PK_Outlet] PRIMARY KEY CLUSTERED 
(
	[Outlet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutSideLab]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutSideLab](
	[OutSideLab_ID] [int] IDENTITY(1,1) NOT NULL,
	[OutSideLab_Name] [varchar](100) NULL,
	[OutSideLab_Address] [varchar](200) NULL,
	[OutSideLab_PhoneNo] [varchar](20) NULL,
 CONSTRAINT [PK_OutSideLab] PRIMARY KEY CLUSTERED 
(
	[OutSideLab_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Path_Sample]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Path_Sample](
	[Sample_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sample_Name] [varchar](50) NOT NULL,
	[Description] [varchar](150) NULL,
 CONSTRAINT [PK_Path_Sample] PRIMARY KEY CLUSTERED 
(
	[Sample_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Path_Template_Group]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Path_Template_Group](
	[Template_id] [int] NOT NULL,
	[Template_Group] [varchar](100) NULL,
	[Template_Group_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pathology_Templates]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pathology_Templates](
	[Template_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TB_ID] [int] NULL,
	[Template_Detail] [varchar](max) NULL,
	[Template_Name] [varchar](100) NULL,
 CONSTRAINT [PK_Pathology_Templates] PRIMARY KEY CLUSTERED 
(
	[Template_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PT_TestMessages]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT_TestMessages](
	[Pt_Message_Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Sample_No] [varchar](50) NULL,
	[Sent_Message] [varchar](7050) NULL,
	[Received_Message] [varchar](7050) NULL,
	[Status_Id] [int] NULL,
	[Machine_id] [int] NOT NULL,
	[Machine_Sample_No] [varchar](50) NULL,
	[Main_Id] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[TGID] [int] NOT NULL,
	[TestName] [varchar](200) NOT NULL,
	[Fee] [int] NULL,
	[PrivateFee] [int] NULL,
	[TSGID] [int] NULL,
	[MedicalName] [varchar](200) NULL,
	[StandardName] [varchar](200) NULL,
	[ST_ID] [varchar](50) NULL,
	[E_Field_Type] [varchar](100) NULL,
	[ToolTip] [varchar](500) NULL,
	[Active] [bit] NULL,
	[Priority] [smallint] NULL,
	[Gender_ID] [int] NULL,
	[Method] [varchar](550) NULL,
	[Comments] [varchar](700) NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Comments]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Comments](
	[Comments_Id] [int] IDENTITY(1,1) NOT NULL,
	[TID] [int] NULL,
	[TGID] [int] NULL,
	[Comments] [varchar](7050) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Main_Sub_Grouping]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Main_Sub_Grouping](
	[MS_TGID] [int] IDENTITY(1,1) NOT NULL,
	[TGID] [int] NOT NULL,
	[MSTG_Name] [varchar](200) NOT NULL,
	[Priority] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Package_Detail]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Package_Detail](
	[Package_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Package_Id] [int] NOT NULL,
	[Test_Id] [int] NOT NULL,
 CONSTRAINT [PK_Test_Package_Detail] PRIMARY KEY CLUSTERED 
(
	[Package_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Packages]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Packages](
	[Package_Id] [int] IDENTITY(1,1) NOT NULL,
	[Package_Name] [varchar](50) NOT NULL,
	[Fee] [int] NOT NULL,
 CONSTRAINT [PK_Test_Packages] PRIMARY KEY CLUSTERED 
(
	[Package_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_RangeValues]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_RangeValues](
	[Refid] [int] IDENTITY(1,1) NOT NULL,
	[TId] [int] NULL,
	[TCId] [int] NULL,
	[StartValue] [float] NULL,
	[EndValue] [float] NULL,
	[Gender_Id] [int] NULL,
	[Min_Age] [int] NULL,
	[Max_Age] [int] NULL,
	[Age_Unit] [varchar](20) NULL,
	[Report_Values] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Rates]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Rates](
	[Lab_Id] [int] NOT NULL,
	[Cat_Id] [int] NOT NULL,
	[Discount_Percentage] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Reports]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Reports](
	[Rpt_Id] [int] IDENTITY(1,1) NOT NULL,
	[TGID] [int] NULL,
	[TB_ID] [int] NULL,
	[rpt_Name] [varchar](1050) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test1]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test1](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[TGID] [int] NOT NULL,
	[TestName] [varchar](200) NULL,
	[Fee] [int] NULL,
	[PrivateFee] [int] NULL,
	[TSGID] [int] NULL,
	[MedicalName] [varchar](200) NULL,
	[StandardName] [varchar](200) NULL,
	[ST_ID] [varchar](50) NULL,
	[E_Field_Type] [varchar](100) NULL,
	[ToolTip] [varchar](500) NULL,
	[Active] [bit] NULL,
	[Priority] [smallint] NULL,
	[Gender_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestComponent]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestComponent](
	[TCID] [int] IDENTITY(1,1) NOT NULL,
	[TID] [int] NOT NULL,
	[ComponentName] [varchar](500) NOT NULL,
	[TMUnitID] [int] NOT NULL,
	[TGID] [int] NOT NULL,
	[TC_Value] [varchar](100) NULL,
	[TV_ID] [varchar](50) NULL,
	[e_Field_Type] [varchar](50) NULL,
	[ToolTip] [varchar](500) NULL,
	[TC_Range_Unit] [varchar](500) NULL,
	[MS_TGID] [int] NULL,
	[Priority] [int] NULL,
	[DataType] [char](10) NULL,
	[MaxLength] [int] NULL,
	[Critical_Values] [varchar](50) NULL,
	[Min_Value] [int] NULL,
	[Max_Value] [int] NULL,
	[TC_Range_Unit_Female] [varchar](500) NULL,
 CONSTRAINT [PK_TestComponent] PRIMARY KEY CLUSTERED 
(
	[TCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestComponent_Value]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestComponent_Value](
	[TC_Value_ID] [int] IDENTITY(1,1) NOT NULL,
	[TC_Value] [varchar](800) NULL,
	[TCID] [int] NULL,
	[Priority] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestComponent1]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestComponent1](
	[TCID] [int] IDENTITY(1,1) NOT NULL,
	[TID] [int] NOT NULL,
	[ComponentName] [varchar](500) NOT NULL,
	[TMUnitID] [int] NOT NULL,
	[TGID] [int] NOT NULL,
	[TC_Value] [varchar](100) NULL,
	[TV_ID] [varchar](50) NULL,
	[e_Field_Type] [varchar](50) NULL,
	[ToolTip] [varchar](500) NULL,
	[TC_Range_Unit] [varchar](100) NULL,
	[MS_TGID] [int] NULL,
	[Priority] [int] NULL,
	[DataType] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestGroup]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestGroup](
	[TGID] [int] IDENTITY(1,1) NOT NULL,
	[TGName] [varchar](200) NOT NULL,
	[Fee] [int] NULL,
	[Gender_ID] [int] NULL,
	[Priority] [smallint] NULL,
	[SampleTake] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Dept_Id] [int] NULL,
	[SubDept_Id] [int] NULL,
	[GroupCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_TestGroup] PRIMARY KEY CLUSTERED 
(
	[TGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestMUnit]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestMUnit](
	[TMUnitID] [int] IDENTITY(1,1) NOT NULL,
	[TUnitName] [varchar](800) NULL,
 CONSTRAINT [PK_TestMUnit] PRIMARY KEY CLUSTERED 
(
	[TMUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestReference_values]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestReference_values](
	[TestReferenceID] [int] IDENTITY(1,1) NOT NULL,
	[TCID] [int] NOT NULL,
	[SexID] [int] NULL,
	[AgeStart] [int] NULL,
	[AgeEnd] [int] NULL,
	[ValueStart] [float] NOT NULL,
	[ValueEnd] [float] NOT NULL,
	[Possible_Result] [varchar](550) NOT NULL,
	[Extra_Comments] [varchar](750) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSubGroup]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSubGroup](
	[TSGID] [int] IDENTITY(1,1) NOT NULL,
	[TSGName] [varchar](200) NOT NULL,
	[Fee] [int] NULL,
	[TGID] [int] NOT NULL,
	[E_Field_Type] [varchar](100) NULL,
	[ST_ID] [varchar](50) NULL,
	[ToolTip] [varchar](500) NULL,
	[MS_TGID] [int] NULL,
	[Sort_Order] [smallint] NULL,
 CONSTRAINT [PK_TestSubGroup] PRIMARY KEY CLUSTERED 
(
	[TSGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSubGroup1]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSubGroup1](
	[TSGID] [int] IDENTITY(1,1) NOT NULL,
	[TSGName] [varchar](200) NOT NULL,
	[Fee] [int] NOT NULL,
	[TGID] [int] NOT NULL,
	[E_Field_Type] [varchar](100) NULL,
	[ST_ID] [varchar](50) NULL,
	[ToolTip] [varchar](500) NULL,
	[MS_TGID] [int] NULL,
	[Sort_Order] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Years]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Years](
	[years] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestGroup] ADD  CONSTRAINT [DF_TestGroup_Fee]  DEFAULT ((0)) FOR [Fee]
GO
ALTER TABLE [dbo].[TestSubGroup] ADD  CONSTRAINT [DF_TestSubGroup_Fee]  DEFAULT ((0)) FOR [Fee]
GO
/****** Object:  StoredProcedure [dbo].[Admin_Insert_Component_values]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Admin_Insert_Component_values]


@TCID int,
@TC_Value varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
INSERT INTO TestComponent_Value
                      (TC_Value, TCID)
VALUES     (@TC_Value,@TCID)
END







GO
/****** Object:  StoredProcedure [dbo].[Admin_Insert_Pathology_Element]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Admin_Insert_Pathology_Element]
--@MG_Code int ,
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
@e_ID varchar(100) OUTPUT,
@ComponentName varchar(50),
@TGID int,
@e_Field_Type varchar(50),
@ToolTip varchar(500),
@TMUnitID int,
@TID int,
@TC_Range_Unit varchar(100),
@TC_Range_Unit_Female varchar(100)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
INSERT INTO TestComponent
                      (TID, ComponentName, TGID, e_Field_Type, ToolTip, TMUnitID, TC_Range_Unit)
VALUES     (@TID,@ComponentName,@TGID,@e_Field_Type,@ToolTip,@TMUnitID,@TC_Range_Unit)
set @e_ID = @@identity
END







GO
/****** Object:  StoredProcedure [dbo].[Admin_Update_Pathology_Element]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Imran Ahmed Awan >
-- Create date: <Create Date,,04-01-2007>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Admin_Update_Pathology_Element]
	-- Add the parameters for the stored procedure here
@e_Code int,
@e_ID varchar(100)



AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--------UPDATE      Admin_Radiology_Element
--------SET              e_ID = @e_ID
--------WHERE     (Rd_element_id = @e_Code)
UPDATE    TestComponent
SET              TC_Value =@e_ID
WHERE     (TCID = @e_Code)
END






GO
/****** Object:  StoredProcedure [dbo].[Annual_tests_data]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Annual_tests_data]
	-- Add the parameters for the stored procedure here
	@year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     COUNT(Test.TGID) AS [Test Group count], TestGroup.TGName, Month.Month_Name AS Months, Month.Month_ID
FROM         Test INNER JOIN
                      TestGroup ON Test.TGID = TestGroup.TGID INNER JOIN
                      PatientsLabTest ON Test.TID = PatientsLabTest.TID INNER JOIN
                      Month ON DATEPART(mm, PatientsLabTest.DateTime) = Month.Month_ID
WHERE     (DATEPART(yyyy, PatientsLabTest.DateTime) = @year)
GROUP BY TestGroup.TGName, Month.Month_Name,Month_ID
ORDER BY Month.Month_ID
END




GO
/****** Object:  StoredProcedure [dbo].[Comparative_Cash_Report]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Comparative_Cash_Report]
	-- Add the parameters for the stored procedure here
@year int ,
@year1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     CONVERT(varchar, ISNULL(DATEPART(mm, PatientsLabTest.DateTime), 1), 107) AS Month, ISNULL(DATEPART(yyyy, PatientsLabTest.DateTime), 
                      @year) AS Year, ISNULL(SUM(Test.Fee), 0) AS [Total Fee], Month.Month_Name
FROM         PatientsLabTest INNER JOIN
                      Test ON PatientsLabTest.TID = Test.TID INNER JOIN
                      Month ON DATEPART(mm, PatientsLabTest.DateTime) = Month.Month_ID
WHERE     (DATEPART(yyyy, PatientsLabTest.DateTime) BETWEEN @year AND @year1)
GROUP BY DATEPART(yyyy, PatientsLabTest.DateTime), DATEPART(mm, PatientsLabTest.DateTime), Month.Month_Name
END





GO
/****** Object:  StoredProcedure [dbo].[comparative_tests]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[comparative_tests] 
	-- Add the parameters for the stored procedure here
@From_Year int,
@To_Year int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     COUNT(Test.TGID) AS [Test Group count], Month.Month_Name AS Months, Month.Month_ID, DATEPART(yyyy, PatientsLabTest.DateTime) 
                      AS YEAR
FROM         Test INNER JOIN
                      PatientsLabTest ON Test.TID = PatientsLabTest.TID INNER JOIN
                      Month ON DATEPART(mm, PatientsLabTest.DateTime) = Month.Month_ID
WHERE     (DATEPART(yyyy, PatientsLabTest.DateTime) BETWEEN @From_Year AND @To_Year)
GROUP BY Month.Month_Name, Month.Month_ID, DATEPART(yyyy, PatientsLabTest.DateTime)
ORDER BY Month.Month_ID
END


GO
/****** Object:  StoredProcedure [dbo].[Insert_Test_Main_Group]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_Test_Main_Group] 
	-- Add the parameters for the stored procedure here
@TGName varchar(500),
@Fee int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
Declare @ID as int
INSERT INTO TestGroup(TGName, Fee) VALUES (@TGName, @Fee)
SEt @ID = @@identity

INSERT INTO Test_Main_Sub_Grouping
                      (TGID, MSTG_Name)
VALUES     (@ID,@TGName)


END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Test_RangeValues]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_Test_RangeValues]
	-- Add the parameters for the stored procedure here

@TCId int,
@StartValue float,
@EndValue float,
@Gender_ID int,
@Min_Age int,
@Max_Age int,
@Age_Unit varchar(20),
@Report_Values varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
declare @TId_d int

SELECT     @TId_d=TestComponent.TID 
FROM         Test INNER JOIN
                      TestComponent ON Test.TID = TestComponent.TID 
where TestComponent.TCID=@TCID


	INSERT INTO Test_RangeValues
                      (TId, TCId, StartValue, EndValue, Gender_Id, Min_Age, Max_Age, Age_Unit,Report_Values)
VALUES     (@TId_d,@TCId,@StartValue,@EndValue,@Gender_ID,@Min_Age,@Max_Age,@Age_Unit,@Report_Values)

END




GO
/****** Object:  StoredProcedure [dbo].[Pathology_select_TestforReport_new]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















-- =============================================
-- Author:		<Author,,Muhammad Aun Abbas, Imran Ahmad Awan>
-- Create date: <Create Date,,7-12-2006>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[Pathology_select_TestforReport_new] 

@YearlyNo numeric(18,0),
@RegNo varchar(50),
@template_id int,
@MS_TGID int,
@TGID int,
@Main_ID int
AS

	Begin

SELECT DISTINCT 
                      View_Test_with_Testbooking.TCID, View_Test_with_Testbooking.ComponentName, View_Test_with_Testbooking.e_Field_Type, 
                      View_Test_with_Testbooking.TC_Value, View_Test_with_Testbooking.TGID, View_Test_with_Testbooking.ToolTip, 
                      View_Test_with_Testbooking.TC_Range_Unit, View_Test_with_Testbooking.TSGID, View_Test_with_Testbooking.TSGName, 
                      Path_Result_Delivery.Reg_no, Path_Result_Delivery.Yearly_No, Path_Result_Delivery.Main_ID, Test_Booking_Services.Status, 
                      View_Test_with_Testbooking.TB_ID, isnull(View_Test_with_Testbooking.MaxLength,0) as MaxLength, isnull(View_Test_with_Testbooking.Min_Value,0)as Min_Value, 
                      isnull(View_Test_with_Testbooking.Max_Value,0) as Max_Value
FROM         Test_Booking_Services INNER JOIN
                      Path_Result_Delivery ON Test_Booking_Services.Main_ID = Path_Result_Delivery.Main_ID INNER JOIN
                      View_Test_with_Testbooking ON Test_Booking_Services.TB_ID = View_Test_with_Testbooking.TB_ID
WHERE     (Path_Result_Delivery.Yearly_No = @YearlyNo) AND (Path_Result_Delivery.Main_ID = @Main_ID) AND 
                      (View_Test_with_Testbooking.TGID = @MS_TGID) AND (Test_Booking_Services.Status = 1 OR
                      Test_Booking_Services.Status = 5) AND (Path_Result_Delivery.Reg_no = @RegNo)

	End




































GO
/****** Object:  StoredProcedure [dbo].[Pathology_Tests]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Pathology_Tests]
	-- Add the parameters for the stored procedure here
@month int,
@year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

/* Insert statements for procedure here*/
SELECT     COUNT(PatientsLabTest.TID) AS Expr1, Test.TestName, TestGroup.TGName, PatientsLabTest.DateTime
FROM         PatientsLabTest INNER JOIN
                      Test ON PatientsLabTest.TID = Test.TID INNER JOIN
                      TestSubGroup ON Test.TSGID = TestSubGroup.TSGID INNER JOIN
                      TestGroup ON Test.TGID = TestGroup.TGID
WHERE     (DATEPART(mm, PatientsLabTest.DateTime) = @month) AND (DATEPART(yyyy, PatientsLabTest.DateTime) = @year)
GROUP BY Test.TestName, TestGroup.TGName, PatientsLabTest.DateTime
END


GO
/****** Object:  StoredProcedure [dbo].[pro_Test_RangeValues]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pro_Test_RangeValues]
@reg_No as varchar(50),
@TGID as int

AS

declare @gender as int
declare @age as int

SELECT     @gender=Gender.Gender_ID, @age=  datediff(dd,Patient.DateOfBirth,getdate())
FROM         Patient INNER JOIN
                      Gender ON Patient.SexID = Gender.Gender_ID 
where Patient.RegNo=@reg_No  

SELECT DISTINCT Test_RangeValues.TCId, Test_RangeValues.Report_Values AS [Range Values], Test_RangeValues.StartValue, Test_RangeValues.EndValue
FROM         Test_RangeValues INNER JOIN
                      TestComponent ON Test_RangeValues.TCId = TestComponent.TCID INNER JOIN
                      Test ON TestComponent.TID = Test.TID INNER JOIN
                      TestSubGroup ON Test.TGID = TestSubGroup.TGID INNER JOIN
                      Gender ON Test_RangeValues.Gender_Id = Gender.Gender_ID
WHERE     (@age BETWEEN Test_RangeValues.Min_Age AND Test_RangeValues.Max_Age) AND (TestSubGroup.TGID = @TGID) AND ((Test_RangeValues.Gender_Id = @gender) or (Test_RangeValues.Gender_Id =77))


GO
/****** Object:  StoredProcedure [dbo].[Select_Component]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_Component]
@tid int,
@tgid int
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT     TCID, ComponentName, TID, TGID, TC_Value
FROM         TestComponent
where TID=@TID 
END









GO
/****** Object:  StoredProcedure [dbo].[Select_Group]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[Select_Group]
--@MG_Code int ,
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT TGID, TGName 
FROM TestGroup 
order by TGName
END








GO
/****** Object:  StoredProcedure [dbo].[Select_SubGroup]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_SubGroup]

@tgid int 
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT [TSGID], [TSGName] FROM [TestSubGroup] WHERE ([TGID] = @TGID)
order by TSGName
END








GO
/****** Object:  StoredProcedure [dbo].[Select_test]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_test]

@tsgid int 
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT TestName, TID FROM Test WHERE (TSGID = @tsgid)
order by TestName
END








GO
/****** Object:  StoredProcedure [dbo].[Sp_GetComponentMachineWise]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
create PROCEDURE [dbo].[Sp_GetComponentMachineWise]
	-- Add the parameters for the stored procedure here
@MachineID int
AS
BEGIN

	SELECT tc.ComponentName, tc.TCID
	FROM dbo.Lab_Machine_Tests lmt
	INNER JOIN TestComponent tc ON tc.TCID = lmt.Component_Id
	WHERE lmt.MACHINE_Id = @MachineID AND lmt.Active_Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetTestComponentMachineWise]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
--exec [dbo].[Sp_GetTestComponentMachineWise]5
create PROCEDURE [dbo].[Sp_GetTestComponentMachineWise] 
	-- Add the parameters for the stored procedure here
@MachineID INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT lm.Machine_Name,tc.ComponentName,tc.TCID,lmt.Lab_M_Id,  lmt.Machine_Test_Code AS AssayCode,lmt.Machine_Comp_Name AS MachineCode
	FROM dbo.Lab_Machine_Tests lmt
	LEFT OUTER JOIN dbo.TestComponent tc ON tc.TCID = lmt.Component_Id
	LEFT OUTER JOIN dbo.Lab_Machines lm ON lm.Machine_Id = lmt.Machine_Id
	
	WHERE lmt.Machine_Id = @MachineID AND lmt.Active_Status = 1

	--GROUP BY tc.ComponentName,tc.TCID
	ORDER BY tc.ComponentName

	
END
--SELECT * FROM dbo.Lab_Machines
--SELECT * FROM dbo.TestComponent 1526
--SELECT * FROM dbo.Machine_Component_Value
--SELECT * FROM dbo.Lab_Machine_Tests
--ALTER TABLE dbo.Lab_Machine_Tests ADD Assay_Code VARCHAR(300)
GO
/****** Object:  StoredProcedure [dbo].[supSearchTest]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[supSearchTest]
@tgid int=0
as
begin 



SELECT        Test_RangeValues.TCId, TestComponent.ComponentName, Test_RangeValues.StartValue, Test_RangeValues.EndValue, Test.TestName, Test.TID, Test_RangeValues.Refid, Gender.Gender, Gender.Gender_ID, 
                         Test_RangeValues.Report_Values, CONVERT(varchar, Test_RangeValues.Min_Age) + ' (' + CONVERT(varchar, Test_RangeValues.Min_Age / 365) + '  Y  ' + CONVERT(varchar, 
                         Test_RangeValues.Min_Age % 365 / 30) + '  M  ' + CONVERT(varchar, Test_RangeValues.Min_Age % 365 % 30) + '  D )' AS Min_Age1, CONVERT(varchar, Test_RangeValues.Max_Age) + ' (' + CONVERT(varchar, 
                         Test_RangeValues.Max_Age / 365) + '  Y  ' + CONVERT(varchar, Test_RangeValues.Max_Age % 365 / 30) + '  M  ' + CONVERT(varchar, Test_RangeValues.Max_Age % 365 % 30) + '  D )' AS Max_Age1, 
                         Test_RangeValues.Min_Age, Test_RangeValues.Max_Age, TestComponent.TCID AS Expr1
FROM            TestComponent INNER JOIN
                         Test ON TestComponent.TID = Test.TID INNER JOIN
                         Test_RangeValues ON TestComponent.TCID = Test_RangeValues.TCId LEFT OUTER JOIN
                         Gender ON Test_RangeValues.Gender_Id = Gender.Gender_ID


   where (Test.TGID=@tgid or @tgid=0) order by TestName

   end
GO
/****** Object:  StoredProcedure [dbo].[TestFees]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TestFees]
	-- Add the parameters for the stored procedure here
@regno varchar(50),
@yearlyno numeric(18,0)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     PatientsLabTest.RegNo, PatientsLabTest.PayID, SUM(Test.Fee) AS Fee, TestGroup.TGName
FROM         Test INNER JOIN
                      PatientsLabTest ON Test.TID = PatientsLabTest.TID INNER JOIN
                      TestGroup ON Test.TGID = TestGroup.TGID
WHERE     (PatientsLabTest.PayID = @YearlyNo) AND (PatientsLabTest.RegNo = @RegNo)
GROUP BY PatientsLabTest.RegNo, PatientsLabTest.PayID, TestGroup.TGName

END



GO
/****** Object:  StoredProcedure [dbo].[usp_GetDoctorFromPayment]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetDoctorFromPayment]
	@payID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ISNULL(DoctorID,0) as DoctorID from Payment where PayID=@payID
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTestComponent]    Script Date: 10/26/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetTestComponent]
	-- Add the parameters for the stored procedure here
	@tsgid int,
	@TId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Test_RangeValues.TCId, TestComponent.ComponentName, Test_RangeValues.StartValue, Test_RangeValues.EndValue, Test.TestName, Test.TID, Test_RangeValues.Refid, 
	Gender.Gender, Gender.Gender_ID, Test_RangeValues.Report_Values,
	 CONVERT (varchar, Test_RangeValues.Min_Age) + ' (' + CONVERT (varchar, Test_RangeValues.Min_Age / 365) + '  Y  ' + CONVERT (varchar, Test_RangeValues.Min_Age % 365 / 30) + '  M  ' + CONVERT (varchar, Test_RangeValues.Min_Age % 365 % 30) + '  D )' AS Min_Age1, 
	 CONVERT (varchar, Test_RangeValues.Max_Age) + ' (' + CONVERT (varchar, Test_RangeValues.Max_Age / 365) + '  Y  ' + CONVERT (varchar, Test_RangeValues.Max_Age % 365 / 30) + '  M  ' + CONVERT (varchar, Test_RangeValues.Max_Age % 365 % 30) + '  D )' AS Max_Age1, 
	 Test_RangeValues.Min_Age, Test_RangeValues.Max_Age, TestComponent.TCID AS Expr1 FROM Gender INNER JOIN Test_RangeValues ON Gender.Gender_ID = Test_RangeValues.Gender_Id
	  LEFT OUTER JOIN TestComponent INNER JOIN Test ON TestComponent.TID = Test.TID ON Test_RangeValues.TCId = TestComponent.TCID
	 WHERE (@tsgid=0 or Test.TSGID= @tsgid) and (@TId=0 or Test.TID=@TId)
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Gender_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 106
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Patient (Registration.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PatientsLabTest (Pathology2.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PatientsLabTest'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PatientsLabTest'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Test_Booking (Pathology2.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 266
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_Booking'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_Booking'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Test_Services (Pathology2.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 95
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_Services'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_Services'
GO
USE [master]
GO
