USE [master]
GO
/****** Object:  Database [Admin_OT]    Script Date: 10/26/2025 5:07:47 PM ******/
CREATE DATABASE [Admin_OT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Path_Admin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Admin_OT.mdf' , SIZE = 13312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Path_Admin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Admin_OT_log.ldf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Admin_OT].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Admin_OT]
GO
/****** Object:  User [pmu]    Script Date: 10/26/2025 5:07:47 PM ******/
CREATE USER [pmu] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  View [dbo].[Gender]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Gender]
AS
SELECT     Gender_ID, Gender_Value, Gender
FROM         BasicDataInfo.dbo.Gender
GO
/****** Object:  View [dbo].[PatientsLabTest]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PatientsLabTest]
AS
SELECT     PayID, TID, DateTime, DoctorID, EmpID, PTestID, RegNo, GroupDiscount, Status, Biopsy_description
FROM         Radiology.dbo.PatientsLabTest AS PatientsLabTest_1
GO
/****** Object:  View [dbo].[Pt_Xray]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Pt_Xray]
AS
SELECT     ID, Reg_No, Yearly_No, XRay_ID, Time_Stamp, Emp_ID, Status
FROM         Treatment.dbo.Pt_Xray AS Pt_Xray_1
GO
/****** Object:  View [dbo].[Radiology_Order_Main]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Radiology_Order_Main]
AS
SELECT     YearlyNo, RegNo, Date_Time, Order_ID, Status, Emp_ID, SubDept_Id, DeptId, S_ID, R_ID
FROM         Treatment.dbo.Radiology_Order_Main
GO
/****** Object:  View [dbo].[Radiology_Order_Sub]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Radiology_Order_Sub]
AS
SELECT     TB_ID, Order_ID, Radiology_SubId, RadiologyTestName, Status, Instructions
FROM         Treatment.dbo.Radiology_Order_Sub AS Radiology_Order_Sub_1
GO
/****** Object:  View [dbo].[Test_Booking]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Test_Booking]
AS
SELECT     TB_ID, TB_Name, Private_Price, Public_Price, MG_ID, Gender_Id, S_Id
FROM         Radiology.dbo.Test_Booking
GO
/****** Object:  Table [dbo].[Admin_ASP_Controls]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_ASP_Controls](
	[DataTye] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Template_Test_Elements]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Template_Test_Elements](
	[Template_Id] [int] NOT NULL,
	[Element_Id] [int] NOT NULL,
	[Element_Name] [varchar](250) NULL,
	[MainGroup_Id] [int] NULL,
	[SubGroup_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Component_Group_Value]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component_Group_Value](
	[CGV_Id] [int] IDENTITY(1,1) NOT NULL,
	[CGV_Value] [int] NULL,
	[CGV_Name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_SubDept]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_SubDept](
	[Group_id] [int] NULL,
	[Sub_Dept_ID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Group_SubDept] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Month]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Month](
	[Month_ID] [int] NOT NULL,
	[Month_Name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Path_Template_Group]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Path_Template_Group](
	[Template_id] [int] NOT NULL,
	[Template_Group] [varchar](100) NULL,
	[Template_Group_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Radiology_templates]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radiology_templates](
	[Radiology_templates_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Templates_Name] [varchar](200) NULL,
	[Templates_Description] [varchar](8000) NULL,
	[TGID] [int] NULL,
	[TB_ID] [int] NULL,
 CONSTRAINT [PK_Radiology_templates] PRIMARY KEY CLUSTERED 
(
	[Radiology_templates_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RadiologyGroup]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadiologyGroup](
	[RGID] [numeric](18, 0) NOT NULL,
	[RGName] [varchar](200) NOT NULL,
	[Fee] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RadiologySubGroup]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadiologySubGroup](
	[RSGID] [numeric](18, 0) NOT NULL,
	[RSGName] [varchar](200) NOT NULL,
	[Fee] [numeric](18, 0) NULL,
	[RGID] [numeric](18, 0) NOT NULL,
	[Priority] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_body_part]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_body_part](
	[Rd_body_part_id] [int] NOT NULL,
	[Rd_body_part] [varchar](50) NULL,
	[body_part_group] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_CTScan_Description]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_CTScan_Description](
	[Radiology_ID] [int] NULL,
	[RegNo] [varchar](50) NULL,
	[YearlyNo] [numeric](18, 0) NULL,
	[Description] [varchar](500) NULL,
	[CTSanDes_ID] [int] NOT NULL,
	[CT_Scan_File] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_Doppler_Description]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_Doppler_Description](
	[RID] [int] NULL,
	[YearlyNo] [numeric](18, 0) NULL,
	[RegNo] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[Doppler_des_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_MRI_Report]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_MRI_Report](
	[Pt_test_id] [int] NOT NULL,
	[RegNo] [varchar](50) NULL,
	[YearlyNo] [numeric](18, 0) NULL,
	[MRI_Description] [varchar](max) NULL,
	[EmpID] [int] NULL,
	[datetime] [datetime] NULL,
	[PRadiologyID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RD_UltraSound_description]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RD_UltraSound_description](
	[YearlyNo] [numeric](18, 0) NOT NULL,
	[RegNo] [varchar](50) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[RID] [int] NOT NULL,
	[Emp_ID] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[UltraSound_des_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_xray_projection_beam]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_xray_projection_beam](
	[ID] [int] NOT NULL,
	[Xray_beam] [varchar](max) NULL,
	[Projection_ID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_xray_projection_characteristics]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_xray_projection_characteristics](
	[ID] [int] NOT NULL,
	[Characteristics] [varchar](max) NULL,
	[Projection_ID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_xray_projection_images]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_xray_projection_images](
	[images] [varchar](100) NULL,
	[Projection_ID] [int] NOT NULL,
	[ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_Xray_projection_position]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_Xray_projection_position](
	[Position] [varchar](max) NULL,
	[Projection_ID] [int] NOT NULL,
	[ID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_xray_projections]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_xray_projections](
	[Rd_Body_part_Id] [int] NULL,
	[Projections] [varchar](50) NULL,
	[Alias] [varchar](50) NULL,
	[Projection_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rd_Xray_Report]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rd_Xray_Report](
	[Xray_ID] [int] NULL,
	[RegNo] [varchar](50) NULL,
	[YearlyNo] [numeric](18, 0) NULL,
	[Xray_Description] [varchar](500) NULL,
	[EmpID] [int] NULL,
	[datetime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services_UrduEng_Inst]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services_UrduEng_Inst](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Sid] [bigint] NULL,
	[UrduInst] [nvarchar](max) NULL,
	[EnglishInst] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[HospitalId] [int] NULL,
	[EntryDate] [datetime] NULL,
	[EntryUserId] [int] NULL,
	[ChangeStatusDate] [datetime] NULL,
	[ChangeStatusId] [int] NULL,
 CONSTRAINT [PK_Services_UrduEng_Inst] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[TGID] [int] NOT NULL,
	[TestName] [varchar](200) NULL,
	[Fee] [int] NULL,
	[PrivateFee] [int] NULL,
	[TSGID] [int] NULL,
	[MedicalName] [varchar](200) NULL,
	[StandardName] [varchar](200) NULL,
	[ST_ID] [varchar](50) NULL,
	[E_Field_Type] [varchar](100) NULL,
	[ToolTip] [varchar](500) NULL,
	[Active] [bit] NULL,
	[Priority] [smallint] NULL,
	[Gender_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Main_Sub_Grouping]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Main_Sub_Grouping](
	[MS_TGID] [int] NOT NULL,
	[TGID] [int] NOT NULL,
	[MSTG_Name] [varchar](200) NOT NULL,
	[Priority] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Package_Detail]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Package_Detail](
	[Package_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Package_Id] [int] NOT NULL,
	[Test_Id] [int] NOT NULL,
 CONSTRAINT [PK_Test_Package_Detail] PRIMARY KEY CLUSTERED 
(
	[Package_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Packages]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Packages](
	[Package_Id] [int] IDENTITY(1,1) NOT NULL,
	[Package_Name] [varchar](50) NOT NULL,
	[Fee] [int] NOT NULL,
 CONSTRAINT [PK_Test_Packages] PRIMARY KEY CLUSTERED 
(
	[Package_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_RangeValues]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_RangeValues](
	[Refid] [int] IDENTITY(1,1) NOT NULL,
	[TId] [int] NULL,
	[TCId] [int] NULL,
	[StartValue] [float] NULL,
	[EndValue] [float] NULL,
	[Gender_ID] [int] NULL,
	[Min_Age] [int] NULL,
	[Max_Age] [int] NULL,
	[Age_Unit] [varchar](20) NULL,
 CONSTRAINT [PK_Test_RangeValues] PRIMARY KEY CLUSTERED 
(
	[Refid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestComponent]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestComponent](
	[TCID] [int] IDENTITY(1,1) NOT NULL,
	[TID] [int] NOT NULL,
	[ComponentName] [varchar](500) NOT NULL,
	[TMUnitID] [int] NOT NULL,
	[TGID] [int] NOT NULL,
	[TC_Value] [varchar](100) NULL,
	[TV_ID] [varchar](50) NULL,
	[e_Field_Type] [varchar](50) NULL,
	[ToolTip] [varchar](500) NULL,
	[TC_Range_Unit] [varchar](100) NULL,
	[MS_TGID] [int] NULL,
	[Priority] [int] NULL,
	[DataType] [varchar](50) NULL,
	[Critical_Values] [varchar](500) NULL,
	[MaxLength] [int] NULL,
	[Min_Value] [int] NULL,
	[Max_Value] [int] NULL,
	[CGV_Id] [int] NULL,
	[Height] [varchar](10) NULL,
	[width] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestComponent_Value]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestComponent_Value](
	[TC_Value_ID] [int] IDENTITY(1,1) NOT NULL,
	[TC_Value] [varchar](50) NULL,
	[TCID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestGroup]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestGroup](
	[TGID] [int] NOT NULL,
	[TGName] [varchar](200) NOT NULL,
	[Fee] [int] NULL,
	[Gender_ID] [int] NULL,
	[Priority] [smallint] NULL,
	[SampleTake] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Dept_Id] [int] NULL,
	[SubDept_Id] [int] NULL,
 CONSTRAINT [PK_TestGroup] PRIMARY KEY CLUSTERED 
(
	[TGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestGroup_HospitalWise]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestGroup_HospitalWise](
	[TGID] [int] NOT NULL,
	[Hospital_Id] [int] NOT NULL,
	[Dept_Id] [int] NOT NULL,
	[SubDept_Id] [int] NOT NULL,
 CONSTRAINT [PK_TestGroup_HospitalWise] PRIMARY KEY CLUSTERED 
(
	[TGID] ASC,
	[Hospital_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestMUnit]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestMUnit](
	[TMUnitID] [int] NOT NULL,
	[TUnitName] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSubGroup]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSubGroup](
	[TSGID] [int] IDENTITY(1,1) NOT NULL,
	[TSGName] [varchar](200) NOT NULL,
	[Fee] [int] NULL,
	[TGID] [int] NOT NULL,
	[E_Field_Type] [varchar](100) NULL,
	[ST_ID] [varchar](50) NULL,
	[ToolTip] [varchar](500) NULL,
	[MS_TGID] [int] NULL,
	[Sort_Order] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Years]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Years](
	[years] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TestComponent_Value]    Script Date: 10/26/2025 5:07:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TestComponent_Value] ON [dbo].[TestComponent_Value]
(
	[TCID] ASC,
	[TC_Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Services_UrduEng_Inst] ADD  CONSTRAINT [DF_Services_UrduEng_Inst_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  StoredProcedure [dbo].[Admin_Insert_Component_values]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Admin_Insert_Component_values]


@TCID int,
@TC_Value varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
INSERT INTO TestComponent_Value(TC_Value, TCID) VALUES (@TC_Value, @TCID)
END






GO
/****** Object:  StoredProcedure [dbo].[Admin_Insert_Pathology_Element]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Admin_Insert_Pathology_Element]
--@MG_Code int ,
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
@e_ID varchar(100) OUTPUT,
@ComponentName varchar(50),
@TGID int,
@e_Field_Type varchar(50),
@ToolTip varchar(500),
@TMUnitID int,
@TID int,
@TC_Range_Unit varchar(100),
@Width as int,
@Height as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
INSERT INTO TestComponent 
                      (TID, ComponentName, TGID, e_Field_Type, ToolTip, TMUnitID, TC_Range_Unit, Height, width)
VALUES     (@TID,@ComponentName,@TGID,@e_Field_Type,@ToolTip,@TMUnitID,@TC_Range_Unit,@Height,@Width)

set @e_ID = @@identity

END







GO
/****** Object:  StoredProcedure [dbo].[Admin_Update_Pathology_Element]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Imran Ahmed Awan >
-- Create date: <Create Date,,04-01-2007>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Admin_Update_Pathology_Element]
	-- Add the parameters for the stored procedure here
@e_Code int,
@e_ID varchar(100)



AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--------UPDATE      Admin_Radiology_Element
--------SET              e_ID = @e_ID
--------WHERE     (Rd_element_id = @e_Code)
UPDATE    TestComponent
SET              TC_Value =@e_ID
WHERE     (TCID = @e_Code)
END





GO
/****** Object:  StoredProcedure [dbo].[Annual_tests_data]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Annual_tests_data]
	-- Add the parameters for the stored procedure here
	@year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     COUNT(Test.TGID) AS [Test Group count], TestGroup.TGName, Month.Month_Name AS Months, Month.Month_ID
FROM         Test INNER JOIN
                      TestGroup ON Test.TGID = TestGroup.TGID INNER JOIN
                      PatientsLabTest ON Test.TID = PatientsLabTest.TID INNER JOIN
                      Month ON DATEPART(mm, PatientsLabTest.DateTime) = Month.Month_ID
WHERE     (DATEPART(yyyy, PatientsLabTest.DateTime) = @year)
GROUP BY TestGroup.TGName, Month.Month_Name,Month_ID
ORDER BY Month.Month_ID
END




GO
/****** Object:  StoredProcedure [dbo].[Comparative_Cash_Report]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Comparative_Cash_Report]
	-- Add the parameters for the stored procedure here
@year int ,
@year1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     CONVERT(varchar, ISNULL(DATEPART(mm, PatientsLabTest.DateTime), 1), 107) AS Month, ISNULL(DATEPART(yyyy, PatientsLabTest.DateTime), 
                      @year) AS Year, ISNULL(SUM(Test.Fee), 0) AS [Total Fee], Month.Month_Name
FROM         PatientsLabTest INNER JOIN
                      Test ON PatientsLabTest.TID = Test.TID INNER JOIN
                      Month ON DATEPART(mm, PatientsLabTest.DateTime) = Month.Month_ID
WHERE     (DATEPART(yyyy, PatientsLabTest.DateTime) BETWEEN @year AND @year1)
GROUP BY DATEPART(yyyy, PatientsLabTest.DateTime), DATEPART(mm, PatientsLabTest.DateTime), Month.Month_Name
END




GO
/****** Object:  StoredProcedure [dbo].[comparative_tests]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[comparative_tests] 
	-- Add the parameters for the stored procedure here
@From_Year int,
@To_Year int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     COUNT(Test.TGID) AS [Test Group count], Month.Month_Name AS Months, Month.Month_ID, DATEPART(yyyy, PatientsLabTest.DateTime) 
                      AS YEAR
FROM         Test INNER JOIN
                      PatientsLabTest ON Test.TID = PatientsLabTest.TID INNER JOIN
                      Month ON DATEPART(mm, PatientsLabTest.DateTime) = Month.Month_ID
WHERE     (DATEPART(yyyy, PatientsLabTest.DateTime) BETWEEN @From_Year AND @To_Year)
GROUP BY Month.Month_Name, Month.Month_ID, DATEPART(yyyy, PatientsLabTest.DateTime)
ORDER BY Month.Month_ID
END


GO
/****** Object:  StoredProcedure [dbo].[Insert_Test_RangeValues]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_Test_RangeValues]
	-- Add the parameters for the stored procedure here
@TId int,
@TCId int,
@StartValue float,
@EndValue float,
@Gender_ID int,
@Min_Age int,
@Max_Age int,
@Age_Unit varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Test_RangeValues
                      (TId, TCId, StartValue, EndValue, Gender_ID, Min_Age, Max_Age, Age_Unit)
VALUES     (@TId,@TCId,@StartValue,@EndValue,@Gender_ID,@Min_Age,@Max_Age,@Age_Unit)
END
GO
/****** Object:  StoredProcedure [dbo].[Pathology_Tests]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Pathology_Tests]
	-- Add the parameters for the stored procedure here
@month int,
@year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

/* Insert statements for procedure here*/
SELECT     COUNT(PatientsLabTest.TID) AS Expr1, Test.TestName, TestGroup.TGName, PatientsLabTest.DateTime
FROM         PatientsLabTest INNER JOIN
                      Test ON PatientsLabTest.TID = Test.TID INNER JOIN
                      TestSubGroup ON Test.TSGID = TestSubGroup.TSGID INNER JOIN
                      TestGroup ON Test.TGID = TestGroup.TGID
WHERE     (DATEPART(mm, PatientsLabTest.DateTime) = @month) AND (DATEPART(yyyy, PatientsLabTest.DateTime) = @year)
GROUP BY Test.TestName, TestGroup.TGName, PatientsLabTest.DateTime
END


GO
/****** Object:  StoredProcedure [dbo].[Pro_Admin_Test_rangevalues]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Pro_Admin_Test_rangevalues]  

AS

	SELECT TestReference_values.TestReferenceID, TestReference_values.TCID, 
TestReference_values.SexID, 
 Convert(varchar,TestReference_values.AgeStart / 365) +' Y '+ Convert(varchar,TestReference_values.AgeStart % 365/30) + ' M '+ Convert(varchar,TestReference_values.AgeStart % 365 % 30) + ' D ' as [AgeStart], 

Convert(varchar,TestReference_values.AgeEnd / 365) +' Y '+ Convert(varchar,TestReference_values.AgeEnd % 365/30) + ' M '+ Convert(varchar,TestReference_values.AgeEnd % 365 % 30) + ' D ' as [AgeEnd], 
TestReference_values.ValueStart, TestReference_values.ValueEnd, Gender.Gender_Value, 
TestComponent.ComponentName 
FROM TestReference_values INNER JOIN Gender ON 
TestReference_values.SexID = Gender.Gender_ID INNER JOIN TestComponent ON 
TestReference_values.TCID = TestComponent.TCID
GO
/****** Object:  StoredProcedure [dbo].[Rd_select_body_part]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Imran Ahmed Awan >
-- Create date: <Create Date,,16-12-2006>
-- Description:	<Description,, Select the Body Part Of the man for radiololgy >
-- =============================================
CREATE PROCEDURE [dbo].[Rd_select_body_part]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     Rd_body_part_id, Rd_body_part
FROM         Rd_body_part
END

GO
/****** Object:  StoredProcedure [dbo].[Rd_Select_Body_Parts]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,Imran Ahmed Awan >
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Rd_Select_Body_Parts]
	-- Add the parameters for the stored procedure here
@bodypart 	varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     Rd_body_part_id, Rd_body_part,body_part_group
FROM         Rd_body_part
where body_part_group= @bodypart
END


GO
/****** Object:  StoredProcedure [dbo].[RD_select_characteristics]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Muhammad Jahangir>
-- Create date: <Create Date,,23-12-2006>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[RD_select_characteristics]
	-- Add the parameters for the stored procedure here
	@Projection_ID int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Characteristics, ID FROM Rd_xray_projection_characteristics WHERE (Projection_ID = @Projection_ID)
END


GO
/****** Object:  StoredProcedure [dbo].[RD_select_Images]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Muhammad Aun Abbas>
-- Create date: <Create Date,,23-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RD_select_Images]
	-- Add the parameters for the stored procedure here
	@Projection_ID int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT '~/XRay_Images/'+[images] as [images]
         ,[ID]
  FROM [Rd_xray_projection_images] WHERE (Projection_ID = @Projection_ID)
END


GO
/****** Object:  StoredProcedure [dbo].[RD_select_Xray]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Imran Ahmed Awan>
-- Create date: <Create Date,,16-12-2006>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[RD_select_Xray]
	-- Add the parameters for the stored procedure here
	@body_part_id int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     isnull(Projections,'') + ' ' +isnull(Alias,'') as Projections,Projection_ID 
FROM         Rd_xray_projections
Where Rd_body_part_id = @body_part_id
END

GO
/****** Object:  StoredProcedure [dbo].[Select_Component]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Select_Component]
@tid int,
@tgid int
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT     TCID, ComponentName, TID, TGID, TC_Value
FROM         TestComponent
where TID=@TID and TGID=@TGID
END







GO
/****** Object:  StoredProcedure [dbo].[Select_Gender]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CReate PROCEDURE [dbo].[Select_Gender]
--@MG_Code int ,
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT     Gender_ID, Gender_Value, Gender
FROM         BasicDataInfo.dbo.Gender
where Gender='Male' or gender='Female'
END






GO
/****** Object:  StoredProcedure [dbo].[Select_Group]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Select_Group]
--@MG_Code int ,
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT TGID, TGName 
FROM TestGroup 
order by TGName
END







GO
/****** Object:  StoredProcedure [dbo].[Select_SubGroup]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_SubGroup]

@tgid int 
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT [TSGID], [TSGName] FROM [TestSubGroup] WHERE ([TGID] = @TGID)
order by TSGName
END







GO
/****** Object:  StoredProcedure [dbo].[Select_test]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Iman Ahmed Awan >
-- Create date: <Create Date, 28-12-2006>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Select_test]

@tsgid int 
--@e_Name Varchar(100),
--@e_Field_Type Varchar(50),
As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--INSERT INTO admin_Radiology_Element
--                      ( Radiology_id,Rd_element_name, rd_element_type)
--VALUES     (@MG_Code,@e_Name,@e_Field_Type)
SELECT TestName, TID FROM Test WHERE (TSGID = @tsgid)
order by TestName
END







GO
/****** Object:  StoredProcedure [dbo].[Services_UrduEng_Inst_ChangeStatus]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Waqas Baig>
-- Create date: <27 May 2015>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Services_UrduEng_Inst_ChangeStatus]
@Id bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE   Services_UrduEng_Inst
	SET STATUS=0 
	WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[Services_UrduEng_Inst_Get_ByHospital]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Waqas Baig>
-- Create date: <27 May 2015>
-- Description:	<Description,,>
-- =============================================
-- Services_UrduEng_Inst_Get_ByHospital 248
create PROCEDURE [dbo].[Services_UrduEng_Inst_Get_ByHospital]
--@HospitalId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Id,ADSC.Asc_Name as CategoryName,ADS.S_Name as ServiceName,UrduInst,EnglishInst,
	CASE WHEN  [Status]=1 THEN 'True' ELSE 'False'  END [Status]
	FROM  Services_UrduEng_Inst SI
	JOIN BasicDataInfo.dbo.Admin_Services ADS ON ADS.S_ID=SI.Sid
	JOIN BasicDataInfo.dbo.Admin_Service_Category ADSC ON ADSC.Asc_id=ADS.S_Category
	 where Status=1 --HospitalId=@HospitalId


	
END
GO
/****** Object:  StoredProcedure [dbo].[Services_UrduEng_Inst_Insert]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Waqas Baig>
-- Create date: <27 May 2015>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[Services_UrduEng_Inst_Insert]
@Sid int,
@UrduInst nvarchar(MAX),
@EnglishInst nvarchar(MAX),
@HospitalId int,
@EntryDate datetime,
@EntryUserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO Services_UrduEng_Inst(Sid,UrduInst,EnglishInst,HospitalId,EntryDate,EntryUserId)
	VALUES (@Sid,@UrduInst,@EnglishInst,@HospitalId,@EntryDate,@EntryUserId)

END
GO
/****** Object:  StoredProcedure [dbo].[TestFees]    Script Date: 10/26/2025 5:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TestFees]
	-- Add the parameters for the stored procedure here
@regno varchar(50),
@yearlyno numeric(18,0)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     PatientsLabTest.RegNo, PatientsLabTest.PayID, SUM(Test.Fee) AS Fee, TestGroup.TGName
FROM         Test INNER JOIN
                      PatientsLabTest ON Test.TID = PatientsLabTest.TID INNER JOIN
                      TestGroup ON Test.TGID = TestGroup.TGID
WHERE     (PatientsLabTest.PayID = @YearlyNo) AND (PatientsLabTest.RegNo = @RegNo)
GROUP BY PatientsLabTest.RegNo, PatientsLabTest.PayID, TestGroup.TGName

END



GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Gender_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 106
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PatientsLabTest_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PatientsLabTest'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PatientsLabTest'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Pt_Xray_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Pt_Xray'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Pt_Xray'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Radiology_Order_Main (Treatment.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Radiology_Order_Main'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Radiology_Order_Main'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Radiology_Order_Sub_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 183
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Radiology_Order_Sub'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Radiology_Order_Sub'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Test_Booking (Radiology.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_Booking'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_Booking'
GO
USE [master]
GO
