USE [master]
GO
/****** Object:  Database [Audit_finance]    Script Date: 10/26/2025 5:11:18 PM ******/
CREATE DATABASE [Audit_finance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Audit_finance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Audit_finance.mdf' , SIZE = 66688KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Audit_finance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Audit_finance_log.ldf' , SIZE = 1792KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Audit_finance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Audit_finance]
GO
/****** Object:  Table [dbo].[Receipt_Disbursement_AccountHeads]    Script Date: 10/26/2025 5:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Disbursement_AccountHeads](
	[Voucher_Trans_Id] [numeric](18, 0) NULL,
	[Account_No] [numeric](18, 0) NULL,
	[Voucher_No] [varchar](100) NULL,
	[Reference_No] [varchar](50) NULL,
	[Trans_Datetime] [datetime] NULL,
	[For_Date] [datetime] NULL,
	[Voucher_Type] [varchar](50) NULL,
	[Description] [varchar](750) NULL,
	[Amount] [decimal](18, 3) NULL,
	[Other_Currency_id] [int] NULL,
	[Other_Currency_Amount] [decimal](18, 0) NULL,
	[Trans_By_Emp_Id] [int] NULL,
	[Trans_By_Desg_Id] [int] NULL,
	[Approval_Status] [bit] NULL,
	[Trans_Type_Id] [int] NULL,
	[Invoice_No] [varchar](50) NULL,
	[File_No] [varchar](50) NULL,
	[From_Dept_Id] [int] NULL,
	[From_Office_Id] [int] NULL,
	[Prepared_By] [int] NULL,
	[Checked_By] [int] NULL,
	[Authorized_By] [int] NULL,
	[Cr_Dr_Action_Id] [smallint] NULL,
	[Parent_Voucher_ID] [numeric](18, 0) NULL,
	[Party_ID] [int] NULL,
	[Cheque_PO_DO] [varchar](50) NULL,
	[Cheque_PO_DO_Dated] [datetime] NULL,
	[Month_Code] [int] NULL,
	[Cost_Centre_ID] [numeric](18, 0) NULL,
	[Financial_Company_Id] [numeric](18, 0) NULL,
	[Company_Branch_Id] [numeric](18, 0) NULL,
	[Access_Level] [int] NULL,
	[Branch_Access] [int] NULL,
	[Shift_Id] [int] NULL,
	[Sys_Voucher_No] [varchar](20) NULL,
	[Deleted_date] [datetime] NULL,
	[Deleted_by] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reciept_Disbursement_Detail]    Script Date: 10/26/2025 5:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reciept_Disbursement_Detail](
	[Voucher_Trans_Id] [numeric](18, 0) NULL,
	[Reciept_Disbursement_Detail_Id] [numeric](18, 0) NULL,
	[Account_Head_id] [varchar](50) NULL,
	[Amount] [decimal](18, 3) NULL,
	[Cr_Dr_Action_Id] [smallint] NULL,
	[Party_ID] [numeric](18, 0) NULL,
	[Description] [varchar](500) NULL,
	[Effected_By_Party_Id] [int] NULL,
	[Patient_RegNo] [varchar](100) NULL,
	[S_ID] [numeric](18, 0) NULL,
	[Yearly_No] [numeric](18, 0) NULL,
	[SubDept_Id] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Receipt_Disbursement_AccountHeads] ADD  CONSTRAINT [DF_Receipt_Disbursement_AccountHeads_Access_Level]  DEFAULT ((1)) FOR [Access_Level]
GO
USE [master]
GO
