USE [master]
GO
/****** Object:  Database [Audit_Store]    Script Date: 10/26/2025 5:11:43 PM ******/
CREATE DATABASE [Audit_Store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Audit_Store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Audit_Store.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Audit_Store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Audit_Store_log.ldf' , SIZE = 123648KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Audit_Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Audit_Store]
GO
/****** Object:  Table [dbo].[Merged_Items_Record]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merged_Items_Record](
	[Merged_Items_Rec_ID] [int] IDENTITY(1,1) NOT NULL,
	[Deleted_item_ID] [varchar](50) NULL,
	[New_item_ID] [varchar](50) NULL,
	[Merged_Date] [datetime] NULL,
	[Merged_by] [int] NULL,
 CONSTRAINT [PK_Merged_items_Record] PRIMARY KEY CLUSTERED 
(
	[Merged_Items_Rec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merged_Parties_Record]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merged_Parties_Record](
	[Merged_Parties_Rec_ID] [int] IDENTITY(1,1) NOT NULL,
	[Deleted_Party_ID] [bigint] NULL,
	[New_Party_ID] [bigint] NULL,
	[Merged_Date] [datetime] NULL,
	[Merged_by] [int] NULL,
 CONSTRAINT [PK_Merged_Parties_Record] PRIMARY KEY CLUSTERED 
(
	[Merged_Parties_Rec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parties]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[Party_Id] [numeric](18, 0) NOT NULL,
	[Party_Name] [varchar](250) NULL,
	[Party_Phone] [varchar](50) NULL,
	[Party_Fax] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](350) NULL,
	[Party_Type_Id] [smallint] NULL,
	[Account_No] [varchar](50) NULL,
	[TCP_Dept_Id] [int] NULL,
	[Party_Distinct] [bit] NULL,
	[Contact_Person_Name] [varchar](150) NULL,
	[NTN_No] [varchar](50) NULL,
	[STRN] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[CNIC] [varchar](50) NULL,
	[TAX_Payer_Status] [varchar](50) NULL,
	[Deleted_Date] [datetime] NULL,
	[Deleted_By] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmacy_Items_Update_Log]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmacy_Items_Update_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Item_Code] [varchar](50) NULL,
	[Item_Name] [varchar](200) NULL,
	[Sale_Price] [numeric](18, 2) NULL,
	[Updated_By] [int] NULL,
	[Updated_On] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Order_Item_Expenses]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Order_Item_Expenses](
	[PO_Expense_ID] [int] NULL,
	[PO_ID] [int] NULL,
	[PO_ID_Sub] [int] NULL,
	[Expenses_ID] [int] NULL,
	[Expense_Cost] [decimal](18, 3) NULL,
	[Item_Qty] [int] NULL,
	[Entry_DateTime] [datetime] NULL,
	[Expense_Type_ID] [int] NULL,
	[Company_ID] [numeric](18, 0) NULL,
	[Description] [varchar](50) NULL,
	[Voucher_Trans_Id] [numeric](18, 0) NULL,
	[Currency_Rate] [varchar](50) NULL,
	[Other_Currency_Rate] [decimal](18, 2) NULL,
	[Deleted_by] [int] NULL,
	[Deleted_date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requisition_Shifted]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisition_Shifted](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Shift_by] [int] NULL,
	[Shift_date] [datetime] NOT NULL,
	[IB_ID] [varchar](50) NULL,
	[Pre_subdept] [int] NULL,
	[New_Sub_Dept] [int] NULL,
 CONSTRAINT [PK_Requisition_Shifted] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_order_main]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_order_main](
	[SO_ID] [varchar](50) NOT NULL,
	[Company_ID] [numeric](18, 0) NOT NULL,
	[Count] [int] NOT NULL,
	[Letter_NO] [varchar](50) NOT NULL,
	[Date_Time] [datetime] NOT NULL,
	[Subject] [varchar](max) NULL,
	[Emp_ID] [int] NOT NULL,
	[SubDept_ID] [int] NULL,
	[Dept_ID] [int] NOT NULL,
	[Status] [bit] NULL,
	[Order_Complete] [bit] NOT NULL,
	[Order_Complete_By_Emp_ID] [int] NULL,
	[Order_Complete_By_Dept_ID] [int] NULL,
	[Order_Complete_date_Time] [datetime] NULL,
	[Bill_status] [bit] NOT NULL,
	[Amount] [varchar](50) NULL,
	[FAC] [bit] NOT NULL,
	[FAC_Date_Time] [datetime] NULL,
	[FAC_Emp_ID] [int] NULL,
	[FAC_Approve_By_DF] [int] NULL,
	[FACDF_Date_time] [datetime] NULL,
	[FAC_Complete] [bit] NOT NULL,
	[Account_Head] [varchar](15) NULL,
	[Tender_Id] [varchar](50) NULL,
	[Term_and_Conditions] [varchar](max) NULL,
	[Payment_Process] [varchar](2000) NULL,
	[PR_ID] [varchar](50) NULL,
	[Sale_Tax] [float] NULL,
	[DC_NO] [varchar](50) NULL,
	[PO_NO] [varchar](50) NULL,
	[Sold_To] [int] NULL,
	[Sold_By] [int] NULL,
	[GST] [int] NULL,
	[Is_With_GST] [bit] NULL,
	[RQ_NO] [varchar](50) NULL,
	[Old_Sale_No] [varchar](50) NULL,
	[Consumption_No] [int] NULL,
	[from_branch_id] [int] NULL,
	[Voucher_Trans_Id] [decimal](18, 0) NULL,
	[Deleted_By] [int] NULL,
	[Deleted_on] [datetime] NULL,
	[Sys_Invoice_NO] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_order_sub]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_order_sub](
	[SO_ID] [varchar](50) NOT NULL,
	[Item_Code] [varchar](50) NOT NULL,
	[Rate] [float] NOT NULL,
	[Qty] [int] NULL,
	[DTL_Sample] [varchar](200) NULL,
	[Recieve_Qty] [int] NULL,
	[Return_Qty] [int] NULL,
	[Inspection_Comments] [bit] NULL,
	[Demand_Qty] [varchar](50) NULL,
	[Batch_NO] [varchar](50) NULL,
	[Amount] [float] NULL,
	[Entry_Date] [datetime] NULL,
	[Discount] [float] NULL,
	[SO_ID_Sub] [int] NOT NULL,
	[Specification] [varchar](500) NULL,
	[Item_Wise_Expense] [float] NULL,
	[Cost_Wise_Expense] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreItem_Consumption_Main]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreItem_Consumption_Main](
	[Consumption_Id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[Consumed_Date] [datetime] NULL,
	[Consumed_By] [int] NULL,
	[Yearly_No] [decimal](18, 0) NULL,
	[Reg_No] [varchar](200) NULL,
	[Description] [varchar](450) NULL,
	[Consumption_Type_Id] [int] NULL,
	[Shift_Id] [int] NULL,
	[Dept_iD] [int] NULL,
	[SubDept_Id] [int] NULL,
	[Requisition_Id] [varchar](50) NULL,
	[SO_Id] [varchar](50) NULL,
	[Company_Id] [int] NULL,
	[Designation_ID] [int] NULL,
	[Delivery_Method] [varchar](50) NULL,
	[Delivery_No] [varchar](50) NULL,
	[Delivery_Person_Info] [varchar](50) NULL,
	[DC_NO] [varchar](50) NULL,
	[Delivery_Site] [varchar](100) NULL,
	[Delivery_Address] [varchar](100) NULL,
	[Contact_Person] [varchar](50) NULL,
	[Phone_No] [varchar](50) NULL,
	[Received_By] [varchar](50) NULL,
	[Received_date] [datetime] NULL,
 CONSTRAINT [PK_StoreItem_Consumption_Main] PRIMARY KEY CLUSTERED 
(
	[Consumption_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storeitem_Consumption_Serial]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storeitem_Consumption_Serial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Consumption_ID] [decimal](18, 0) NULL,
	[Serial_No_ID] [int] NULL,
	[Item_Code] [varchar](50) NULL,
	[IS_Retruned] [bit] NULL,
 CONSTRAINT [PK_Consumption_Serial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreItems_Consumption_Detail]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreItems_Consumption_Detail](
	[Consumption_Id] [numeric](18, 0) NULL,
	[Item_Code] [varchar](50) NULL,
	[PO_ID] [varchar](50) NULL,
	[Consumed_QTY] [float] NULL,
	[Consume_Amount] [float] NULL,
	[Pt_Charge_Consumption] [float] NULL,
	[Item_detail] [varchar](7000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_ShiftedPartied]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_ShiftedPartied](
	[Party_Id] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pharmacy_Items_Update_Log] ADD  CONSTRAINT [DF_Pharmacy_Items_Update_Log_Updated_On]  DEFAULT (getdate()) FOR [Updated_On]
GO
ALTER TABLE [dbo].[Requisition_Shifted] ADD  CONSTRAINT [DF_Requisition_Shifted_Shift_date]  DEFAULT (getdate()) FOR [Shift_date]
GO
ALTER TABLE [dbo].[StoreItem_Consumption_Main] ADD  CONSTRAINT [DF_StoreItem_Consumption_Main_Consumed_Date]  DEFAULT (getdate()) FOR [Consumed_Date]
GO
/****** Object:  StoredProcedure [dbo].[Select_ViewAllInvoice]    Script Date: 10/26/2025 5:11:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Qadir>
-- Create date: <Create Date,09-12-2013,>
-- Description:	<Description,Employee Right to view Invoice,>
-- =============================================
Create PROCEDURE [dbo].[Select_ViewAllInvoice]
@start AS datetime,
@end AS datetime,
@SubDept_ID AS INT,
@EmpId as INT,
@CompanyName VARCHAR(100),
@SO_ID varchar(20),
@Is_With_GST as int
As
Begin

	IF @CompanyName = 0 Set @CompanyName = NULL;
	
	If Len(Ltrim(RTrim(@SO_ID))) = 0 Set @SO_ID = Null;
	
	IF @Is_With_GST = 2 Set @Is_With_GST = NULL;
	DECLARE @myTable TABLE 
	( 
		SubDeptId INT
	) 

	INSERT INTO @myTable (SubDeptId) 
	SELECT SubDept_Id FROM User_management.dbo.vw_EmployeeDepartmentRights 
	WHERE Emp_Id = @EmpId AND (Convert(VARCHAR,SubDept_Id) LIKE CASE WHEN Convert(VARCHAR,@SubDept_ID)=0 THEN '%' ELSE Convert(VARCHAR,@SubDept_ID) END);

SELECT     CONVERT(varchar, Sale_Order_Main.Date_Time, 103) AS [Sale_Order Date], Account_Titles.Account_Title AS [Company Name], Sale_Order_Main.FAC, 
                      Sale_Order_Main.FAC_Complete, Sale_Order_Main.SubDept_ID, Sale_Order_Main.Order_Complete, SUM(Sale_Order_Sub.Qty) AS Qty, SUM(Sale_Order_Sub.Rate) 
                      AS TotalAmount, Sale_Order_Main.Sys_Invoice_NO Sys_Invoice_NO, Sale_Order_Main.SO_ID, Store_Indent_Book_Main.IB_ID, Sale_Order_Main.GST, Sold_By.EFName Name, 
                      Sale_Order_Main.Voucher_Trans_Id,Sale_Order_Main.Old_Sale_No,Voucher_Main.Sys_Voucher_No,
                      CASE when Voucher_Main.Sys_Voucher_No Is NULL THEN cast(Sale_Order_Main.Voucher_Trans_Id as varchar) ELSE
						Voucher_Main.Sys_Voucher_No END Voucher_No_Display                      
FROM         Sale_Order_Main INNER JOIN
                     Finance.dbo.Account_Titles Account_Titles ON Sale_Order_Main.Company_ID = Account_Titles.Account_No INNER JOIN
                      Sale_Order_Sub ON Sale_Order_Main.SO_ID = Sale_Order_Sub.SO_ID LEFT OUTER JOIN
                      BasicDataInfo.dbo.Employee AS Sold_By ON Sale_Order_Main.Sold_By = Sold_By.EmpID LEFT OUTER JOIN
                      Store.dbo.Store_Indent_Book_Main ON Sale_Order_Main.SO_ID = Store_Indent_Book_Main.SO_ID
			Left OUTER JOIN Finance.dbo.Receipt_Disbursement_AccountHeads Voucher_Main ON Sale_Order_Main.Voucher_Trans_Id = Voucher_Main.Voucher_Trans_Id
WHERE		(Convert(varchar,Sale_Order_Main.Date_Time,112) BETWEEN Convert(varchar,@start,112) AND Convert(varchar,@end,112)) 
AND			Sale_Order_Main.SubDept_ID IN (SELECT SubDeptId FROM @myTable)
AND			(@CompanyName IS NULL Or Account_Titles.Account_No = @CompanyName)
And			(@SO_ID Is Null Or Sale_Order_Main.SO_ID Like '%' + @SO_ID + '%')
AND			(@Is_With_GST is NULL OR Is_With_GST = Convert(bit,@Is_With_GST))

GROUP BY		Sale_Order_Main.SO_ID, CONVERT(varchar, Sale_Order_Main.Date_Time, 103), Account_Titles.Account_Title, Sale_Order_Main.FAC, 
                      Sale_Order_Main.FAC_Complete, Sale_Order_Main.SubDept_ID, Sale_Order_Main.Order_Complete, Sale_Order_Main.Sys_Invoice_NO, Sale_Order_Main.SO_ID, 
                      Store_Indent_Book_Main.IB_ID, Sale_Order_Main.GST, Sold_By.EFName, Sale_Order_Main.Date_Time, Sale_Order_Main.Voucher_Trans_Id,
                      Sale_Order_Main.Old_Sale_No,Voucher_Main.Sys_Voucher_No
ORDER BY		Sale_Order_Main.Date_Time DESC
		

		
END
	
GO
USE [master]
GO
