USE [master]
GO
/****** Object:  Database [Dashboard]    Script Date: 10/26/2025 5:13:13 PM ******/
CREATE DATABASE [Dashboard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dashboard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Dashboard.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Dashboard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Dashboard_log.ldf' , SIZE = 916352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dashboard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dashboard]
GO
/****** Object:  Table [dbo].[Admin_Service_Category]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Service_Category](
	[Asc_id] [int] IDENTITY(1,1) NOT NULL,
	[Asc_Name] [varchar](50) NOT NULL,
	[Main_Category] [varchar](50) NULL,
	[OPD_AccountHead] [varchar](50) NULL,
	[IPD_AccountHead] [varchar](50) NULL,
	[hospital_id] [int] NULL,
	[Active] [int] NULL,
	[OPD_AccountHeadRefund] [varchar](50) NULL,
	[IPD_AccountHeadRefund] [varchar](50) NULL,
	[OPDCostCenterId] [int] NULL,
	[IPDCostCenterId] [int] NULL,
 CONSTRAINT [PK_Admin_Service_Category_1] PRIMARY KEY CLUSTERED 
(
	[Asc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Service_Head]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Service_Head](
	[SH_Id] [int] IDENTITY(1,1) NOT NULL,
	[SH_Name] [varchar](650) NULL,
	[SH_Cat_Name] [varchar](50) NULL,
	[Priority] [int] NULL,
	[For_Report] [bit] NULL,
	[S_Category] [int] NULL,
	[TB_Id] [int] NULL,
 CONSTRAINT [PK_Admin_Service_Head] PRIMARY KEY CLUSTERED 
(
	[SH_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Services]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Services](
	[S_ID] [int] IDENTITY(1,1) NOT NULL,
	[S_Category] [int] NULL,
	[S_Name] [varchar](300) NOT NULL,
	[S_Amount] [float] NULL,
	[SH_ID] [int] NULL,
	[S_PaymentBefore] [bit] NULL,
	[ServId] [varchar](50) NULL,
	[Edit_Status] [bit] NULL,
	[S_Procedure] [bit] NULL,
	[Priority] [int] NULL,
	[Account_Head_ID] [varchar](50) NULL,
	[Display_Rate] [varchar](200) NULL,
	[Send_out_lab] [bit] NULL,
	[S_code] [varchar](50) NULL,
	[Group_Category] [varchar](100) NULL,
	[Cost_Centre] [int] NULL,
	[Active] [int] NOT NULL,
 CONSTRAINT [PK_Admin_Services] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[cDate] [datetime] NULL,
	[cDay] [int] NULL,
	[cDayOfWeek] [int] NULL,
	[cDayName] [varchar](20) NULL,
	[cMonth] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connection_Setting]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connection_Setting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Hospital_ID] [int] NULL,
	[DataSource] [varchar](5000) NULL,
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_Connection_Setting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostCenter]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostCenter](
	[CostCenterID] [int] IDENTITY(1,1) NOT NULL,
	[CostCenterName] [varchar](100) NULL,
	[HospitalID] [int] NULL,
	[MainCostCenterId] [int] NULL,
	[MainCostCenter] [varchar](50) NULL,
	[SortOrder] [int] NULL,
	[SubCostCenterId] [int] NULL,
 CONSTRAINT [PK_CostCenter] PRIMARY KEY CLUSTERED 
(
	[CostCenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dashboard_Patient_Services_Data]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboard_Patient_Services_Data](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Patient_Count] [int] NULL,
	[Super_Sub_Dept] [int] NULL,
	[Super_Patient_Type] [int] NULL,
	[DateTimes] [datetime] NULL,
	[Hospital_id] [int] NULL,
 CONSTRAINT [PK_Dashboard_Patient_Services_Data] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financial_Data]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financial_Data](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COA_Head] [int] NULL,
	[COA_HeadName] [varchar](100) NULL,
	[For_Date] [datetime] NULL,
	[Dr_Amount] [int] NULL,
	[Cr_Amount] [int] NULL,
	[Cost_Center_id] [int] NULL,
	[Party_Name] [varchar](100) NULL,
	[Party_Code] [varchar](100) NULL,
	[FInancial_Company_id] [int] NULL,
	[Financial_Branch_id] [int] NULL,
	[Hospital_id] [int] NULL,
 CONSTRAINT [PK_Financial_Data] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[Hospital_ID] [int] NOT NULL,
	[Hospital_Name] [varchar](500) NOT NULL,
	[Hospital_Abb] [varchar](15) NULL,
	[Hospital_Address] [varchar](200) NULL,
	[Hospital_Phone] [varchar](20) NULL,
	[Hospital_FaxNo] [varchar](20) NULL,
	[Tehsil_ID] [int] NULL,
	[Attachment] [varbinary](max) NULL,
	[Attachment_ContentType] [varchar](50) NULL,
	[Attachment_Name] [varchar](150) NULL,
	[AttachHospitalID] [int] NULL,
	[code] [char](2) NULL,
	[FinancialCompanyId] [int] NULL,
	[HospitalUniversalCode] [int] NULL,
	[Region_Id] [int] NULL,
	[Region_Name] [varchar](400) NULL,
 CONSTRAINT [PK_Hospital_1] PRIMARY KEY CLUSTERED 
(
	[Hospital_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Refund_Services_Data]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Refund_Services_Data](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hospital_id] [int] NULL,
	[DateTime] [datetime] NULL,
	[Cost_Centerid] [int] NULL,
	[S_id] [int] NULL,
	[S_Name] [varchar](100) NULL,
	[S_Qty] [int] NULL,
	[S_Total] [int] NULL,
	[HospitalName] [varchar](100) NULL,
	[Cost_CenterName] [varchar](100) NULL,
	[S_Discount] [float] NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Services_Data]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Services_Data](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hospital_id] [int] NULL,
	[DateTime] [datetime] NULL,
	[Cost_Centerid] [int] NULL,
	[S_id] [int] NULL,
	[S_Name] [varchar](100) NULL,
	[S_Qty] [int] NULL,
	[S_Total] [int] NULL,
	[HospitalName] [varchar](100) NULL,
	[Cost_CenterName] [varchar](100) NULL,
	[S_Discount] [float] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_Patient_Services_Data] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Services_Data_Refund]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Services_Data_Refund](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Hospitalid] [int] NULL,
	[DateTime] [datetime] NULL,
	[Cost_Centerid] [int] NULL,
	[S_Refund] [float] NULL,
	[S_id] [int] NULL,
	[S_Name] [varchar](100) NULL,
	[S_Qty] [int] NULL,
	[S_Total] [int] NULL,
	[HospitalName] [varchar](100) NULL,
	[Cost_CenterName] [varchar](100) NULL,
 CONSTRAINT [PK_Patient_Services_Data_Refund] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Type]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Type](
	[Super_Patient_Type_Id] [int] NOT NULL,
	[Type_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Patient_Type] PRIMARY KEY CLUSTERED 
(
	[Super_Patient_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevenueSummary]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueSummary](
	[Hospital_ID] [int] NOT NULL,
	[NOP] [int] NULL,
	[NOS] [int] NULL,
	[RevenueAmount] [float] NULL,
	[ExpenseAmount] [float] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sub_Department]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sub_Department](
	[Super_Sub_Dept_Id] [int] NOT NULL,
	[Sub_Dept_Name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Super_Sub_Department]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Super_Sub_Department](
	[Super_Sub_Dept_Id] [int] NOT NULL,
	[Sub_Dept_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Super_Sub_Department] PRIMARY KEY CLUSTERED 
(
	[Super_Sub_Dept_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test1]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test1](
	[Emp_No] [varchar](50) NULL,
	[salary] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testmenu]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testmenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[menu] [varchar](50) NULL,
	[menu_link] [varchar](500) NULL,
	[menu_icon] [varchar](500) NULL,
	[parentID] [int] NULL,
	[icon] [varchar](50) NULL,
 CONSTRAINT [PK_testmenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin_Services] ADD  CONSTRAINT [DF_Admin_Services_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Admin_Services]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Services_Admin_Service_Category] FOREIGN KEY([S_Category])
REFERENCES [dbo].[Admin_Service_Category] ([Asc_id])
GO
ALTER TABLE [dbo].[Admin_Services] CHECK CONSTRAINT [FK_Admin_Services_Admin_Service_Category]
GO
ALTER TABLE [dbo].[Admin_Services]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Services_Admin_Service_Head] FOREIGN KEY([SH_ID])
REFERENCES [dbo].[Admin_Service_Head] ([SH_Id])
GO
ALTER TABLE [dbo].[Admin_Services] CHECK CONSTRAINT [FK_Admin_Services_Admin_Service_Head]
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_Connection_Setting_Api]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--execute Dashboard_Connection_Setting_Api 1
CREATE PROCEDURE [dbo].[Dashboard_Connection_Setting_Api] 
@Hospital_ID INT
AS 
BEGIN
  -- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT CS.Hospital_ID,CS.DataSource,CS.Name
       FROM  Connection_Setting CS INNER JOIN Hospital H ON H.Hospital_ID=CS.Hospital_ID
	   Where CS.Hospital_ID=@Hospital_ID
 
END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_GeTHospitals_Data_Api]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Dashboard_GeTHospitals_Data_Api] 

AS 
BEGIN
  -- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT Hospital_ID, Hospital_Name FROM  Hospital
 
END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_GetServices_Data_Api_From_To_Check]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--execute Dashboard_GetServices_Data_Api 1
CREATE PROCEDURE [dbo].[Dashboard_GetServices_Data_Api_From_To_Check]
@HospitalId int	,
@FromDate datetime, 
@toDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		DECLARE @LastImportDate datetime
			SET @LastImportDate=(SELECT MAX(sdatetime) 
			FROM BasicDataInfo.DBO.Patient_Services  PS
			JOIN BasicDataInfo.DBO.Payment P ON P.PayID=PS.YearlyNo 
			where Import=1 AND P.HospitalId=@HospitalId)

		IF @LastImportDate IS NULL
		BEGIN
			SET @LastImportDate=(SELECT MIN(sdatetime) 
			FROM BasicDataInfo.DBO.Patient_Services  PS
			JOIN BasicDataInfo.DBO.Payment P ON P.PayID=PS.YearlyNo 
			where  P.HospitalId=@HospitalId)
		END

		SELECT B.S_ID,B.S_Name, B.Amount,B.Qty,B.Discount,B.sdate,B.HospitalId,B.Hospital_Name,
		B.CostCenterID,B.CostCenterName,test,B.Status from

		
		(
	     
			SELECT ISNULL(ADS.S_ID,0) S_ID,ISNULL(ADS.S_Name,'') S_Name,SUM(ISNULL(PS.Amount,0)) AS Amount,sum(ISNULL(ps.Qty,0)) as Qty,
			sum(ISNULL(cast(DS.Discount_Sub_Amount as numeric(18,2)),0)) AS Discount,cast(ps.sdatetime as date) AS sdate
			,ISNULL(PMT.HospitalId,0) HospitalId,ISNULL(H.Hospital_Name,'') Hospital_Name,
			ISNULL(CS.CostCenterID,0) CostCenterID,
			--ISNULL(CS.CostCenterName,'Test')
			'Test' as CostCenterName,0 as test,
			SPS.Status
			FROM BasicDataInfo.DBO.Payment PMT
			JOIN BasicDataInfo.DBO.Patient_Services PS ON PS.YearlyNo=PMT.PayID
			JOIN Admin_Services ADS ON ADS.S_ID=PS.S_ID
			JOIN Hospital H ON H.Hospital_ID=PMT.HospitalId
			join BasicDataInfo.DBO.Service_Payment_Sub SPS on ps.ID=SPs.P_SID
			LEFT JOIN BasicDataInfo.DBO.Discount_Sub DS ON DS.ID=PS.ID
			LEFT JOIN Finance.DBO.CostCenter CS ON CS.CostCenterID=ADS.Cost_Centre
			WHERE sdatetime>=CAST(@LastImportDate  AS DATE)
			AND sdatetime<CAST(GETDATE() AS DATE)
			and PMT.HospitalId=@HospitalId
			and SPs.Status='Paid'
			GROUP BY cast(ps.sdatetime as date),ADS.S_ID,ADS.S_Name,PMT.HospitalId,H.Hospital_Name,CS.CostCenterID,CS.CostCenterName,SPS.Status
			
	                 UNION 

			SELECT ISNULL(ADS.S_ID,0) S_ID,ISNULL(ADS.S_Name,'') S_Name,SUM(ISNULL(PS.Amount,0)) AS Amount,sum(ISNULL(ps.Qty,0)) as Qty,
			sum(ISNULL(DS.Discount_Sub_Amount,0)) AS Discount,cast(ps.sdatetime as date) AS sdate
			,ISNULL(PMT.HospitalId,0) HospitalId,ISNULL(H.Hospital_Name,'') Hospital_Name,
			ISNULL(CS.CostCenterID,0) CostCenterID,ISNULL(CS.CostCenterName,'Test') CostCenterName,0 as test,SPS.Status
			FROM BasicDataInfo.DBO.Payment PMT
			JOIN BasicDataInfo.DBO.Patient_Services PS ON PS.YearlyNo=PMT.PayID
			JOIN Admin_Services ADS ON ADS.S_ID=PS.S_ID
			JOIN Hospital H ON H.Hospital_ID=PMT.HospitalId
			join BasicDataInfo.DBO.Service_Payment_Sub SPS on ps.ID=SPs.P_SID
			LEFT JOIN BasicDataInfo.DBO.Discount_Sub DS ON DS.ID=PS.ID
			LEFT JOIN Finance.DBO.CostCenter CS ON CS.CostCenterID=ADS.Cost_Centre
			WHERE sdatetime>=CAST(@LastImportDate  AS DATE)
			AND sdatetime<CAST(GETDATE() AS DATE)
			and PMT.HospitalId=@HospitalId
			and SPs.Status='Cancel'
			GROUP BY cast(ps.sdatetime as date),ADS.S_ID,ADS.S_Name,PMT.HospitalId,H.Hospital_Name,CS.CostCenterID,CS.CostCenterName,SPS.Status
			
			)B
			where B.sdate >= @FromDate and 
			B.sdate <= @toDate
			order by B.sdate asc
END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_HospitalWiseRevenue]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[Dashboard_HospitalWiseRevenue]
	-- Add the parameters for the stored procedure here
@FromDate datetime,
@ToDate datetime,
@HospitalID int=0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT  H.Hospital_Name,PSD.s_Id ,sum(psd.S_Qty) Qty ,sum(PSD.S_Total) Totalamount

FROM    Patient_Services_Data PSD
join BasicDataInfo.dbo.Service_Payment_Sub SPS on sps.S_ID=PSD.S_id
join Admin_Services ASS on ASS.S_ID=sps.S_ID
join Hospital H on h.Hospital_ID=PSD.Hospital_id
where h.Hospital_ID= @HospitalID and  DateTime BETWEEN @FromDate AND @ToDate And (h.Hospital_ID=@HospitalID )
group by Hospital_Name,PSD.s_Id
order by Hospital_Name

END
GO
/****** Object:  StoredProcedure [dbo].[DashBoard_Insert_Patient_ServicesData]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE Proc [dbo].[DashBoard_Insert_Patient_ServicesData]
   @Data Varchar(max) 
 as
 begin
 
 	Declare @XMLData as XML = @Data;
	Declare @tblData as Table (Patient_Count varchar(50),Super_Sub_Dept varchar(50),Super_Patient_Type int,DateTimes datetime ,Hospital_id varchar(50) )
 Insert @tblData (Patient_Count,Super_Sub_Dept,Super_Patient_Type,DateTimes,Hospital_id
 )
	Select  Tbl.Col.value('Patient_Count[1]', 'varchar(50)'),
			Tbl.Col.value('Super_Sub_Dept[1]', 'varchar(50)'),
			Tbl.Col.value('Super_Patient_Type[1]', 'BigInt'),
			Tbl.Col.value('DateTimes[1]', 'DateTime'),
			Tbl.Col.value('Hospital_id[1]', 'varchar(50)')
	from @XMLData.nodes('//data/row') Tbl(Col);

	insert into Dashboard_Patient_Services_Data (Patient_Count,Super_Sub_Dept,Super_Patient_Type,DateTimes,Hospital_id)--,
	
	Select Patient_Count,Super_Sub_Dept,Super_Patient_Type,DateTimes,Hospital_id  from @tblData;
	--
	end
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_OpdPatientServicesRevenue]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Dashboard_OpdPatientServicesRevenue]
	-- Add the parameters for the stored procedure here
@FromDate date,
@ToDate date,
@PatientType as varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if ( @PatientType='OPD')
			BEGIN
				select Distinct count(PSD.S_ID) as TotalService,sum(PSD.S_Total) as Amount,P.Patient_Type_ID,P.Patient_Type 
					from  Patient_Services_Data PSD
					inner join BasicDataInfo.dbo.Patient_Services ps on PSD.S_id=ps.S_ID
					inner join BasicDataInfo.dbo.Payment P on PS.RegNo= p.RegNo and PS.YearlyNo=P.PayID
					inner join BasicDataInfo.dbo.Patient_type PT On P.Patient_Type_ID=PT.Patient_Type_ID
					where PS.sdatetime BETWEEN @FromDate AND @ToDate and P.Patient_Type='OPD' 
					group by P.Patient_Type,p.Patient_Type_ID
			 end	
	else
			begin
			if ( @PatientType='IPD')
			Begin
			select Distinct count(PSD.S_ID) as TotalService,sum(PSD.S_Total) as Amount,P.Patient_Type_ID,P.Patient_Type 
			from  Patient_Services_Data PSD
			inner join BasicDataInfo.dbo.Patient_Services ps on PSD.S_id=ps.S_ID
			inner join BasicDataInfo.dbo.Payment P on PS.RegNo= p.RegNo and PS.YearlyNo=P.PayID
			inner join BasicDataInfo.dbo.Patient_type PT On P.Patient_Type_ID=PT.Patient_Type_ID
			where PS.sdatetime BETWEEN @FromDate AND @ToDate  And P.Patient_Type='IPD' 
			group by P.Patient_Type,p.Patient_Type_ID
			end
	else
			Begin
			select Distinct count(PSD.S_ID) as TotalService,sum(PSD.S_Total) as Amount,P.Patient_Type_ID,P.Patient_Type 
		    from  Patient_Services_Data PSD
			inner join BasicDataInfo.dbo.Patient_Services ps on PSD.S_id=ps.S_ID
			inner join BasicDataInfo.dbo.Payment P on PS.RegNo= p.RegNo and PS.YearlyNo=P.PayID
			inner join BasicDataInfo.dbo.Patient_type PT On P.Patient_Type_ID=PT.Patient_Type_ID
			where PS.sdatetime BETWEEN @FromDate AND @ToDate
			group by P.Patient_Type,p.Patient_Type_ID 
			end
	end

END
GO
/****** Object:  StoredProcedure [dbo].[DashBoard_Patient_Data_Upload]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[DashBoard_Patient_Data_Upload]
--@Data Nvarchar(max) OUTPUT 
as
begin

	--Proc1
		SELECT top 100 P.PayID,P.DateTime,P.SubDept_id,P.Patient_Type_ID,
		SD.Super_Sub_Dept_Id,PT.Super_Patient_Type_Id ,H.Super_Hospital_Id
		INTO #TempPatients
		FROM BasicDataInfo.dbo.Payment P
		JOIN BasicDataInfo.dbo.SubDepartment SD ON SD.SubDept_Id=P.SubDept_id
		JOIN BasicDataInfo.dbo.Patient_type PT ON PT.ID=P.Patient_Type_ID
		JOIN BasicDataInfo.DBO.Hospital H ON H.Hospital_ID=P.HospitalId
		WHERE ISNULL(P.Imported,0)=0
		AND ISNULL(SD.Super_Sub_Dept_Id,0)<>0
		AND ISNULL(PT.Super_Patient_Type_Id,0)<>0
		AND SD.Super_Sub_Dept_Id NOT IN(4,5)

		UPDATE Registration.DBO.Payment SET Imported=1
		FROM BasicDataInfo.dbo.Payment P
		JOIN #TempPatients T ON T.PayID=P.PayID
	
	
		--Proc2
		SELECT top 100 PR.Main_ID ,PR.Test_Booking_Date,P.SubDept_id,P.Patient_Type_ID,
		4 as Super_Sub_Dept_Id,PT.Super_Patient_Type_Id ,H.Super_Hospital_Id
		INTO #TempPatients1
		FROM  BasicDataInfo.dbo.Payment P
		JOIN Pathology2.DBO.Path_Result_Delivery PR ON PR.Yearly_No=P.PayID
		JOIN BasicDataInfo.dbo.Patient_type PT ON PT.ID=P.Patient_Type_ID
		JOIN BasicDataInfo.DBO.Hospital H ON H.Hospital_ID=P.HospitalId
		WHERE ISNULL(PR.Imported,0)=0
		AND ISNULL(PT.Super_Patient_Type_Id,0)<>0
		AND ISNULL(H.Super_Hospital_Id,0)<>0


		UPDATE Pathology2.DBO.Path_Result_Delivery SET Imported=1
		FROM Pathology2.DBO.Path_Result_Delivery PR
		JOIN #TempPatients1 T ON T.Main_ID=PR.Main_ID
		
		
	
		--Proc3
		

		SELECT top 100 PR.Main_ID ,PR.Test_Booking_Date,P.SubDept_id,P.Patient_Type_ID,
		5 as Super_Sub_Dept_Id,PT.Super_Patient_Type_Id ,H.Super_Hospital_Id
		INTO #TempPatients2
		FROM  BasicDataInfo.dbo.Payment P
		JOIN Radiology.DBO.Path_Result_Delivery PR ON PR.Yearly_No=P.PayID
		JOIN BasicDataInfo.dbo.Patient_type PT ON PT.ID=P.Patient_Type_ID
		JOIN BasicDataInfo.DBO.Hospital H ON H.Hospital_ID=P.HospitalId
		WHERE ISNULL(PR.Imported,0)=0
		AND ISNULL(PT.Super_Patient_Type_Id,0)<>0
		AND ISNULL(H.Super_Hospital_Id,0)<>0
	

		UPDATE Radiology.DBO.Path_Result_Delivery SET Imported=1
		FROM Radiology.DBO.Path_Result_Delivery PR
		JOIN #TempPatients2 T ON T.Main_ID=PR.Main_ID
	
		
		--Pro4
		SELECT top 100 CM.Consumption_Id ,CM.Consumed_Date,P.SubDept_id,P.Patient_Type_ID,
		SD.Super_Sub_Dept_Id,PT.Super_Patient_Type_Id ,H.Super_Hospital_Id
		INTO #TempPatients3
		FROM  BasicDataInfo.dbo.Payment P
		JOIN STORE.DBO.StoreItem_Consumption_Main CM ON CM.Yearly_No=P.PayID
		JOIN BasicDataInfo.dbo.SubDepartment SD ON SD.SubDept_Id=P.SubDept_id
		JOIN BasicDataInfo.dbo.Patient_type PT ON PT.ID=P.Patient_Type_ID
		JOIN BasicDataInfo.DBO.Hospital H ON H.Hospital_ID=P.HospitalId
		WHERE ISNULL(CM.Imported,0)=0
		AND ISNULL(SD.Super_Sub_Dept_Id,0)<>0
		AND ISNULL(PT.Super_Patient_Type_Id,0)<>0
		AND ISNULL(H.Super_Hospital_Id,0)<>0
	
		UPDATE STORE.DBO.StoreItem_Consumption_Main SET Imported=1
		FROM STORE.DBO.StoreItem_Consumption_Main CM
		JOIN #TempPatients3 T ON T.Consumption_Id=CM.Consumption_Id
		

		---------------------------------- 
		--Select @Data =(
		select top 2 PatientCount,Super_Sub_Dept_Id,Super_Patient_Type_Id ,
		DateTime,Super_Hospital_Id from (
		SELECT  COUNT(PayID) AS PatientCount,Super_Sub_Dept_Id,Super_Patient_Type_Id ,
		P.DateTime,Super_Hospital_Id
		FROM #TempPatients P	
		GROUP BY Super_Hospital_Id,Super_Sub_Dept_Id,Super_Patient_Type_Id,DateTime 

		UNION ALL
		SELECT  COUNT(Main_ID) AS PatientCount,Super_Sub_Dept_Id,Super_Patient_Type_Id ,
		Test_Booking_Date AS DateTime,Super_Hospital_Id
		FROM #TempPatients1 	
		GROUP BY Super_Hospital_Id,Super_Sub_Dept_Id,Super_Patient_Type_Id,Test_Booking_Date 

		UNION ALL

		SELECT   COUNT(Main_ID) AS PatientCount,Super_Sub_Dept_Id,Super_Patient_Type_Id ,
		Test_Booking_Date AS DateTime,Super_Hospital_Id
		FROM #TempPatients2 	
		GROUP BY Super_Hospital_Id,Super_Sub_Dept_Id,Super_Patient_Type_Id,Test_Booking_Date 

		UNION ALL

		SELECT  COUNT(Consumption_Id) AS PatientCount,Super_Sub_Dept_Id,Super_Patient_Type_Id ,
		Consumed_Date AS DateTime,Super_Hospital_Id
		FROM #TempPatients3 	
		GROUP BY Super_Hospital_Id,Super_Sub_Dept_Id,Super_Patient_Type_Id,Consumed_Date 
		)as k
		
  -- for xml PATH,root('Data'))
		--for xml PATH,root('Data'))  --raw , root('Data') 

	--select @Data
end
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_POST_RefundServices_Data_Api]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Dashboard_POST_RefundServices_Data_Api] 
@Hospital_id INT, @DateTime datetime,
 @Cost_Centerid INT=0, @S_id INT, @S_Name Varchar(250),
 @S_Qty INT, @S_Total decimal(18,0), @HospitalName varchar(250),
 @Cost_CenterName varchar(250)='',@S_Discount Decimal(18,0)=0
AS 
BEGIN
  -- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   INSERT INTO Patient_Refund_Services_Data
   (Hospital_id, DateTime, Cost_Centerid, S_id, S_Name, S_Qty, S_Total, HospitalName, Cost_CenterName, S_Discount)
   VALUES (@Hospital_id,@DateTime,@Cost_Centerid,@S_id,@S_Name,@S_Qty,@S_Total,@HospitalName,@Cost_CenterName,@S_Discount)

END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_POSTServices_Data_Api]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Dashboard_POSTServices_Data_Api] 

 @Hospital_id INT=0, @DateTime datetime,
 @Cost_Centerid INT=0, @S_id INT, @S_Name Varchar(250)='',
 @S_Qty INT, @S_Total int, @HospitalName varchar(250)='test',
 @Cost_CenterName varchar(250)='',@S_Discount int=0,@Status Varchar(50)='Paid'

AS 
BEGIN
  -- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	

	--IF @Status='Paid'
	
	--		BEGIN
	--		         --Delete From Patient_Services_Data
			 
				   INSERT INTO Patient_Services_Data
				   (Hospital_id, DateTime, Cost_Centerid, S_id, S_Name, S_Qty, S_Total, HospitalName, Cost_CenterName, S_Discount,Status)
			   VALUES (@Hospital_id,@DateTime,@Cost_Centerid,@S_id,@S_Name,@S_Qty,@S_Total,@HospitalName,@Cost_CenterName,@S_Discount,@Status)
	--		END

	--ELSE

	--		BEGIN
	--		        --Delete From Patient_Refund_Services_Data

	--		      INSERT INTO Patient_Refund_Services_Data
	--			   (Hospital_id, DateTime, Cost_Centerid, S_id, S_Name, S_Qty, S_Total, HospitalName, Cost_CenterName, S_Discount,Status)
	--			   VALUES (@Hospital_id,@DateTime,@Cost_Centerid,@S_id,@S_Name,@S_Qty,@S_Total,@HospitalName,@Cost_CenterName,@S_Discount,@Status)
	--		END

END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_RegionWise]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Dashboard_RegionWise]
	-- Add the parameters for the stored procedure here
@FromDate datetime,
@ToDate datetime,
@HospitalID int=0,
--@Qty int=0,
@ChartType int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if( @ChartType=1)
	Begin
	select HospitalName,COUNT(S_Qty) as TotalPatient ,SUM(S_Total) as Amount  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And (Hospital_id=@HospitalID )
		group by HospitalName
	
		end
		Else
		begin

	if( @ChartType=2)
	Begin
	
	select HospitalName,COUNT(S_Qty) as TotalPatient ,SUM(S_Total) as Amount  from Patient_Services_Data
	 where DateTime BETWEEN @FromDate AND @ToDate And (Hospital_id=@HospitalID )
		group by HospitalName
		end
		
	if( @ChartType=3)
	Begin
	
	select HospitalName,COUNT(S_Qty) as TotalPatient ,SUM(S_Total) as Amount,Cost_CenterName,Cost_Centerid  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And (Hospital_id=@HospitalID ) 
		group by HospitalName,Cost_CenterName,Cost_Centerid 
		end
		if( @ChartType=4)
	Begin
	
	select HospitalName,COUNT(S_Qty) as TotalPatient ,SUM(S_Total) as Amount,Cost_CenterName from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And (Hospital_id=@HospitalID ) 
		group by  HospitalName,Cost_CenterName
		end
		if( @ChartType=5)
	Begin
	
	select HospitalName,COUNT(S_Qty) as TotalPatient ,SUM(S_Total) as Amount ,Cost_CenterName from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And (Hospital_id=@HospitalID )
		group by  HospitalName,Cost_CenterName
		end
		if( @ChartType=6)
	Begin
	
	select HospitalName,COUNT(S_Qty) as TotalPatient ,SUM(S_Total) as Amount ,Cost_CenterName from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And (Hospital_id=@HospitalID ) 
		group by  HospitalName,Cost_CenterName
		end
		if( @ChartType=7)
	Begin
	
	select HospitalName,COUNT(S_Qty) as TotalPatient ,SUM(S_Total) as Amount ,Cost_CenterName from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And (Hospital_id=@HospitalID )
		group by  HospitalName,Cost_CenterName
		end
		if( @ChartType=8)
	Begin
	
	select HospitalName,COUNT(S_Qty) as TotalPatient ,SUM(S_Total) as Amount ,Cost_CenterName from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And (Hospital_id=@HospitalID )
		group by  HospitalName,Cost_CenterName
		end
		end
END
GO
/****** Object:  StoredProcedure [dbo].[Dashbord_With_Details]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT  H.Hospital_Name,PSD.s_Id ,sum(psd.S_Qty) Qty ,sum(PSD.S_Total) Totalamount
--FROM    Patient_Services_Data PSD
--join BasicDataInfo.dbo.Service_Payment_Sub SPS on sps.S_ID=PSD.S_id
--join Admin_Services ASS on ASS.S_ID=sps.S_ID
--join Hospital H on h.Hospital_ID=PSD.Hospital_id
--group by Hospital_Name,PSD.s_Id
--order by Hospital_Name



--select Distinct 
--count(PSD.S_ID) as TotalService,
--sum(PSD.S_Total) as Amount,
--P.Patient_Type_ID,
--P.Patient_Type 

--from  Patient_Services_Data PSD
--inner join BasicDataInfo.dbo.Patient_Services ps on PSD.S_id=ps.S_ID
--inner join BasicDataInfo.dbo.Payment P on PS.RegNo= p.RegNo and PS.YearlyNo=P.PayID
--inner join BasicDataInfo.dbo.Patient_type PT On P.Patient_Type_ID=PT.Patient_Type_ID
--group by P.Patient_Type,p.Patient_Type_ID 




--select HospitalName,
--COUNT(S_Qty) as TotalPatient ,
--SUM(S_Total) as Amount,Cost_CenterName,
--Cost_Centerid  
--from Patient_Services_Data
--group by HospitalName,Cost_CenterName,Cost_Centerid 





--SELECT 	Hosp.Hospital_Name,FromDate,ToDate, COUNT(NOP) AS NOP, 
--Count(NOS) As NOS, SUM(RevenueAmount) AS RevenueAmount, Sum(ExpenseAmount) As ExpenseAmount
--FROM   RevenueSummary AS RS
----INNER JOIN Service_Payment_Sub AS SPS ON ADS.S_ID = SPS.S_ID 
--INNER JOIN BasicDataInfo.dbo.Hospital AS Hosp ON RS.Hospital_ID = Hosp.Hospital_ID 				 
----WHERE (FromDate =  @FromDate and ToDate =  @ToDate)
--GROUP BY Hosp.Hospital_Name,FromDate,ToDate





--select count(S_id) as TotalPatient,
--sum(S_Total) as TotalRevenue,5 as TotalExpense,
--6 as CovidPatients from Patient_Services_Data












--select * from  Patient_Services_Data

--select * from  RevenueSummary

--select * from  BasicDataInfo.dbo.Payment

--select * from  Hospital

--select * from Admin_Service_Category

--select 
--PSD.Id as Patient_ID,
--PSD.Hospital_id,
--PSD.HospitalName,
--PSD.S_Total as Revenue,
--PSD.S_id as Service_ID --Patient_Type_ID
--from Patient_Services_Data as PSD

--select 
--RS.Hospital_ID,
--RS.RevenueAmount as Revenue,
--Rs.ExpenseAmount as Expense
--FROM   RevenueSummary RS

--select 
--p.Patient_Type_ID as Service_ID,
--p.Patient_Type as Service_Type
--from BasicDataInfo.dbo.Payment p

--select 
--H.Hospital_ID,
--H.Hospital_Name,
--H.Region_Id,
--H.Region_Name 
--from Hospital H






CREATE procedure [dbo].[Dashbord_With_Details]
@qtype int,
@HospitalID int = 0
as
begin 
	if @qtype=1
	begin
		
		
		
		select 
		sum(RS.NOP) as TotalPatient,
		sum(cast(ISNULL(RS.RevenueAmount,0) as float)) as TotalRevenue, 
		sum(cast(ISNULL(Rs.ExpenseAmount,0) as float)) as TotalExpense 
		from  RevenueSummary RS 
		Where (RS.Hospital_id =@HospitalID or @HospitalID=0)
	end
	else if @qtype=2
	begin
		select 
		H.Region_Id,
		H.Region_Name,
		
		sum(RS.NOP) as TotalPatient,
		sum(cast(ISNULL(RS.RevenueAmount,0) as float)) as TotalRevenue, 
		sum(cast(ISNULL(Rs.ExpenseAmount,0) as float)) as TotalExpense 
		from  RevenueSummary RS 
		
		 JOIN Hospital H on RS.Hospital_id=H.Hospital_ID
		GROUP BY H.Region_Id,H.Region_Name
	end
	if @qtype=3
	begin
		select 
		rs.Hospital_id,
		h.Hospital_Name HospitalName,
		sum(RS.NOP) as TotalPatient,
		sum(cast(ISNULL(RS.RevenueAmount,0) as float)) as TotalRevenue, 
		sum(cast(ISNULL(Rs.ExpenseAmount,0) as float)) as TotalExpense 
		from RevenueSummary RS join Hospital as H on h.Hospital_ID=rs.Hospital_id
		
		
		GROUP BY rs.Hospital_id,h.Hospital_Name
	end
	if @qtype=4
	begin
		select
		PSD.S_id as Service_ID,
		'IPD' as PatientType,
		Count(PSD.Id) as TotalPatient,
		sum(cast(ISNULL(PSD.S_Total,0) as float)) as TotalRevenue, 
		sum(cast(ISNULL(Rs.ExpenseAmount,0) as float)) as TotalExpense 
		from Patient_Services_Data PSD
		LEFT JOIN RevenueSummary RS on PSD.Hospital_id=RS.Hospital_ID
		--LEFT JOIN BasicDataInfo.dbo.Payment p on PSD.S_id=p.Patient_Type_ID
		GROUP BY PSD.S_id
	end
--select 
--PSD.Id as Patient_ID,
--PSD.Hospital_id,
--PSD.HospitalName,
--H.Region_Id,
--H.Region_Name,
--PSD.S_Total as Revenue,
--Rs.ExpenseAmount as Expense,
--PSD.S_id as Service_ID, --Patient_Type_ID
--p.Patient_Type as Service_Type
--from Patient_Services_Data as PSD
--LEFT OUTER JOIN RevenueSummary RS on PSD.Hospital_id=RS.Hospital_ID
--LEFT OUTER JOIN Hospital H on PSD.Hospital_id=H.Hospital_ID
--LEFT OUTER JOIN BasicDataInfo.dbo.Payment p on PSD.S_id=p.Patient_Type_ID
end



GO
/****** Object:  StoredProcedure [dbo].[FinanceDataUpload]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec FinanceDataUpload  
CREATE PROCEDURE [dbo].[FinanceDataUpload] 
    @SDate Datetime = '19000101',
    @EDate Datetime = '19000101',
	@Data Varchar(max) OUTPUT 
AS

BEGIN
	Declare @CDate Datetime = GetDate();
	if @SDate ='19000101'
	begin
		Set @SDate = DateAdd(day,-1,@CDate);
	end
	if @EDate ='19000101'
	begin
		Set @EDate = @CDate;
	end
	 

	
	Select  @Data =
	(Select E.E_Code C, E.E_Name CN ,Convert(varchar,H.For_Date,112) D, Sum(Case when D.Cr_Dr_Action_Id =1 then   D.Amount else 0 end) DA, Sum(Case when D.Cr_Dr_Action_Id =2 then   D.Amount else 0 end) CA, D.CostCenterID CC
	,A.Account_No P ,A.Account_Title PN,H.Financial_Company_Id FI,H.Company_Branch_Id CI,G.Hospital_ID HI
	from Finance.dbo.Receipt_Disbursement_AccountHeads H 
	Inner join Finance.dbo.Reciept_Disbursement_Detail D	On H.Voucher_Trans_Id = D.Voucher_Trans_Id
	Inner join Finance.dbo.Expenditure E					On E.E_Code = D.Account_Head_id
	left outer join Finance.dbo.Account_Titles A			On A.Account_No = D.Party_ID
	Inner join Finance.dbo.Group_Company_Branches G			On H.Company_Branch_Id = G.Company_Branch_Id
	--where For_Date >= @SDate and For_Date <= @EDate
	Group by	E.E_Code , E.E_Name ,Convert(varchar,H.For_Date,112), D.CostCenterID ,H.Financial_Company_Id ,H.Company_Branch_Id ,A.Account_No  ,A.Account_Title,G.Hospital_ID 
	
	for xml PATH,root('Data'))  --raw , root('Data') 

	select @Data

END
 

GO
/****** Object:  StoredProcedure [dbo].[Get_TotalNoOFBooking]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_TotalNoOFBooking] 
	-- Add the parameters for the stored procedure here
@FromDate date,
@ToDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select count(*) totalPatient,TG.TGName 
	from BasicDataInfo.dbo.Path_Result_Delivery PRS
inner join BasicDataInfo.dbo.Test_Booking_Services TBS on PRS.Main_ID=TBS.Main_ID
inner join BasicDataInfo.dbo.Test_Booking TB on TBS.TB_ID=TB.TB_ID
inner join BasicDataInfo.dbo.TestGroup TG on TB.MG_ID=TG.TGID
where PRS.Sample_Collection_Date BETWEEN @FromDate AND @ToDate
Group by TG.TGName

END
GO
/****** Object:  StoredProcedure [dbo].[Get_TotalNoOfPatientType]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_TotalNoOfPatientType]
	-- Add the parameters for the stored procedure here
@FromDate date,
@ToDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select  count(PT.Patient_Type_ID) as totalPatient,PT.Patient_type
 from BasicDataInfo.dbo.Payment P
inner join BasicDataInfo.dbo.Patient_type PT on P.Patient_Type_ID=PT.ID
inner join BasicDataInfo.dbo.path_Result_Delivery PRS on P.RegNo=PRS.Reg_no and P.PayID=PRS.Yearly_No
where PRS.Sample_Collection_Date BETWEEN @FromDate AND @ToDate
group by PT.Patient_type 
END
GO
/****** Object:  StoredProcedure [dbo].[GetDashBoardSummary]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDashBoardSummary]
@HospitalID int,
@FromDate date,
@ToDate date

--@DesignationID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT 	Hosp.Hospital_Name,FromDate,ToDate, COUNT(NOP) AS NOP, Count(NOS) As NOS, SUM(RevenueAmount) AS RevenueAmount, Sum(ExpenseAmount) As ExpenseAmount
FROM   RevenueSummary AS RS
				  --INNER JOIN Service_Payment_Sub AS SPS ON ADS.S_ID = SPS.S_ID 
				  INNER JOIN BasicDataInfo.dbo.Hospital AS Hosp ON RS.Hospital_ID = Hosp.Hospital_ID 
				 
--WHERE (FromDate =  @FromDate and ToDate =  @ToDate)

    
GROUP BY Hosp.Hospital_Name,FromDate,ToDate
END
GO
/****** Object:  StoredProcedure [dbo].[getTestMenu]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTestMenu]
as
begin
select Distinct 
tm1.id,
tm1.menu,
tm1.parentID,
tm1.icon
from testmenu tm1
end



--getTestMenu
GO
/****** Object:  StoredProcedure [dbo].[InsertUploadData]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUploadData] 
    @HospID int = 0,

    @Data Varchar(max)  ='<Data><row><C>3301002</C><CN>Pharmacy Stock</CN><D>20210625</D><DA>0.000</DA><CA>231.852</CA><CC>9</CC><FI>1</FI><CI>1</CI></row><row><C>3301002</C><CN>Pharmacy Stock</CN><D>20210702</D><DA>0.000</DA><CA>6.852</CA><CC>9</CC><FI>1</FI><CI>1</CI></row><row><C>3301002</C><CN>Pharmacy Stock</CN><D>20210706</D><DA>0.000</DA><CA>20.000</CA><CC>9</CC><FI>1</FI><CI>1</CI></row><row><C>3301002</C><CN>Pharmacy Stock</CN><D>20210707</D><DA>0.000</DA><CA>180.480</CA><CC>9</CC><FI>1</FI><CI>1</CI></row><row><C>5110002</C><CN>Medicine Cost</CN><D>20210625</D><DA>231.852</DA><CA>0.000</CA><CC>9</CC><FI>1</FI><CI>1</CI></row><row><C>5110002</C><CN>Medicine Cost</CN><D>20210702</D><DA>6.852</DA><CA>0.000</CA><CC>9</CC><FI>1</FI><CI>1</CI></row><row><C>5110002</C><CN>Medicine Cost</CN><D>20210706</D><DA>20.000</DA><CA>0.000</CA><CC>9</CC><FI>1</FI><CI>1</CI></row><row><C>5110002</C><CN>Medicine Cost</CN><D>20210707</D><DA>180.480</DA><CA>0.000</CA><CC>9</CC><FI>1</FI><CI>1</CI></row></Data>'
AS

BEGIN
	Declare @Voucher_Trans_ID Numeric(18,0);
	Declare @XMLData as XML = @Data;
	

INSERT INTO [Dashboard].[dbo].[Financial_Data]
           ([COA_Head]										,[COA_HeadName]								,[For_Date]           
		   ,[Dr_Amount]										,[Cr_Amount]								,[Cost_Center_id]         
		   ,[Party_Name]									,[Party_Code]								,[FInancial_Company_id]  
		   ,[Financial_Branch_id]							,[Hospital_id])
    


	--Insert @tblData (Amount,VDate,Account_Head_id,Cr_Dr_Action_Id,CostCenterID)
	Select  Tbl.Col.value('C[1]', 'varchar(50)'),			Tbl.Col.value('CN[1]', 'varchar(150)'),			Tbl.Col.value('D[1]', 'DateTime'),
			Tbl.Col.value('DA[1]', 'Numeric(18,0)'),		Tbl.Col.value('CA[1]', 'Numeric(18,0)'),		Tbl.Col.value('CC[1]', 'Int'),
			Tbl.Col.value('P[1]', 'varchar(150)'),			Tbl.Col.value('PN[1]', 'varchar(150)'),			Tbl.Col.value('FI[1]', 'Int'),
			Tbl.Col.value('CI[1]', 'Numeric(18,0)'),		Tbl.Col.value('HI[1]', 'Numeric(18,0)')

	from @XMLData.nodes('//Data/row') Tbl(Col);

	
	--insert Finance.dbo.Receipt_Disbursement_AccountHeads
	--(For_Date, Trans_Datetime,Voucher_No,Company_Branch_Id)
	--Select top(1) VDate,VDate,'JV-'+Convert(Varchar,VDate,112),@HospID from @tblData;
	
	--Set @Voucher_Trans_ID = SCOPE_IDENTITY();

	--Insert Finance.dbo.Reciept_Disbursement_Detail
	--(Voucher_Trans_Id,Account_Head_id,Amount, Cr_Dr_Action_Id,CostCenterID)
	--Select @Voucher_Trans_ID, T.Account_Head_id, T.Amount,T.Cr_Dr_Action_Id,T.CostCenterID from @tblData T;


END
GO
/****** Object:  StoredProcedure [dbo].[usp_DashBoard_Data]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[usp_DashBoard_Data]
as
begin
select count(S_id) as TotalPatient,sum(S_Total) as TotalRevenue,5 as TotalExpense,6 as CovidPatients from Patient_Services_Data
end
GO
/****** Object:  StoredProcedure [dbo].[usp_DashboardDetail]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_DashboardDetail]
-- Add the parameters for the stored procedure here
@FromDate datetime,
@ToDate datetime,
@HospitalID int=0,
@ChartType int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if( @ChartType=1)
	Begin
	select HospitalName,S_Name,S_Qty as TotalPatient ,S_Total as Amount  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And Hospital_id=@HospitalID 
		
	
		end
		Else
		begin

	if( @ChartType=2)
	Begin
	
	select HospitalName,S_Name,S_Qty as TotalPatient ,S_Total as Amount  from Patient_Services_Data
	 where DateTime BETWEEN @FromDate AND @ToDate And Hospital_id=@HospitalID 
		
		end
		
	if( @ChartType=3)
	Begin
	
	select HospitalName,S_Name,S_Qty as TotalPatient ,S_Total as Amount  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate  
		
		end
		if( @ChartType=4)
	Begin
	
	select HospitalName,S_Name,S_Qty as TotalPatient ,S_Total as Amount  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And Hospital_id=@HospitalID 
		
		end
		if( @ChartType=5)
	Begin
	
	select HospitalName,S_Name,S_Qty as TotalPatient ,S_Total as Amount  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And Hospital_id=@HospitalID   
		
		end
		if( @ChartType=6)
	Begin
	
	select HospitalName,S_Name,S_Qty as TotalPatient ,S_Total as Amount  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And Hospital_id=@HospitalID 
		
		end
		if( @ChartType=7)
	Begin
	
	select HospitalName,S_Name,S_Qty as TotalPatient ,S_Total as Amount  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And Hospital_id=@HospitalID  
		
		end
		if( @ChartType=8)
	Begin
	
	select HospitalName,S_Name,S_Qty as TotalPatient ,S_Total as Amount  from Patient_Services_Data
		where DateTime BETWEEN @FromDate AND @ToDate And Hospital_id=@HospitalID 
		
		end
		end
END
GO
/****** Object:  StoredProcedure [dbo].[uspgetadminservicesdata]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspgetadminservicesdata]
@startdate datetime,
@enddate datetime,
@HospitalID int

As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 10 [S_ID]
      ,[S_Category]
      ,[S_Name]
      ,[S_Amount]
      ,[SH_ID]
      ,isnull(S_PaymentBefore,0)S_PaymentBefore
      ,isnull(ServId,0)ServId
      ,[Edit_Status]
      ,isnull(S_Procedure,0)S_Procedure
      ,isnull(Priority,0)Priority
      ,[Account_Head_ID]
      ,[Display_Rate]
      ,isnull(Send_out_lab,0)Send_out_lab
      ,isnull(S_code,0)S_code
      ,[Group_Category]
      ,[Cost_Centre]
      ,[Active]
  FROM [Dashboard].[dbo].[Admin_Services]
END
GO
/****** Object:  StoredProcedure [dbo].[ViewFinanceDataUpload]    Script Date: 10/26/2025 5:13:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ViewFinanceDataUpload] 
    @SDate Datetime = '19000101',
    @EDate Datetime = '19000101'
	
AS

BEGIN
	Declare @CDate Datetime = GetDate();
	if @SDate ='19000101'
	begin
		Set @SDate = DateAdd(day,-1,@CDate);
	end
	if @EDate ='19000101'
	begin
		Set @EDate = @CDate;
	end
	 
	--Select @Data =(
	Select top 10  Sum(D.Amount) A,Convert(varchar,H.For_Date,112) D, D.Account_Head_id H,D.Cr_Dr_Action_Id CD, D.CostCenterID CC
	from Finance.dbo.Receipt_Disbursement_AccountHeads H 
	Inner join Finance.dbo.Reciept_Disbursement_Detail D 
	On H.Voucher_Trans_Id = D.Voucher_Trans_Id
	--where For_Date >= @SDate and For_Date <= @EDate
	Group by	H.For_Date, D.Account_Head_id,D.Cr_Dr_Action_Id, D.CostCenterID
	
	--for xml PATH,root('Data'))  --raw , root('Data') 

	--select @Data

END
 

GO
USE [master]
GO
