USE [master]
GO
/****** Object:  Database [DutyRoaster]    Script Date: 10/26/2025 5:13:37 PM ******/
CREATE DATABASE [DutyRoaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DutyRoaster', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DutyRoaster.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DutyRoaster_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DutyRoaster_log.ldf' , SIZE = 1792KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DutyRoaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DutyRoaster]
GO
/****** Object:  View [dbo].[admin_Hospital_Wards]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view   [dbo].[admin_Hospital_Wards] as
 select * from BasicDataInfo.dbo.admin_Hospital_Wards
GO
/****** Object:  View [dbo].[Department]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Department] as 
select * from HR.dbo.Department
GO
/****** Object:  View [dbo].[Designation]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Designation] as 
select * from HR.dbo.Designation

GO
/****** Object:  View [dbo].[Employee]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Employee] as 
select * from HR.dbo.Employee
GO
/****** Object:  View [dbo].[Hospital]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Hospital] as 
select * from HR.dbo.Hospital
GO
/****** Object:  View [dbo].[Leave_Types]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Leave_Types]
AS
SELECT Leave_Type_Id
      ,Leave_Type_Name
      ,Encashment
      ,Gender_ID
      ,Carries_Forward
      ,Description
      ,Hospital_ID
      ,leave_abb
  FROM [Leave_Management].[dbo].[Leave_Types]




GO
/****** Object:  View [dbo].[SubDepartment]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SubDepartment] as 
select * from HR.dbo.SubDepartment
GO
/****** Object:  Table [dbo].[Admin_DutyRoster]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_DutyRoster](
	[Duty_Roster_ID] [int] IDENTITY(1,1) NOT NULL,
	[Shift_ID] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[DeptID] [int] NULL,
	[SubDeptId] [int] NULL,
 CONSTRAINT [PK_emp_DutyShift] PRIMARY KEY CLUSTERED 
(
	[Duty_Roster_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Employee_Duty_Roster]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Employee_Duty_Roster](
	[Emp_ID] [int] NOT NULL,
	[Duty_Roster_ID] [int] NOT NULL,
	[Duty_Start_Date] [datetime] NOT NULL,
	[Duty_End_Date] [datetime] NOT NULL,
	[Week_Day] [int] NOT NULL,
	[Emp_Duty_Roster] [int] IDENTITY(1,1) NOT NULL,
	[Date_time] [datetime] NULL,
	[Ward_Id] [int] NULL,
	[DpetID] [int] NULL,
	[SubDeptID] [int] NULL,
 CONSTRAINT [PK_Emp_shift_1] PRIMARY KEY CLUSTERED 
(
	[Emp_Duty_Roster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Shift]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Shift](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [varchar](100) NOT NULL,
	[Description] [varchar](100) NULL,
	[Abberivation] [varchar](50) NULL,
 CONSTRAINT [PK_Admin_Shift] PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calender]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calender](
	[Calender_Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeReportingAuthority]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeReportingAuthority](
	[ReportingID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[SubDeptID] [int] NULL,
 CONSTRAINT [PK_EmployeeReportingAuthority]]] PRIMARY KEY CLUSTERED 
(
	[ReportingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Week_Day]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Week_Day](
	[Day_ID] [int] NULL,
	[Day_Name] [varchar](50) NULL,
	[Day_Abbr] [varchar](3) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin_Employee_Duty_Roster] ADD  CONSTRAINT [DF_Admin_Employee_Duty_Roster_Date_time]  DEFAULT (getdate()) FOR [Date_time]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeReportingAuthorityDept]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE procedure  [dbo].[GetEmployeeReportingAuthorityDept]
@HospitalId int,
@EmpId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		select SubDept_Name, SubDept_Id
		from SubDepartment
                        join Department on Department.Dept_ID=SubDepartment.Dept_Id
		where Department.Hospital_ID=@HospitalId and	SubDept_Id in ( 
				
		select e.SubDeptID 
		from subdepartment sub 
		inner join EmployeeReportingAuthority e on e.SubDeptID=sub.SubDept_Id where e.EmpID=@EmpId
		
		) ORDER BY SubDept_Id


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Dept]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[Select_Dept]
	-- Add the parameters for the stored procedure here

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Select statements for procedure here
SELECT     Department.Dept_ID, Department.Dept_Name as Dept_Name, Department.Dept_Location, Department.Dept_PhoneNo, Department.Dept_FaxNo, Employee.EmpID, 
                      ISNULL(Employee.EFName, '') + ' ' + ISNULL(Employee.EMName, '') + ' ' + ISNULL(Employee.ELName, '') AS Name
FROM         Hospital INNER JOIN
                      Department ON Hospital.Hospital_ID = Department.Hospital_ID LEFT OUTER JOIN
                      Employee ON Department.Head_of_Department = Employee.EmpID
ORDER BY Department.Dept_Name


END










GO
/****** Object:  StoredProcedure [dbo].[Select_Shift_Dept]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[Select_Shift_Dept]    Script Date: 1/4/2017 9:42:07 PM ******/

CREATE Procedure [dbo].[Select_Shift_Dept]
@Dept_id int = 0
as
begin
if @Dept_id = 0
SELECT     Department.Dept_Name, SubDepartment.SubDept_Name, Admin_Shift.ShiftName, CONVERT(varchar,cast( Admin_DutyRoster.StartTime as time), 100) AS start_Time, 
                      CONVERT(varchar,cast( Admin_DutyRoster.EndTime as time), 100) AS End_Time, Admin_DutyRoster.Duty_Roster_ID
FROM         Admin_DutyRoster INNER JOIN
                      Department ON Admin_DutyRoster.DeptID = Department.Dept_ID INNER JOIN
                      SubDepartment ON Admin_DutyRoster.SubDeptId = SubDepartment.SubDept_Id INNER JOIN
                      Admin_Shift ON Admin_DutyRoster.Shift_ID = Admin_Shift.ShiftID
else
SELECT     Department.Dept_Name, SubDepartment.SubDept_Name, Admin_Shift.ShiftName, CONVERT(varchar,CAST( Admin_DutyRoster.StartTime as time), 100) AS start_Time, 
                      CONVERT(varchar,CAST( Admin_DutyRoster.EndTime as time), 100) AS End_Time, Admin_DutyRoster.Duty_Roster_ID
FROM         Admin_DutyRoster INNER JOIN
                      Department ON Admin_DutyRoster.DeptID = Department.Dept_ID INNER JOIN
                      SubDepartment ON Admin_DutyRoster.SubDeptId = SubDepartment.SubDept_Id INNER JOIN
                      Admin_Shift ON Admin_DutyRoster.Shift_ID = Admin_Shift.ShiftID
WHERE     (Department.Dept_ID = @Dept_id)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDutyRoster]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Shoaib anjum>
-- Create date: <Create 11-09-2012>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[sp_InsertDutyRoster] 
(
@Duty_Roster_ID INT,
@Emp_ID INT,
@Start_Duty_Date VARCHAR(50),
@Duty_End_Date VARCHAR(50),
@Ward_Id VARCHAR(50),
@deptID int,
@subdept int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		DECLARE @day VARCHAR(50);
		SET @day = (SELECT DATENAME(dw, @Start_Duty_Date))
		set @day = (SELECT Day_ID FROM Week_Day WHERE Day_Name = @day)
		
		
		
		INSERT INTO  Admin_Employee_Duty_Roster
                     (Duty_Roster_ID, Emp_ID, Duty_Start_Date, Duty_End_Date, Week_Day, Ward_Id, Date_time,DpetID,SubDeptID)
		VALUES       (@Duty_Roster_ID,@Emp_ID,@Start_Duty_Date,@Duty_End_Date,@day ,@Ward_Id, GETDATE(),@deptID,@subdept)
		
		
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SearchDuties]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Shoaib anjum>
-- Create date: <Create Date, 04-09-2013>
-- Description:	<Description,,>
-- =============================================

--exec sp_SearchDuties '1/4/2017 12:00:00 AM','1/4/2017 12:00:00 AM',7,161
--exec sp_SearchDuties @stDate=N'12/29/2016 1:13:17 PM',@edDate=N'1/5/2017 1:13:17 PM',@deptid=N'6',@subdeptid=N'171'
CREATE PROCEDURE [dbo].[sp_SearchDuties]
(
@stDate datetime,
@edDate datetime,
@deptid as int,
@subdeptid as int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		
	Set @stDate = CAST(FLOOR(CAST(@stDate AS float)) AS datetime);
	Set @edDate = CAST(FLOOR(CAST(@edDate AS float)) AS datetime);
	SELECT     ISNULL(Employee.Prefix, ' ') + ' ' + ISNULL(Employee.EFName, ' ') + ' ' + ISNULL(Employee.EMName, ' ') + ' ' + ISNULL(Employee.ELName, ' ') AS EMPLOYEE_NAME, 
					case when Admin_Employee_Duty_Roster.Duty_Start_Date IS null then 	  Calender.Calender_Date else Admin_Employee_Duty_Roster.Duty_Start_Date End as Duty_Start_Date
				, case when Admin_Employee_Duty_Roster.Duty_End_Date IS null then 	  Calender.Calender_Date else Admin_Employee_Duty_Roster.Duty_End_Date end as Duty_End_Date,
						 CONVERT(varchar,isnull(Admin_DutyRoster.StartTime,''),108) +'-'+ CONVERT(varchar,isnull(Admin_DutyRoster.EndTime,''),108) as ShiftTime,
						   Admin_Employee_Duty_Roster.Week_Day, 
						   Calender.Calender_Date Date_time, Admin_Employee_Duty_Roster.Ward_Id, Admin_Employee_Duty_Roster.Emp_Duty_Roster, Admin_Shift.ShiftName
	FROM         Admin_Employee_Duty_Roster LEFT OUTER JOIN
						  Admin_DutyRoster ON Admin_Employee_Duty_Roster.Duty_Roster_ID = Admin_DutyRoster.Duty_Roster_ID LEFT OUTER JOIN
						  Admin_Shift ON Admin_DutyRoster.Shift_ID = Admin_Shift.ShiftID LEFT OUTER JOIN
						  Employee ON Admin_Employee_Duty_Roster.Emp_ID = Employee.EmpID RIGHT OUTER JOIN
                      Calender ON Admin_Employee_Duty_Roster.Duty_Start_Date = Calender.Calender_Date
	WHERE    (Admin_Employee_Duty_Roster.DpetID=@deptid and Admin_Employee_Duty_Roster.SubDeptID=@subdeptid
								
								)   AND 
	(CAST( Calender.Calender_Date AS  datetime) 
						  BETWEEN @stdate AND @eddate)
	ORDER BY Calender.Calender_Date, Admin_Employee_Duty_Roster.Duty_Start_Date, Admin_Employee_Duty_Roster.Duty_End_Date, Admin_Employee_Duty_Roster.Week_Day
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SelectEmployees]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Shoaib anjum>
-- Create date: <10-09-2013>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SelectEmployees]
(

@deptid as int,
@subdeptid as INT,
@onDate DATETIME
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SET @OnDate = (CAST(FLOOR(CAST(@OnDate AS FLOAT)) AS DATETIME))
	
	SELECT     Employee.EmpID, ISNULL(Employee.Prefix, ' ') + ' ' + ISNULL(Employee.EFName, ' ') + ' ' + ISNULL(Employee.EMName, ' ') 
			   + ' ' + ISNULL(Employee.ELName, ' ') + ' (' + Designation.Designation_Name + ') ' AS empolyeeName, 
			   Employee.DeptID, Employee.SubDeptId
	FROM       Employee 
			   INNER JOIN Designation ON Employee.DesignationID = Designation.Designation_ID
	WHERE      (Employee.EmpID NOT IN
					(SELECT Emp_ID 
					 FROM Admin_Employee_Duty_Roster
			         WHERE (CAST( Duty_Start_Date  as date) =cast( @OnDate as date))
					 -- AND 
					 --Employee.DeptID = @DeptID AND Employee.SubDeptId = @SubDeptID
					 ))
	 AND (Employee.DeptID = @DeptID) AND (Employee.SubDeptId = @SubDeptID)
END




GO
/****** Object:  StoredProcedure [dbo].[usp_GetAuthorityEmployeeDepartments]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[usp_GetAuthorityEmployeeDepartments]
@empid int
as
begin
SELECT SD.SubDept_Name + ' ( ' + HS.Hospital_Abb + ' )' As SubDept_Name, SD.SubDept_Id  FROM SubDepartment SD
inner join Department D on SD.Dept_Id = d.Dept_ID
inner join Hospital HS on D.Hospital_ID = HS.Hospital_ID
inner join EmployeeReportingAuthority on SD.SubDept_Id =EmployeeReportingAuthority.SubDeptID

where EmployeeReportingAuthority.EmpID= @empid order by SubDept_Name
end
GO
/****** Object:  StoredProcedure [dbo].[uspDisplayMarkAuthority]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[uspDisplayMarkAuthority]
@EmpID int
as 
begin
select er.ReportingID,
 isnull(e.EFName,'')+isnull(e.EMName,'')+isnull(e.ELName,'') as Employee_Name,
 e.EmpID,sd.SubDept_Name as SubDepT_Name,case when ISNULL(er.ReportingID,1)=1 then convert(bit,1) else convert(bit,0) end is_assigned
  from 
Employee e 
left outer join EmployeeReportingAuthority as er on e.EmpID=er.EmpID 
inner join SubDepartment sd on Sd.SubDept_Id=er.SubDeptID

 where er.EmpID=@EmpID


 end
GO
/****** Object:  StoredProcedure [dbo].[uspInsertEmployeeReportingAuthority]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[uspInsertEmployeeReportingAuthority]
@EmpID int,
@status int out,
@ddlsubdeptReporting int


as begin
if not exists(select  * from EmployeeReportingAuthority er where EmpID=@EmpID and SubDeptID=@ddlsubdeptReporting)
begin 

insert into   EmployeeReportingAuthority (EmpID,SubDeptID) VALUES (@EmpID,@ddlsubdeptReporting)
set @status=1
end
else
 begin
 set @status=2
 end

end
GO
/****** Object:  StoredProcedure [dbo].[uspSelectEmpForDutyRoaster]    Script Date: 10/26/2025 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[uspSelectEmpForDutyRoaster]


 @Date_Start datetime,
 @Date_End as datetime,
  @SubDeptID int,
 @DeptID int
 
as begin

SELECT     Employee.EmpID, ISNULL(Employee.Prefix, ' ') + ' ' + ISNULL(Employee.EFName, ' ') + ' ' + ISNULL(Employee.EMName, ' ') + ' ' + ISNULL(Employee.ELName, ' ') + ' (' + Designation.Designation_Name + ') ' AS empolyeeName,
 Employee.DeptID, Employee.SubDeptId FROM  Employee INNER JOIN                  
     Designation ON Employee.DesignationID = Designation.Designation_ID 
WHERE     (Employee.EmpID NOT IN  
 (SELECT Emp_ID FROM Admin_Employee_Duty_Roster  where    ( cast(Duty_Start_Date as date) = cast( @Date_Start as date) AND ( cast (Duty_End_Date as date) =cast( @Date_End as date)))) 
 AND (Employee.DeptID = @DeptID) AND (Employee.SubDeptId = @SubDeptID))

 end
GO
USE [master]
GO
