USE [master]
GO
/****** Object:  Database [ICD10]    Script Date: 10/26/2025 5:15:14 PM ******/
CREATE DATABASE [ICD10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ICD10', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ICD10.mdf' , SIZE = 43072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ICD10_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ICD10_log.ldf' , SIZE = 13632KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ICD10].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [ICD10]
GO
/****** Object:  User [lgh]    Script Date: 10/26/2025 5:15:14 PM ******/
CREATE USER [lgh] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BA_Segment]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BA_Segment](
	[BAS_Id] [int] NOT NULL,
	[BAS_Code] [varchar](50) NOT NULL,
	[BA_Id] [int] NOT NULL,
	[BAS_Name] [varchar](50) NOT NULL,
	[BAS_Description] [varchar](4000) NULL,
	[BAS_Pic_Path] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Body_Area]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Body_Area](
	[BA_Id] [int] NOT NULL,
	[BA_Code] [varchar](50) NOT NULL,
	[BA_Name] [varchar](50) NOT NULL,
	[BA_Description] [varchar](2000) NULL,
	[BA_Pic_Path] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chapters_detail]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chapters_detail](
	[D_ID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[Field1] [nvarchar](max) NULL,
	[Field2] [nvarchar](max) NULL,
	[Field3] [nvarchar](max) NULL,
	[Field4] [nvarchar](max) NULL,
	[Field5] [nvarchar](255) NULL,
	[Field6] [nvarchar](255) NULL,
	[Field7] [nvarchar](255) NULL,
	[Field8] [nvarchar](255) NULL,
	[Field9] [nvarchar](255) NULL,
	[Field10] [nvarchar](255) NULL,
	[Field11] [nvarchar](255) NULL,
	[Field12] [nvarchar](255) NULL,
 CONSTRAINT [PK_chapters_detail] PRIMARY KEY CLUSTERED 
(
	[D_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fracture_Types]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fracture_Types](
	[FT_Id] [int] NOT NULL,
	[Ft_Code] [varchar](50) NOT NULL,
	[Ft_Name] [varchar](50) NOT NULL,
	[Ft_Description] [varchar](200) NULL,
	[Ft_Pic_Path] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICD10_Chapter]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICD10_Chapter](
	[chap_No] [int] NOT NULL,
	[blocks] [varchar](10) NULL,
	[chapTitle] [varchar](300) NULL,
 CONSTRAINT [PK_ICD10_Chapter] PRIMARY KEY CLUSTERED 
(
	[chap_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICD10_DiseaseSection]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICD10_DiseaseSection](
	[chapNo] [varchar](50) NULL,
	[dsCode] [varchar](100) NULL,
	[sectionID] [varchar](50) NULL,
	[Title] [varchar](max) NULL,
	[conInclude] [varchar](500) NULL,
	[conExclude] [varchar](500) NULL,
	[othCondition] [varchar](500) NULL,
	[D_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ICD10_DiseaseSection] PRIMARY KEY CLUSTERED 
(
	[D_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICD10_DiseaseSubGroup]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICD10_DiseaseSubGroup](
	[chapNO] [varchar](50) NULL,
	[dscode] [varchar](50) NULL,
	[sectionID] [varchar](50) NULL,
	[dgCode] [varchar](50) NULL,
	[Title] [varchar](max) NULL,
	[conInclude] [varchar](500) NULL,
	[conExclude] [varchar](500) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ICD10_DiseaseSubGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pt_Classification_Save]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pt_Classification_Save](
	[RegNo] [varchar](50) NULL,
	[YearlyNo] [numeric](18, 0) NULL,
	[SCM_id] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Segment_Classification_Main]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Segment_Classification_Main](
	[SCM_id] [int] NOT NULL,
	[SCM_Code] [varchar](50) NOT NULL,
	[BAS_Id] [int] NOT NULL,
	[Ft_Code] [int] NOT NULL,
	[SCM_Name] [varchar](50) NOT NULL,
	[SCM_Description] [varchar](4000) NULL,
	[SCM_Class] [char](2) NULL,
	[SCM_Pic_Path] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Segment_Classification_Sub]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Segment_Classification_Sub](
	[SCS_id] [int] NOT NULL,
	[SCM_id] [int] NOT NULL,
	[SCS_Code] [varchar](50) NOT NULL,
	[SCS_Name] [varchar](50) NOT NULL,
	[SCS_Description] [varchar](200) NULL,
	[SCS_Pic_Path] [varchar](100) NULL,
	[SCS_Pic_Path2] [varchar](100) NULL,
	[SCS_Pic_Path3] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ICD10_Select_SubCodes]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Muhammad Aun Abbas>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ICD10_Select_SubCodes]
	-- Add the parameters for the stored procedure here
	@icd10code  varchar(10)
	
AS
declare @icd10char1 varchar(10),
@icd10char2 varchar(10),
@icd10digits varchar(10),
@restemp varchar(10)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
set @icd10char1=substring(@icd10code ,1,1) 
set @icd10char2=substring(@icd10code ,2,2) 
print @icd10char1
print @icd10char2


select  @restemp = Chap_No from icd10_chapters
where blocks like '%'+@icd10char1+'%' and startrange <= @icd10char2 and endrange >= @icd10char2

if(@restemp =1)
select * from Chapter1
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =2)
select * from Chapter2
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =3)
select * from Chapter3
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =4)
select * from Chapter4
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =5)
select * from Chapter5
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =6)
select * from Chapter6
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =7)
select * from Chapter7
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =8)
select * from Chapter8
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =9)
select * from Chapter9
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =10)
select * from Chapter10
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =11)
select * from Chapter11
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =12)
select * from Chapter12
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =13)
select * from Chapter13
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =14)
select * from Chapter14
where field1 like '%'+@icd10Code+'%'
order by ID


if(@restemp =15)
select * from Chapter15
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =16)
select * from Chapter16
where field1 like '%'+@icd10Code+'%'
order by ID

if(@restemp =17)
select * from Chapter17
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =18)
select * from Chapter18
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =19)
select * from Chapter19
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =20)
select * from Chapter20
where field1 like '%'+@icd10Code+'%'
order by ID
if(@restemp =21)
select * from Chapter21
where field1 like '%'+@icd10Code+'%'
order by ID

END


GO
/****** Object:  StoredProcedure [dbo].[Select_Classification_Sub]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Imran Ahmed Awan >
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_Classification_Sub]
	-- Add the parameters for the stored procedure here
@SCM_id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     SCS_Pic_Path, SCS_Pic_Path2, SCS_Pic_Path3, SCS_id, SCS_Name,SCS_Code
FROM         Segment_Classification_Sub
WHERE     (SCM_id = @SCM_id)
END


GO
/****** Object:  StoredProcedure [dbo].[Select_Segment_Classification_Main]    Script Date: 10/26/2025 5:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Imran AHmed Awan>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_Segment_Classification_Main]
	-- Add the parameters for the stored procedure here
@BAS_Id int 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     Segment_Classification_Main.SCM_Pic_Path, Segment_Classification_Main.SCM_id, Segment_Classification_Main.SCM_Code, 
                      Segment_Classification_Main.SCM_Name, Fracture_Types.Ft_Name, Fracture_Types.Ft_Pic_Path, Fracture_Types.FT_Id
FROM         Segment_Classification_Main INNER JOIN
                      Fracture_Types ON Segment_Classification_Main.Ft_Code = Fracture_Types.FT_Id
 WHERE (BAS_Id =@BAS_Id)
order by Segment_Classification_Main.Ft_Code
END

GO
USE [master]
GO
