USE [master]
GO
/****** Object:  Database [Landry]    Script Date: 10/26/2025 5:16:13 PM ******/
CREATE DATABASE [Landry]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Landry', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Landry.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Landry_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Landry_log.ldf' , SIZE = 1792KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Landry].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Landry]
GO
/****** Object:  View [dbo].[Department]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Department]
AS
SELECT     Dept_ID, Dept_Name, Dept_Location, Dept_PhoneNo, Dept_FaxNo, Dept_MainPage, Hospital_ID, Head_of_Department
FROM         BasicDataInfo.dbo.Department
GO
/****** Object:  View [dbo].[Employee]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Employee]
AS
SELECT     EmpID, Prefix, EFName, EMName, ELName, JoinDate, CNIC, DesignationID, PayScale, HPhoneNo, OphoneNo, OfficeAdd, HomeAdd, SexID, DeptID, 
                      SubDeptId, Profession_Code
FROM         BasicDataInfo.dbo.Employee
GO
/****** Object:  View [dbo].[Medicine_Request_Track]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Medicine_Request_Track]
AS
SELECT     IB_ID, By_Emp_ID, By_Dept_ID, Date_Time, Complete_By_Emp_ID, Complete_By_Dept_ID, Completion_Date, Request_Status
FROM         STORE.dbo.Medicine_Request_Track
GO
/****** Object:  View [dbo].[Non_Medicine_Indent_Book_Sub]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Non_Medicine_Indent_Book_Sub]
AS
SELECT     IB_ID, Item_Code, Item_Qty
FROM         STORE.dbo.Non_Medicine_Indent_Book_Sub
GO
/****** Object:  View [dbo].[Non_Medicine_Items]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Non_Medicine_Items]
AS
SELECT     Item_Code, Item_Name, Item_Unit, Dept_ID, Manufacturer, Category
FROM         STORE.dbo.Non_Medicine_Items
GO
/****** Object:  View [dbo].[SubDepartment]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SubDepartment]
AS
SELECT     SubDept_Id, SubDept_Name, SubDept_Location, Dept_Id, SubDept_PhoneNo, SubDept_FaxNo, SubDept_MainPage, [order]
FROM         BasicDataInfo.dbo.SubDepartment
GO
/****** Object:  Table [dbo].[Admin_Ward]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Ward](
	[Ward_ID] [int] NOT NULL,
	[W_Name] [varchar](100) NOT NULL,
	[W_Location] [varchar](300) NOT NULL,
	[W_Type] [varchar](100) NOT NULL,
	[Charge_Per_Bed] [int] NOT NULL,
	[Dept_Id] [int] NULL,
	[W_Category] [varchar](50) NULL,
	[Bed_No_Start] [int] NULL,
	[Bed_No_End] [int] NULL,
	[Max_Beds] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cloth_Recieve_Detail]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cloth_Recieve_Detail](
	[Rlr_id] [int] NULL,
	[Cr_id] [int] IDENTITY(1,1) NOT NULL,
	[Cloth_id] [int] NULL,
	[qty] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Cloth_Recieve_Detail] PRIMARY KEY CLUSTERED 
(
	[Cr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cloth_recieve_Master]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cloth_recieve_Master](
	[Rlr_id] [int] IDENTITY(1,1) NOT NULL,
	[Date_of_recieve] [datetime] NOT NULL,
	[emp_id] [int] NULL,
	[status] [bit] NOT NULL,
	[senderDeptId] [int] NULL,
	[senderSubDeptId] [int] NULL,
 CONSTRAINT [PK_cloth_recieve_Master] PRIMARY KEY CLUSTERED 
(
	[Rlr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentWard]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentWard](
	[DeptId] [int] NOT NULL,
	[WardID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Received_Main]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Received_Main](
	[Requisition_Id] [varchar](50) NOT NULL,
	[Item_Receive_Id] [int] IDENTITY(1,1) NOT NULL,
	[datetime] [datetime] NOT NULL,
	[EmpId] [int] NULL,
 CONSTRAINT [PK_Item_Received_Main] PRIMARY KEY CLUSTERED 
(
	[Item_Receive_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Received_Sub]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Received_Sub](
	[Item_Receive_Id] [int] NOT NULL,
	[Item_Code] [int] NOT NULL,
	[Item_Qty] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Stock]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Stock](
	[Item_Code] [int] NOT NULL,
	[Item_Name] [varchar](50) NOT NULL,
	[Qty] [int] NOT NULL,
 CONSTRAINT [PK_Item_Stock] PRIMARY KEY CLUSTERED 
(
	[Item_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Landry_cloth]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Landry_cloth](
	[Cloth_id] [int] IDENTITY(1,1) NOT NULL,
	[Cloth_name] [varchar](50) NOT NULL,
	[Cloth_Color] [bit] NULL,
 CONSTRAINT [PK_Landry_cloth] PRIMARY KEY CLUSTERED 
(
	[Cloth_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandryRequest_Detail]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandryRequest_Detail](
	[Detail_id] [int] IDENTITY(1,1) NOT NULL,
	[Lr_id] [numeric](18, 0) NOT NULL,
	[Cloth_id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_LandryRequest_Detail] PRIMARY KEY CLUSTERED 
(
	[Detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandryRequest_Master]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandryRequest_Master](
	[Lr_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Dept_id] [int] NOT NULL,
	[Sub_dept_id] [int] NOT NULL,
	[Date_of_sent] [datetime] NOT NULL,
	[emp_id] [int] NOT NULL,
	[Remarks] [varchar](200) NULL,
 CONSTRAINT [PK_LandryRequest_Master] PRIMARY KEY CLUSTERED 
(
	[Lr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laundry_Machines]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laundry_Machines](
	[Machine_Id] [int] IDENTITY(1,1) NOT NULL,
	[Machine_Name] [varchar](200) NOT NULL,
	[Capacity] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Manufacturer] [varchar](100) NULL,
	[Machine_Catagory_Id] [int] NOT NULL,
 CONSTRAINT [PK_Laundry_Machines] PRIMARY KEY CLUSTERED 
(
	[Machine_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_Category]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_Category](
	[Machine_Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Machine_Category_Name] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Machine_Catagory] PRIMARY KEY CLUSTERED 
(
	[Machine_Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_Remarks]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_Remarks](
	[Machine_id] [int] NOT NULL,
	[Remarks] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_Status]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_Status](
	[Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[Machine_id] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_Machine_Status] PRIMARY KEY CLUSTERED 
(
	[Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pending_Stock]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pending_Stock](
	[DeptId] [int] NOT NULL,
	[SubDeptId] [int] NOT NULL,
	[ClothId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Pending_Stock] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC,
	[SubDeptId] ASC,
	[ClothId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Update_Qty]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Update_Qty](
	[qty] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cloth_Recieve_Detail] ADD  CONSTRAINT [DF_Cloth_Recieve_Detail_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[cloth_recieve_Master] ADD  CONSTRAINT [DF_cloth_recieve_Master_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Item_Received_Main] ADD  CONSTRAINT [DF_Item_Received_Main_datetime]  DEFAULT (getdate()) FOR [datetime]
GO
ALTER TABLE [dbo].[LandryRequest_Detail] ADD  CONSTRAINT [DF_LandryRequest_Detail_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Machine_Status] ADD  CONSTRAINT [DF_Machine_Status_Time]  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[Cloth_Recieve_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Cloth_Recieve_Detail_cloth_recieve_Master] FOREIGN KEY([Rlr_id])
REFERENCES [dbo].[cloth_recieve_Master] ([Rlr_id])
GO
ALTER TABLE [dbo].[Cloth_Recieve_Detail] CHECK CONSTRAINT [FK_Cloth_Recieve_Detail_cloth_recieve_Master]
GO
ALTER TABLE [dbo].[LandryRequest_Detail]  WITH CHECK ADD  CONSTRAINT [FK_LandryRequest_Detail_LandryRequest_Master] FOREIGN KEY([Lr_id])
REFERENCES [dbo].[LandryRequest_Master] ([Lr_id])
GO
ALTER TABLE [dbo].[LandryRequest_Detail] CHECK CONSTRAINT [FK_LandryRequest_Detail_LandryRequest_Master]
GO
/****** Object:  StoredProcedure [dbo].[delete_request]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[delete_request]
	-- Add the parameters for the stored procedure here
	@Lr_id int,
@cloth_id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [Landry].[dbo].[LandryRequest_Detail]
   WHERE Lr_id=@Lr_id and Cloth_id=@cloth_id

---------------------------------------------------------------------------------------------------------

DELETE FROM [Landry].[dbo].[LandryRequest_Master]
   WHERE Lr_id=@Lr_id 
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_cloth]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_cloth]
	-- Add the parameters for the stored procedure here
@Cloth_name  varchar(50),
@Cloth_Color bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

INSERT INTO Landry_cloth
                      (Cloth_name, Cloth_Color)
VALUES     (@Cloth_name,@Cloth_Color)
END

GO
/****** Object:  StoredProcedure [dbo].[Insert_Recieve_All]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_Recieve_All]
	-- Add the parameters for the stored procedure here
	        --@Lr_id numeric
           @Date_of_recieve datetime
           ,@emp_id int
--           ,@Rlr_id int
           ,@Cloth_id int
           ,@qty int,
            @senderDeptId int,
@senderSubDeptId int 
--,@status bit
           ,@Id int output

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
INSERT INTO [Landry].[dbo].[cloth_recieve_Master]
           (
           Date_of_recieve
--,Status
           ,emp_id,
senderDeptId,senderSubDeptId)
     VALUES
           (
           @Date_of_recieve
--,@status
           ,@emp_id,
@senderDeptId,@senderSubDeptId)

-----------------------------------------------------------------------------------
set @Id=@@identity
INSERT INTO [Landry].[dbo].[Cloth_Recieve_Detail]
           (Rlr_id
           ,Cloth_id
           ,qty)
     VALUES
           (@Id
           ,@Cloth_id
           ,@qty)

END





GO
/****** Object:  StoredProcedure [dbo].[Insert_RecieveDetail]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_RecieveDetail]
	-- Add the parameters for the stored procedure here
	        @Rlr_id int
           ,@Cloth_id int
           ,@qty int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

INSERT INTO [Landry].[dbo].[Cloth_Recieve_Detail]
           ([Rlr_id]
           ,[Cloth_id]
           ,[qty])
     VALUES
           (@Rlr_id
           ,@Cloth_id
           ,@qty)
END


GO
/****** Object:  StoredProcedure [dbo].[Insert_request_all]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_request_all]
	-- Add the parameters for the stored procedure here
	        @Dept_id int
           ,@Sub_dept_id int
           ,@Date_of_sent datetime
           ,@emp_id int
           ,@Remarks  varchar(200)
--          ,@status  bit
           ,@Cloth_id int
           ,@Quantity int ,
@ID int output

AS 


BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [Landry].[dbo].[LandryRequest_Master]
           (
            Dept_id 
           ,Sub_dept_id
           ,Date_of_sent
           ,emp_id
           ,Remarks)
--,Status ) 
     VALUES
           (@Dept_id
           ,@Sub_dept_id
           ,@Date_of_sent
           ,@emp_id
           ,@Remarks)
--,@status)

----------------------------------------------------------------------------------------------------
set @ID= @@identity
INSERT INTO [Landry].[dbo].[LandryRequest_Detail]
           (Lr_id
           ,Cloth_id
           ,Quantity)
     VALUES
           (@ID
           ,@Cloth_id
           ,@Quantity)

END





GO
/****** Object:  StoredProcedure [dbo].[insert_Request_detail]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insert_Request_detail]
	-- Add the parameters for the stored procedure here
	@Lr_id numeric
           ,@Cloth_id int
           ,@Quantity int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
INSERT INTO [Landry].[dbo].[LandryRequest_Detail]
           (Lr_id
           ,Cloth_id
           ,Quantity)
     VALUES
           (@Lr_id
           ,@Cloth_id
           ,@Quantity)
END

GO
/****** Object:  StoredProcedure [dbo].[Laundry_Insert_Received_Items]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Laundry_Insert_Received_Items]
	-- Add the parameters for the stored procedure here
@Item_Code varchar(50),
@Item_Qty varchar(50),
@Item_Name varchar(50),
@Requisition_Id varchar(50),
@EmpId varchar(50)
AS
declare @Item_Receive_Id int
declare @count int
declare @count1 as int
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
select @count=count(*) from [Item_Received_Main] where [Requisition_Id]=@Requisition_Id
if @count=0
begin
INSERT INTO [Landry].[dbo].[Item_Received_Main]
           ([Requisition_Id],[EmpId])
     VALUES(@Requisition_Id,convert(int,@EmpId))
set  @Item_Receive_Id=@@Identity
end
else
begin
select @Item_Receive_Id=Item_Receive_Id from Item_Received_Main where [Requisition_Id]=@Requisition_Id
end
INSERT INTO [Landry].[dbo].[Item_Received_Sub]
           ([Item_Receive_Id]
           ,[Item_Code]
           ,[Item_Qty])
     VALUES
           (@Item_Receive_Id
           ,convert(int,@Item_Code)
           ,convert(int,@Item_Qty))
select @count1=count(*) from Item_Stock where Item_Code=@Item_Code
if @count1>0
begin
UPDATE    Item_Stock
SET              Qty = Qty+@Item_Qty
WHERE     (Item_Code = @Item_Code)
end
else
begin
INSERT INTO Item_Stock
                      (Item_Code, Item_Name, Qty)
VALUES     (@Item_Code,@Item_Name,@Item_Qty)
end
END


GO
/****** Object:  StoredProcedure [dbo].[Maintain_Stock]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Maintain_Stock]
	-- Add the parameters for the stored procedure here
	@qty int
AS
declare @quantity as int
declare @qty1 as int
declare @qty2 as int
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
select @quantity= qty+@qty from Update_Qty
if @quantity>100
begin
	select  @qty1=qty + @qty from Update_Qty 
	set @qty2=@qty1-100
	UPDATE Update_Qty SET qty = @qty2
    UPDATE    Item_Stock SET Qty =Qty - 1
end
else
begin
	UPDATE Update_Qty SET qty =qty + @qty 
end
END



GO
/****** Object:  StoredProcedure [dbo].[RecieveClothReport]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RecieveClothReport]
	-- Add the parameters for the stored procedure here
	@StartDate datetime,
@EndDate datetime,
@emp_id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     Employee.Prefix + ' ' +isnull(Employee.EFName,'') + ' ' + isnull(Employee.EMName,'') + '' +isnull(Employee.ELName,'') AS Name, Landry_cloth.Cloth_name, 
                      Cloth_Recieve_Detail.qty, CONVERT(varchar, cloth_recieve_Master.Date_of_recieve, 107) AS Date, Employee.EmpID, Department.Dept_Name, 
                      SubDepartment.SubDept_Name, cloth_recieve_Master.emp_id
FROM         Department INNER JOIN
                      Employee ON Department.Dept_ID = Employee.DeptID INNER JOIN
                      SubDepartment ON Employee.SubDeptId = SubDepartment.SubDept_Id INNER JOIN
                      cloth_recieve_Master INNER JOIN
                      Cloth_Recieve_Detail ON cloth_recieve_Master.Rlr_id = Cloth_Recieve_Detail.Rlr_id INNER JOIN
                      Landry_cloth ON Cloth_Recieve_Detail.Cloth_id = Landry_cloth.Cloth_id ON Employee.DeptID = cloth_recieve_Master.senderDeptId
where cloth_recieve_Master.Date_of_recieve between @StartDate and @EndDate and Employee.EmpID=@emp_id
END

GO
/****** Object:  StoredProcedure [dbo].[select_quantity]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[select_quantity] 
	-- Add the parameters for the stored procedure here
--	@cloth_id int,
@Lr_id numeric(18, 0)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     Landry_cloth.Cloth_name, LandryRequest_Detail.Quantity, LandryRequest_Detail.Lr_id, Landry_cloth.Cloth_id
FROM         Landry_cloth INNER JOIN
                      LandryRequest_Detail ON Landry_cloth.Cloth_id = LandryRequest_Detail.Cloth_id
WHERE  LandryRequest_Detail.Lr_id=@Lr_id 
--and LandryRequest_Detail.Cloth_id = @cloth_id 
 
END



GO
/****** Object:  StoredProcedure [dbo].[selectClothRecieve]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[selectClothRecieve]
	-- Add the parameters for the stored procedure here
@emp_id int
--@emp_id1 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--SELECT     Employee.Prefix + ' ' + Employee.EFName + ' ' + Employee.EMName + '' + Employee.ELName AS Name1 from Employee
--where  (Employee.EmpID = @emp_id1)
SELECT     Employee.Prefix + ' ' + Employee.EFName + ' ' + Employee.EMName + ' ' + Employee.ELName AS Name, Landry_cloth.Cloth_name, 
                      Cloth_Recieve_Detail.qty, CONVERT(varchar, cloth_recieve_Master.Date_of_recieve, 107) AS Date, Employee.EmpID, Department.Dept_Name, 
                      SubDepartment.SubDept_Name
FROM         cloth_recieve_Master INNER JOIN
                      Cloth_Recieve_Detail ON cloth_recieve_Master.Rlr_id = Cloth_Recieve_Detail.Rlr_id INNER JOIN
                      Landry_cloth ON Cloth_Recieve_Detail.Cloth_id = Landry_cloth.Cloth_id INNER JOIN
                      Employee ON cloth_recieve_Master.emp_id = Employee.EmpID INNER JOIN
                      Department ON cloth_recieve_Master.senderDeptId = Department.Dept_ID INNER JOIN
                      SubDepartment ON cloth_recieve_Master.senderSubDeptId = SubDepartment.SubDept_Id WHERE (Employee.EmpID = @emp_id)
END

GO
/****** Object:  StoredProcedure [dbo].[SelectCountQuantity]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectCountQuantity] 
	-- Add the parameters for the stored procedure here
@emp_id int 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT DISTINCT SUM(LandryRequest_Detail.Quantity) AS Total_quantity
FROM         LandryRequest_Detail INNER JOIN
                      LandryRequest_Master ON LandryRequest_Detail.Lr_id = LandryRequest_Master.Lr_id
where  LandryRequest_Detail.Status=0 
and emp_id=@emp_id
END







GO
/****** Object:  StoredProcedure [dbo].[SelectCountQuantity1]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectCountQuantity1] 
	-- Add the parameters for the stored procedure here
--@emp_id int 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT DISTINCT SUM(LandryRequest_Detail.Quantity) AS Total_quantity
FROM         LandryRequest_Detail INNER JOIN
                      LandryRequest_Master ON LandryRequest_Detail.Lr_id = LandryRequest_Master.Lr_id
where LandryRequest_Detail.Status=0 
--where emp_id=@emp_id
END




GO
/****** Object:  StoredProcedure [dbo].[SelectRequests]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectRequests]
	-- Add the parameters for the stored procedure here
	@empId int,
@StartDate datetime ,
@EndDate datetime 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     Landry_cloth.Cloth_name, LandryRequest_Detail.Quantity, LandryRequest_Master.Remarks, SubDepartment.SubDept_Name, Department.Dept_Name, 
                      CONVERT(varchar, LandryRequest_Master.Date_of_sent, 107) AS Date, ISNULL(Employee.Prefix, ' ') + ' ' + ISNULL(Employee.EFName, '  ') 
                      + ' ' + ISNULL(Employee.EMName, '  ') + '  ' + ISNULL(Employee.ELName, ' ') AS EmployeeName, LandryRequest_Master.Lr_id, Employee.EmpID,
                     LandryRequest_Master.Date_of_sent
FROM         LandryRequest_Master INNER JOIN
                      LandryRequest_Detail ON LandryRequest_Master.Lr_id = LandryRequest_Detail.Lr_id INNER JOIN
                      Landry_cloth ON LandryRequest_Detail.Cloth_id = Landry_cloth.Cloth_id INNER JOIN
                      Department ON LandryRequest_Master.Dept_id = Department.Dept_ID INNER JOIN
                      Employee ON LandryRequest_Master.emp_id = Employee.EmpID INNER JOIN
                      SubDepartment ON LandryRequest_Master.Sub_dept_id = SubDepartment.SubDept_Id
WHERE     (Employee.EmpID = @empId) and  LandryRequest_Master.Date_of_sent between @StartDate and @EndDate
ORDER BY LandryRequest_Master.Lr_id
 --(LandryRequest_Detail.Status = 0) AND
END



GO
/****** Object:  StoredProcedure [dbo].[Stock_Item]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Stock_Item]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT     Item_Code, Item_Name, Qty
FROM         Item_Stock
END


GO
/****** Object:  StoredProcedure [dbo].[Update_Quantity]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_Quantity]
	-- Add the parameters for the stored procedure here
@DeptId int,
@SubDeptId int,
@ClothId int,
@Qty int,
@Detail_id int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
if @DeptId not in 	
(SELECT     DeptId
FROM         Pending_Stock
where DeptId=@DeptId and subDeptId=@SubDeptId and ClothId=@ClothId)
begin
INSERT INTO Pending_Stock(DeptId, SubDeptId, ClothId, Quantity)
 VALUES (@DeptId, @SubDeptId, @ClothId, @Qty)
Update LandryRequest_Detail set status = 1
where Detail_id=@Detail_id

end
else
begin

update Pending_Stock 
set Quantity=(Quantity+@Qty) 
where (DeptId=@DeptId) and (subDeptId=@SubDeptId) and (ClothId=@ClothId)
Update LandryRequest_Detail set status = 1
where  Detail_id=@Detail_id
end
END


GO
/****** Object:  StoredProcedure [dbo].[Update_ReceiveMaster_Status]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_ReceiveMaster_Status]
	-- Add the parameters for the stored procedure here
@Cr_id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Cloth_Recieve_Detail set status= 1
 where Cr_id=@Cr_id
END


GO
/****** Object:  StoredProcedure [dbo].[Update_Subtruct_PendingStock]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_Subtruct_PendingStock]
	-- Add the parameters for the stored procedure here
@DeptId int,
@SubDeptId int,
@ClothId int,
@Qty int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

update Pending_Stock 
set Quantity=(Quantity-@Qty) 
where (DeptId=@DeptId) and (subDeptId=@SubDeptId) and (ClothId=@ClothId)

END




GO
/****** Object:  StoredProcedure [dbo].[UserLogin]    Script Date: 10/26/2025 5:16:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UserLogin] 
	-- Add the parameters for the stored procedure here
		@Username varchar(20),
	@Password varchar(20),
@Ward_id int output,
	@EmpId int  output,
	@DeptId int output,
	@MainPage varchar(300)output,
@subdeptId int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



SELECT    @EmpId= Employee.EmpID,@MainPage= Login.MainPage,@ward_id= Admin_Ward.Ward_ID,@DeptId= Employee.DeptID,@subdeptid= Employee.SubDeptId
FROM         Login INNER JOIN
                      Employee ON Login.EmpID = Employee.EmpID INNER JOIN
                      Admin_Ward ON Employee.DeptID = Admin_Ward.Dept_Id
where [login].UserName=@Username and [login].Password=@Password
END







GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Department_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 151
               Right = 372
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1455
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Employee_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 200
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Employee'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Employee'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Medicine_Request_Track_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Medicine_Request_Track'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Medicine_Request_Track'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Non_Medicine_Indent_Book_Sub (STORE.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 164
               Right = 396
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Non_Medicine_Indent_Book_Sub'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Non_Medicine_Indent_Book_Sub'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Non_Medicine_Items_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Non_Medicine_Items'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Non_Medicine_Items'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SubDepartment_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SubDepartment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SubDepartment'
GO
USE [master]
GO
