USE [master]
GO
/****** Object:  Database [LocalDashBoard]    Script Date: 10/26/2025 5:17:32 PM ******/
CREATE DATABASE [LocalDashBoard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LocalDashBoard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LocalDashBoard.mdf' , SIZE = 314368KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LocalDashBoard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LocalDashBoard_log.ldf' , SIZE = 2876352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LocalDashBoard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LocalDashBoard]
GO
/****** Object:  Table [dbo].[BatchNo]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchNo](
	[BatchID] [numeric](18, 0) NULL,
	[TotalAmount] [numeric](18, 0) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDailyExpense]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDailyExpense](
	[LSID] [int] IDENTITY(1,1) NOT NULL,
	[For_Date] [datetime] NULL,
	[E_Code] [varchar](50) NULL,
	[EName] [varchar](150) NULL,
	[Amount] [decimal](18, 0) NULL,
	[HospitalId] [int] NULL,
	[HospitalName] [varchar](150) NULL,
	[recDate] [datetime] NULL,
	[uploadBatchID] [int] NULL,
	[DataFrom] [varchar](50) NULL,
	[insertDate] [datetime] NULL,
	[HospitalSerial] [numeric](18, 0) NULL,
	[Import] [bit] NOT NULL,
 CONSTRAINT [PK_LocalDailyExpense] PRIMARY KEY CLUSTERED 
(
	[LSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDailyPatient]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDailyPatient](
	[LSId] [int] IDENTITY(1,1) NOT NULL,
	[subDeptID] [int] NULL,
	[totalPatient] [int] NULL,
	[opdIpd] [varchar](50) NULL,
	[hospitalID] [int] NULL,
	[fromSubDeptID] [int] NULL,
	[recDate] [datetime] NULL,
	[uploadBatchID] [int] NULL,
	[DataFrom] [varchar](50) NULL,
	[insertDate] [datetime] NULL,
	[SubdeptName] [varchar](150) NULL,
	[HospitalName] [varchar](150) NULL,
	[Subdept_Id] [int] NULL,
	[For_Date] [datetime] NULL,
	[Import] [bit] NOT NULL,
 CONSTRAINT [PK_LocalDailyPatient] PRIMARY KEY CLUSTERED 
(
	[LSId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDashBoardPathologyPatientCount]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDashBoardPathologyPatientCount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VisitDate] [datetime] NULL,
	[SubDeptid] [int] NULL,
	[SubdeptName] [varchar](250) NULL,
	[TotalPatient] [int] NULL,
	[OPDIPD] [varchar](50) NULL,
	[HospitalID] [int] NULL,
	[HospitalName] [varchar](150) NULL,
	[SubDept_id] [int] NULL,
	[Import] [bit] NOT NULL,
	[HospitalSerial] [int] NULL,
 CONSTRAINT [PK_LocalDashBoardPathologyPatientCount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDashBoardPharmacyPatientCount]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDashBoardPharmacyPatientCount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VisitDate] [datetime] NULL,
	[SubDeptid] [int] NULL,
	[SubdeptName] [varchar](250) NULL,
	[TotalPatient] [int] NULL,
	[OPDIPD] [varchar](50) NULL,
	[HospitalID] [int] NULL,
	[HospitalName] [varchar](150) NULL,
	[SubDept_id] [int] NULL,
	[Import] [bit] NOT NULL,
	[HospitalSerial] [int] NULL,
 CONSTRAINT [PK_LocalDashBoardPharmacyPatientCount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDashBoardRadiologyPatientCount]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDashBoardRadiologyPatientCount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VisitDate] [datetime] NULL,
	[SubDeptid] [int] NULL,
	[SubdeptName] [varchar](250) NULL,
	[TotalPatient] [int] NULL,
	[OPDIPD] [varchar](50) NULL,
	[HospitalID] [int] NULL,
	[HospitalName] [varchar](150) NULL,
	[SubDept_id] [int] NULL,
	[Import] [bit] NOT NULL,
	[HospitalSerial] [int] NULL,
 CONSTRAINT [PK_LocalDashBoardRadiologyPatientCount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LSId] [int] NULL,
	[SubDeptID] [int] NULL,
	[TBName] [nvarchar](50) NULL,
	[Message] [nvarchar](150) NULL,
	[Status] [bit] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientIncomeData]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientIncomeData](
	[LSId] [int] IDENTITY(1,1) NOT NULL,
	[Hospital_id] [int] NULL,
	[DateTime] [datetime] NULL,
	[Cost_Centerid] [int] NULL,
	[S_id] [int] NULL,
	[S_Name] [varchar](250) NULL,
	[S_Qty] [int] NULL,
	[S_Total] [int] NULL,
	[HospitalName] [varchar](200) NULL,
	[Cost_CenterName] [varchar](100) NULL,
	[S_Discount] [int] NULL,
	[status] [varchar](50) NULL,
	[Patient_Type] [varchar](50) NULL,
	[Patient_Type_ID] [int] NULL,
	[Party_ID] [numeric](18, 0) NULL,
	[SubdeptID] [int] NULL,
	[SubdeptName] [varchar](150) NULL,
	[For_Date] [datetime] NULL,
	[RefundAmount] [int] NULL,
	[Import] [bit] NOT NULL,
	[BatchNo] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PatientIncomeData] PRIMARY KEY CLUSTERED 
(
	[LSId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tempRaazi]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempRaazi](
	[lsid] [int] IDENTITY(1,1) NOT NULL,
	[opdIpd] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTT]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTT](
	[lsid] [int] IDENTITY(1,1) NOT NULL,
	[s_qty] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocalDailyExpense] ADD  CONSTRAINT [DF_LocalDailyExpense_Import]  DEFAULT ((0)) FOR [Import]
GO
ALTER TABLE [dbo].[LocalDailyPatient] ADD  CONSTRAINT [DF_LocalDailyPatient_Import]  DEFAULT ((0)) FOR [Import]
GO
ALTER TABLE [dbo].[LocalDashBoardPathologyPatientCount] ADD  CONSTRAINT [DF_LocalDashBoardPathologyPatientCount_Import]  DEFAULT ((0)) FOR [Import]
GO
ALTER TABLE [dbo].[LocalDashBoardPharmacyPatientCount] ADD  CONSTRAINT [DF_LocalDashBoardPharmacyPatientCount_Import]  DEFAULT ((0)) FOR [Import]
GO
ALTER TABLE [dbo].[LocalDashBoardRadiologyPatientCount] ADD  CONSTRAINT [DF_LocalDashBoardRadiologyPatientCount_Import]  DEFAULT ((0)) FOR [Import]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_Time]  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[PatientIncomeData] ADD  CONSTRAINT [DF_PatientIncomeData_Import]  DEFAULT ((0)) FOR [Import]
GO
ALTER TABLE [dbo].[PatientIncomeData] ADD  CONSTRAINT [DF_PatientIncomeData_BatchNo]  DEFAULT ((0)) FOR [BatchNo]
GO
/****** Object:  StoredProcedure [dbo].[LocalDashboardPatientCountSummaryReport_Api]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--execute LocalDBDashboard_GetServices_Data_Api 1
CREATE PROCEDURE [dbo].[LocalDashboardPatientCountSummaryReport_Api]
@Start_Date datetime,
@End_Date datetime,
@OPDIPD varchar(50)='All'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select convert(varchar,SDate,107) as SDate,sum(totalPatient) totalPatient,
	sum(No_of_Services)No_of_Services,sum(Revenue) Revenue,CountType 
	from (
	

	    select DPC.recDate as SDate, sum(TotalPatient) TotalPatient,0 No_of_Services,0 Revenue,  'Hospital'  as CountType 
		from LocalDailyPatient DPC
		WHERE     (DPC.recDate >= CAST(@Start_Date AS date)) 
		AND (DPC.recDate < CAST(DATEADD(DAY, 1, @End_Date) AS date))
		and (@OPDIPD ='All' or dpc.opdIpd=@OPDIPD )
		--and (Subdept_Id not in (15,28,36,38))
		group by DPC.recDate
		union all
		select PPC.VisitDate as SDate, sum(TotalPatient) TotalPatient,0 No_of_Services,0 Revenue,'Pathology' as CountType from LocalDashBoardPathologyPatientCount PPC
		WHERE     (PPC.VisitDate >= CAST(@Start_Date AS date)) 
		AND (PPC.VisitDate < CAST(DATEADD(DAY, 1, @End_Date) AS date))
		group by PPC.VisitDate 
		union all
		select RPC.VisitDate as SDate, sum(TotalPatient) TotalPatient,0 No_of_Services,0 Revenue,'Radiology' as CountType from LocalDashBoardRadiologyPatientCount RPC
		WHERE     (RPC.VisitDate >= CAST(@Start_Date AS date)) 
		AND (RPC.VisitDate < CAST(DATEADD(DAY, 1, @End_Date) AS date))
		group by RPC.VisitDate 
		union all
		select PHPC.VisitDate as SDate, sum(TotalPatient) TotalPatient,0 No_of_Services,0 Revenue,'Pharmacy' as CountType from LocalDashBoardPharmacyPatientCount PHPC
		WHERE     (PHPC.VisitDate >= CAST(@Start_Date AS date)) 
		AND (PHPC.VisitDate < CAST(DATEADD(DAY, 1, @End_Date) AS date))
		group by PHPC.VisitDate
		union all

		select PID.DateTime as SDate, 0 TotalPatient,sum(s_qty) No_of_Services,sum(s_Total) Revenue,
		
		ADC.Main_Category  as CountType
		from PatientIncomeData PID
		join BasicDataInfo.dbo.Admin_Services ADS on ads.S_ID=PID.S_id
		join BasicDataInfo.dbo.Admin_Service_Category ADC on ADC.Asc_id=ADS.S_Category
		
	  
		WHERE     (PID.DateTime >= CAST(@Start_Date AS date)) 
		AND (PID.DateTime < CAST(DATEADD(DAY, 1, @End_Date) AS date))
		and (@OPDIPD ='All' or PID.Patient_Type=@OPDIPD )
		group by PID.DateTime,SubdeptName,ADC.Main_Category
		)A
		group by CountType ,SDate

		


END
GO
/****** Object:  StoredProcedure [dbo].[MissingLogRecord]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[MissingLogRecord]
@LSId int,
@TBName Varchar(50),
@SubDeptID int ,
@Message varchar(150)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	Insert into Log (LSId,TBName,SubDeptID,Message) values (@LSId,@TBName,@SubDeptID,@Message)

	
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateMissingLogRecord]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[UpdateMissingLogRecord]
@count int Output
AS
BEGIN
	
	
	select @count=count(*) from Log where Status =0

	update log
	set Status=1 where status=0
	  set @count=  ISNULL(@count,0);
	 

END



GO
/****** Object:  StoredProcedure [dbo].[UploadDashboardexpenceData_Api]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--execute LocalDBDashboard_GetServices_Data_Api 1
CREATE PROCEDURE [dbo].[UploadDashboardexpenceData_Api]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
		
	select  isnull(LocalDailyExpense.E_Code,'') as E_Code, LocalDailyExpense.EName Ename ,sum(LocalDailyExpense.Amount) Amount,
	convert(datetime, convert(varchar,LocalDailyExpense.recDate,112)) as For_Date ,
	HospitalId HospitalId ,HospitalName as HospitalName ,LSID
	 from LocalDailyExpense
	where LocalDailyExpense.import=0

	group by HospitalId,HospitalName,LocalDailyExpense.EName,LocalDailyExpense.recDate,isnull(LocalDailyExpense.E_Code,''),LSID


	


END
GO
/****** Object:  StoredProcedure [dbo].[UploadDashboardPatientCount_Api]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--execute UploadDashboardPatientCount_Api  
-- =============================================
CREATE PROCEDURE [dbo].[UploadDashboardPatientCount_Api]
--@LastImportDate datetime,@HospitalId int
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

declare @Datefrom datetime
declare @DateTo datetime
--select @DateTo=cast(getdate() as date)
--set @Datefrom =DATEADD(day,-1,@DateTo)
--select @Datefrom,@DateTo

	--==============================Attach Hospital Id
	
Select        convert(datetime, convert(varchar,recDate,112)) as VisitDate, SubDeptid as SubDeptid,SubDeptName SubdeptName ,sum(totalPatient) as TotalPatient,
opdIpd OPDIPD,HospitalID,HospitalName,SubdeptId Subdept_Id,LSId
from  LocalDailyPatient LDP

where  LDP.Import=0
--Date_time>=@Datefrom and Date_time<@DateTo
and (subDeptID not in (15,28,36,38))
group by convert(varchar,recDate,112), SubDeptid,opdIpd,SubDeptName,hospitalID,HospitalName,LSId



union All

select  convert(datetime, convert(varchar,VisitDate,112)) as VisitDate, 
15 as SubDeptid,'Pathology' SubdeptName ,sum(TotalPatient) as TotalPatient,
 OPDIPD,HospitalID,HospitalName,15 SubDept_id,ID LSId
from LocalDashBoardPathologyPatientCount prd 
where  import=0
group by convert(varchar,VisitDate,112),HospitalID,HospitalName,ID,OPDIPD

union All

select  convert(datetime, convert(varchar,VisitDate,112)) as VisitDate, 
38 as SubDeptid,'Radiology'  SubdeptName ,sum(TotalPatient) as TotalPatient,
 OPDIPD,HospitalID,HospitalName,SubDept_id,ID as LSID
from LocalDashBoardRadiologyPatientCount prd 
where  import=0 --and SubDept_id in (36,38)
group by convert(varchar,VisitDate,112),SubDeptid,SubDept_id,SubdeptName,HospitalID,HospitalName,ID,OPDIPD

union All
select  convert(datetime, convert(varchar,VisitDate,112)) as VisitDate, 
28 as SubDeptid,'Pharmacy' SubdeptName ,sum(TotalPatient) as TotalPatient,
 OPDIPD,HospitalID,HospitalName,28 SubDept_id,ID as LSID
from LocalDashBoardPharmacyPatientCount CM 

where import=0

group by convert(varchar,VisitDate,112),HospitalID,HospitalName,ID,OPDIPD


END
GO
/****** Object:  StoredProcedure [dbo].[UploadDashboardServicesData_Api]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--execute LocalDBDashboard_GetServices_Data_Api 1
CREATE PROCEDURE [dbo].[UploadDashboardServicesData_Api]
@HospitalId int	=1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
		SELECT  B.S_ID,B.S_Name, B.Amount,B.Qty,isnull(B.Discount,0)Discount,B.sdate,B.HospitalId,B.Hospital_Name,
		B.CostCenterID,B.CostCenterName,B.Status,B.Patient_Type,B.Patient_Type_ID,B.Party_ID ,SubdeptID,SubdeptName,B.RefundAmount,LSId   from

		
		(
	     
			SELECT  ISNULL(PID.S_ID,0) S_ID,ISNULL(PID.S_Name,'') S_Name,SUM(ISNULL(PID.S_Total,0)) AS Amount,Convert(int,(ISNULL(sum(PID.S_Qty),0))) as Qty,
			isnull(PID.S_Discount,0) AS Discount,cast(PID.DateTime as date) AS sdate
			,ISNULL(PID.Hospital_id,0) HospitalId,ISNULL(HospitalName,'') Hospital_Name,
			ISNULL(PID.Cost_Centerid,0) CostCenterID,
			case when ISNULL(ADC.Main_Category  ,'')='Pharmacy' then 'Pharmacy' when ISNULL(ADC.Main_Category  ,'')='Radiology' then 'Radiology'
			when ISNULL(ADC.Main_Category  ,'')='Pathology' then 'Pathology' else 'Hospital' end as
			CostCenterName,
			PID.Status,PID.Patient_Type
			,PID.Patient_Type_ID,Convert(int,isnull(PID.Party_ID,0)) Party_ID,PID.SubdeptID as SubdeptID,PID.SubdeptName SubdeptName,
			isnull(PID.RefundAmount,0) RefundAmount,LSId
			FROM PatientIncomeData PID
			join BasicDataInfo.dbo.Admin_Services ADS on ads.S_ID=PID.S_id
			join BasicDataInfo.dbo.Admin_Service_Category ADC on adc.Asc_id=ads.S_Category
			WHERE import=0
			
			
			GROUP BY cast(PID.DateTime as date),PID.S_ID,PID.S_Name,ISNULL(PID.Hospital_id,0),ISNULL(HospitalName,''),PID.Cost_Centerid,
			case when ISNULL(ADC.Main_Category  ,'')='Pharmacy' then 'Pharmacy' when ISNULL(ADC.Main_Category  ,'')='Radiology' then 'Radiology'
			when ISNULL(ADC.Main_Category  ,'')='Pathology' then 'Pathology' else 'Hospital' end,
			PID.Status,PID.Patient_Type,PID.Patient_Type_ID,PID.Party_ID,PID.SubdeptID,PID.SubdeptName,isnull(PID.S_Discount,0)
			,isnull(PID.RefundAmount,0),LSId
			
	        )B
			order by B.sdate asc

	


END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateDashBoardStatusTables]    Script Date: 10/26/2025 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[usp_UpdateDashBoardStatusTables]

As
Begin

UPDATE LocalDashBoard.dbo.LocalDailyExpense  SET  Import =1  
  WHERE LSID Not in( select LSId from Log where TBName='DailyExpense'   and Status = 0) and import=0;

update LocalDashBoard.dbo.PatientIncomeData set Import=1 
WHERE LSID Not in( select LSId from Log where TBName='Service' and   Status = 0) and import=0;


-- ==============================================================================================================

update LocalDashBoard.dbo.LocalDailyPatient set Import=1
 WHERE LSID Not in( select LSId from Log where TBName='DailyPatientCount' and SubDept_id not in (15 ,28,36) and   Status = 0) and import=0;

update LocalDashBoard.dbo.LocalDashBoardPathologyPatientCount set Import=1
 WHERE id Not in( select LSId from Log where TBName='DailyPatientCount' and SubDept_id=15 and   Status = 0) and import=0;

update LocalDashBoard.dbo.LocalDashBoardPharmacyPatientCount set Import=1
 WHERE id Not in( select LSId from Log where TBName='DailyPatientCount' and SubDept_id=28 and   Status = 0) and import=0;

update LocalDashBoard.[dbo].[LocalDashBoardRadiologyPatientCount] set Import=1  
 WHERE SubDept_id Not in( select SubDept_id from Log where TBName='DailyPatientCount'and SubDept_id=36 and   Status = 0) and import=0;


End


GO
USE [master]
GO
