USE [master]
GO
/****** Object:  Database [MidwareCloudLIS]    Script Date: 10/26/2025 5:20:02 PM ******/
CREATE DATABASE [MidwareCloudLIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MidwareCloudLIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MidwareCloudLIS.mdf' , SIZE = 74752KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MidwareCloudLIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MidwareCloudLIS_log.ldf' , SIZE = 2614848KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MidwareCloudLIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MidwareCloudLIS]
GO
/****** Object:  Table [dbo].[LabBarcodePrinting]    Script Date: 10/26/2025 5:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabBarcodePrinting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[Barcode] [varchar](300) NOT NULL,
	[PatientName] [varchar](300) NULL,
	[TPCode] [varchar](200) NULL,
	[SampleTube] [varchar](300) NULL,
	[Description] [varchar](500) NULL,
	[MRNo] [varchar](50) NOT NULL,
	[OrderNo] [varchar](50) NULL,
	[SampleStatus] [varchar](300) NULL,
	[PrinterLocation] [varchar](500) NOT NULL,
	[SectionName] [varchar](300) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[SystemIP] [varchar](50) NULL,
	[SystemName] [varchar](100) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_LabBarcodePrinting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineCalculatedTest]    Script Date: 10/26/2025 5:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineCalculatedTest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MachineID] [int] NOT NULL,
	[ParentComponent] [int] NOT NULL,
	[ChildComponent] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Machine_Calculated_Test] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LabBarcodePrinting] ADD  CONSTRAINT [DF__LabBarcod__Branc__1367E606]  DEFAULT ((1)) FOR [BranchID]
GO
ALTER TABLE [dbo].[LabBarcodePrinting] ADD  CONSTRAINT [DF__LabBarcod__TPCod__145C0A3F]  DEFAULT ('') FOR [TPCode]
GO
ALTER TABLE [dbo].[LabBarcodePrinting] ADD  CONSTRAINT [DF__LabBarcod__IsDel__15502E78]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LabBarcodePrinting] ADD  CONSTRAINT [DF__LabBarcod__Creat__164452B1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[MachineCalculatedTest] ADD  CONSTRAINT [DF_MachineCalculatedTest_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[DeleteLabBarcodePrinting]    Script Date: 10/26/2025 5:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLabBarcodePrinting]
	@ID INT, @SystemIP VARCHAR(500), @SystemName VARCHAR(500)
AS
BEGIN
	UPDATE	dbo.LabBarcodePrinting
	SET		SystemIP = @SystemIP, SystemName = @SystemName,
			ModifiedOn = GETDATE(), IsDeleted = 1
	WHERE	ID = @ID ;
END ;


GO
/****** Object:  StoredProcedure [dbo].[GetAllCalculatedComponentData]    Script Date: 10/26/2025 5:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCalculatedComponentData]
	@MachineID INT, @IsActive BIT
AS
BEGIN
	SELECT		Admin_Pathology.dbo.Lab_Machines.Machine_Name,
				Admin_Pathology.dbo.Lab_Machines.Machine_Id,
				Admin_Pathology.dbo.TestComponent.ComponentName,
				Admin_Pathology.dbo.TestComponent.TCID,
				tc2.ComponentName AS ChildComponent, tc2.TCID AS ChildTCID
	FROM		dbo.MachineCalculatedTest
	INNER JOIN	Admin_Pathology.dbo.Lab_Machines ON Admin_Pathology.dbo.Lab_Machines.Machine_Id = MachineCalculatedTest.MachineID
	INNER JOIN	Admin_Pathology.dbo.TestComponent ON Admin_Pathology.dbo.TestComponent.TCID		= MachineCalculatedTest.ParentComponent
	INNER JOIN	Admin_Pathology.dbo.TestComponent tc2 ON tc2.TCID								= MachineCalculatedTest.ChildComponent
	WHERE		MachineCalculatedTest.MachineID	   = @MachineID
				AND MachineCalculatedTest.IsActive = @IsActive ;
END ;
GO
/****** Object:  StoredProcedure [dbo].[GetLabBarcodePrinting]    Script Date: 10/26/2025 5:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLabBarcodePrinting]
	@SectionName VARCHAR(300), @PrinterLocation VARCHAR(50), @BranchID INT
AS
BEGIN
	SELECT	ID, BranchID, Barcode, PatientName, TPCode, SampleTube,
			Description, MRNo, OrderNo, SampleStatus,
			FORMAT(GETDATE(), 'dd-MM-yyyy') AS PrintingDate,
			FORMAT(GETDATE(), 'hh:mm tt')	AS PrintingTime
	FROM	dbo.LabBarcodePrinting
	WHERE	SectionName			= @SectionName
			AND PrinterLocation = @PrinterLocation
			AND BranchID		= @BranchID
			AND IsDeleted		= 0 ;
END ;


GO
/****** Object:  StoredProcedure [dbo].[getPatientInfoByBarcode]    Script Date: 10/26/2025 5:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPatientInfoByBarcode]
	@Barcode VARCHAR(300), @MachineName VARCHAR(50)
AS
BEGIN
	DECLARE @Main_ID INT = CONVERT(INT, @Barcode) ;
	DECLARE @MachineID INT ;

	SELECT	@MachineID = Machine_Id
	FROM	Admin_Pathology.dbo.Lab_Machines
	WHERE	Machine_Name = @MachineName ;

	DECLARE @TableTestCodes TABLE
	(RegNo VARCHAR(200),
	 VisitNo VARCHAR(20),
	 PatientName VARCHAR(500),
	 Barcode VARCHAR(300),
	 Gender CHAR(1),
	 DOB VARCHAR(20),
	 Age INT,
	 AgeType VARCHAR(20),
	 ComponentID INT,
	 TestCodes VARCHAR(4000)) ;

	DECLARE @TableTestCodesDistinct TABLE
	(RegNo VARCHAR(200),
	 VisitNo VARCHAR(20),
	 PatientName VARCHAR(500),
	 Barcode VARCHAR(300),
	 Gender CHAR(1),
	 DOB VARCHAR(20),
	 Age INT,
	 AgeType VARCHAR(20),
	 TestCodes VARCHAR(4000),
	 CS_TestCode VARCHAR(4000)) ;

	IF @MachineName IN ('Cobas311', 'Cobas 6000')
	BEGIN
		INSERT INTO @TableTestCodes
			(RegNo, VisitNo, PatientName, Barcode, Gender, DOB, Age, AgeType,
			 ComponentID, TestCodes)
		SELECT		P.RegNo, M.Yearly_No,
					ISNULL(P.Prefix, 'Mr.') + ' ' + ISNULL(P.PFName, '')
					+ CASE WHEN P.PMName IS NULL THEN '' ELSE ' ' + P.PMName END
					+ CASE WHEN P.PLName IS NULL THEN '' ELSE ' ' + P.PLName END AS PatientName,
					@Barcode													 Barcode,
					CASE WHEN P.SexID = 1 THEN 'M' ELSE 'F' END					 Gender,
					CONVERT(VARCHAR, P.DateOfBirth, 112)						 AS DOB, P.Age,
					P.AgeType, LMT.Component_Id,
					'^^^' + LMT.Machine_Test_Code + '^'							 AS TestCode
		FROM		Pathology2.dbo.Path_Result_Delivery	  M
		INNER JOIN	Pathology2.dbo.Patient				  P ON M.Reg_no			  = P.RegNo
		INNER JOIN	Pathology2.dbo.Test_Booking_Services  S ON M.Main_ID		  = S.Main_ID
		INNER JOIN	Pathology2.dbo.Test_Services		  Ts ON Ts.TB_ID		  = S.TB_ID
		INNER JOIN	Admin_Pathology.dbo.TestComponent	  Tc ON Tc.TID			  = Ts.Test_ID
		INNER JOIN	Admin_Pathology.dbo.Lab_Machine_Tests LMT ON LMT.Component_Id = Tc.TCID
		JOIN		Admin_Pathology.dbo.Lab_Machines ON Lab_Machines.Machine_Id	  = LMT.Machine_Id
		WHERE		M.Main_ID						 = @Main_ID
					AND Machine_Name				 = @MachineName
					AND ISNULL(LMT.Active_Status, 1) = 1 ;

		--Calculated Test
		INSERT INTO @TableTestCodes
			(RegNo, VisitNo, PatientName, Barcode, Gender, DOB, Age, AgeType,
			 ComponentID, TestCodes)
		SELECT		P.RegNo, VisitNo,
					ISNULL(P.Prefix, 'Mr.') + ' ' + ISNULL(P.PFName, '')
					+ CASE WHEN P.PMName IS NULL THEN '' ELSE ' ' + P.PMName END
					+ CASE WHEN P.PLName IS NULL THEN '' ELSE ' ' + P.PLName END AS PatientName,
					@Barcode													 Barcode,
					CASE WHEN P.SexID = 1 THEN 'M' ELSE 'F' END					 Gender,
					CONVERT(VARCHAR, P.DateOfBirth, 112)						 AS DOB, P.Age,
					P.AgeType, LMT.Component_Id,
					'^^^' + LMT.Machine_Test_Code + '^'							 AS TestCode
		FROM		Pathology2.dbo.Patient				  P
		JOIN		@TableTestCodes						  TableTestCodes ON TableTestCodes.RegNo = P.RegNo
		JOIN		dbo.MachineCalculatedTest ON MachineID										 = @MachineID
												 AND   ParentComponent							 = TableTestCodes.ComponentID
												 AND   IsActive									 = 1
		INNER JOIN	Admin_Pathology.dbo.Lab_Machine_Tests LMT ON LMT.Component_Id				 = ChildComponent
																 AND LMT.Machine_Id				 = @MachineID
		WHERE		ISNULL(LMT.Active_Status, 1) = 1 ;
	END ;
	ELSE IF (@MachineName = 'Cobas411')
	BEGIN
		INSERT INTO @TableTestCodes
			(RegNo, VisitNo, PatientName, Barcode, Gender, DOB, Age, AgeType,
			 ComponentID, TestCodes)
		SELECT		P.RegNo, M.Yearly_No,
					ISNULL(P.Prefix, 'Mr.') + ' ' + ISNULL(P.PFName, '')
					+ CASE WHEN P.PMName IS NULL THEN '' ELSE ' ' + P.PMName END
					+ CASE WHEN P.PLName IS NULL THEN '' ELSE ' ' + P.PLName END AS PatientName,
					@Barcode													 Barcode,
					CASE WHEN P.SexID = 1 THEN 'M' ELSE 'F' END					 Gender,
					CONVERT(VARCHAR, P.DateOfBirth, 112)						 AS DOB, P.Age,
					P.AgeType, LMT.Component_Id,
					'^^^' + LMT.Machine_Test_Code + '^'							 AS TestCode
		FROM		Pathology2.dbo.Path_Result_Delivery	  M
		INNER JOIN	Pathology2.dbo.Patient				  P ON M.Reg_no			  = P.RegNo
		INNER JOIN	Pathology2.dbo.Test_Booking_Services  S ON M.Main_ID		  = S.Main_ID
		INNER JOIN	Pathology2.dbo.Test_Services		  Ts ON Ts.TB_ID		  = S.TB_ID
		INNER JOIN	Admin_Pathology.dbo.TestComponent	  Tc ON Tc.TID			  = Ts.Test_ID
		INNER JOIN	Admin_Pathology.dbo.Lab_Machine_Tests LMT ON LMT.Component_Id = Tc.TCID
		JOIN		Admin_Pathology.dbo.Lab_Machines ON Lab_Machines.Machine_Id	  = LMT.Machine_Id
		WHERE		M.Main_ID						 = @Main_ID
					AND Machine_Name				 = @MachineName
					AND ISNULL(LMT.Active_Status, 1) = 1 ;
	END ;
	ELSE IF (@MachineName LIKE 'Selctra%')
	BEGIN
		INSERT INTO @TableTestCodes
			(RegNo, VisitNo, PatientName, Barcode, Gender, DOB, Age, AgeType,
			 ComponentID, TestCodes)
		SELECT		P.RegNo, M.Yearly_No,
					ISNULL(P.Prefix, 'Mr.') + ' ' + ISNULL(P.PFName, '')
					+ CASE WHEN P.PMName IS NULL THEN '' ELSE ' ' + P.PMName END
					+ CASE WHEN P.PLName IS NULL THEN '' ELSE ' ' + P.PLName END AS PatientName,
					@Barcode													 Barcode,
					CASE WHEN P.SexID = 1 THEN 'M' ELSE 'F' END					 Gender,
					CONVERT(VARCHAR, P.DateOfBirth, 112)						 AS DOB, P.Age,
					P.AgeType, LMT.Component_Id,
					'^^^' + LMT.Machine_Test_Code								 AS TestCode
		FROM		Pathology2.dbo.Path_Result_Delivery	  M
		INNER JOIN	Pathology2.dbo.Patient				  P ON M.Reg_no			  = P.RegNo
		INNER JOIN	Pathology2.dbo.Test_Booking_Services  S ON M.Main_ID		  = S.Main_ID
		INNER JOIN	Pathology2.dbo.Test_Services		  Ts ON Ts.TB_ID		  = S.TB_ID
		INNER JOIN	Admin_Pathology.dbo.TestComponent	  Tc ON Tc.TID			  = Ts.Test_ID
		INNER JOIN	Admin_Pathology.dbo.Lab_Machine_Tests LMT ON LMT.Component_Id = Tc.TCID
		JOIN		Admin_Pathology.dbo.Lab_Machines ON Lab_Machines.Machine_Id	  = LMT.Machine_Id
		WHERE		M.Main_ID						 = @Main_ID
					AND Machine_Name				 = @MachineName
					AND ISNULL(LMT.Active_Status, 1) = 1 ;
	END ;
	ELSE IF (@MachineName LIKE 'Mindray%')
	BEGIN
		INSERT INTO @TableTestCodes
			(RegNo, VisitNo, PatientName, Barcode, Gender, DOB, Age, AgeType,
			 ComponentID, TestCodes)
		SELECT		P.RegNo, M.Yearly_No,
					ISNULL(P.Prefix, 'Mr.') + ' ' + ISNULL(P.PFName, '')
					+ CASE WHEN P.PMName IS NULL THEN '' ELSE ' ' + P.PMName END
					+ CASE WHEN P.PLName IS NULL THEN '' ELSE ' ' + P.PLName END AS PatientName,
					@Barcode													 Barcode,
					CASE WHEN P.SexID = 1 THEN 'M' ELSE 'F' END					 Gender,
					CONVERT(VARCHAR, P.DateOfBirth, 112)						 AS DOB, P.Age,
					P.AgeType, LMT.Component_Id,
					CASE WHEN LMT.Machine_Test_Code IN ('MCV',
														'MCH',
														'MCHC',
														'RDW-CV',
														'PLT',
														'NEU#',
														'LYM#',
														'MON#',
														'EOS#',
														'BAS%',
														'NEU%',
														'EOS%',
														'NRBC#',
														'NRBC%',
														'WBC',
														'RBC',
														'HCT',
														'LYM%',
														'MON%') THEN 'CBC+DIFF'
					WHEN LMT.Machine_Test_Code IN ('RET%',
												   'RET#') THEN 'RET'
					ELSE 'CBC+DIFF'
					END															 AS TestCode
		FROM		Pathology2.dbo.Path_Result_Delivery	  M
		INNER JOIN	Pathology2.dbo.Patient				  P ON M.Reg_no			  = P.RegNo
		INNER JOIN	Pathology2.dbo.Test_Booking_Services  S ON M.Main_ID		  = S.Main_ID
		INNER JOIN	Pathology2.dbo.Test_Services		  Ts ON Ts.TB_ID		  = S.TB_ID
		INNER JOIN	Admin_Pathology.dbo.TestComponent	  Tc ON Tc.TID			  = Ts.Test_ID
		INNER JOIN	Admin_Pathology.dbo.Lab_Machine_Tests LMT ON LMT.Component_Id = Tc.TCID
		JOIN		Admin_Pathology.dbo.Lab_Machines ON Lab_Machines.Machine_Id	  = LMT.Machine_Id
		WHERE		M.Main_ID						 = @Main_ID
					AND Machine_Name				 = @MachineName
					AND ISNULL(LMT.Active_Status, 1) = 1 ;
	END ;
	ELSE IF (@MachineName LIKE 'Beckman%')
	BEGIN
		INSERT INTO @TableTestCodes
			(RegNo, VisitNo, PatientName, Barcode, Gender, DOB, Age, AgeType,
			 ComponentID, TestCodes)
		SELECT		P.RegNo, M.Yearly_No,
					 ISNULL(P.PFName, '')
					+ 
					CASE WHEN P.PMName IS NULL THEN '' ELSE ' ' + P.PMName END
					+ CASE WHEN P.PLName IS NULL THEN '' ELSE ' ' + P.PLName END AS PatientName,
					@Barcode													 Barcode,
					CASE WHEN P.SexID = 1 THEN 'M' ELSE 'F' END					 Gender,
					CONVERT(VARCHAR, P.DateOfBirth, 112)						 AS DOB, P.Age,
					P.AgeType, LMT.Component_Id,
					CASE WHEN LMT.Machine_Test_Code IN ( 'WBC',
											   'RBC',
											   'HGB',
											   'HCT',
											   'MCV',
											   'MCH',
											   'MCHC',
											   'RDW',
											   'RDW-SD',
											   'PLT',
											   'MPV',
											   'NE',
											   'LY',
											   'MO',
											   'EO',
											   'BA',
											   'NE#',
											   'LY#',
											   'MO#',
											   'EO#',
											   'BA#',
											   'NRBC',
											   'NRBC#') THEN '!!!CD'
					WHEN LMT.Machine_Test_Code IN ('RET%',
												   'RET#') THEN '!!!CDR'
					ELSE '!!!CD'
					END															 AS TestCode
		FROM		Pathology2.dbo.Path_Result_Delivery	  M
		INNER JOIN	Pathology2.dbo.Patient				  P ON M.Reg_no			  = P.RegNo
		INNER JOIN	Pathology2.dbo.Test_Booking_Services  S ON M.Main_ID		  = S.Main_ID
		INNER JOIN	Pathology2.dbo.Test_Services		  Ts ON Ts.TB_ID		  = S.TB_ID
		INNER JOIN	Admin_Pathology.dbo.TestComponent	  Tc ON Tc.TID			  = Ts.Test_ID
		INNER JOIN	Admin_Pathology.dbo.Lab_Machine_Tests LMT ON LMT.Component_Id = Tc.TCID
		JOIN		Admin_Pathology.dbo.Lab_Machines ON Lab_Machines.Machine_Id	  = LMT.Machine_Id
		WHERE		M.Main_ID						 = @Main_ID
					AND Machine_Name				 = @MachineName
					AND ISNULL(LMT.Active_Status, 1) = 1 ;
	END ;
	INSERT INTO @TableTestCodesDistinct
		(RegNo, VisitNo, PatientName, Barcode, Gender, DOB, Age, AgeType,
		 TestCodes)
	SELECT	DISTINCT RegNo, VisitNo, PatientName, Barcode, Gender, DOB, Age,
			AgeType, TestCodes
	FROM	@TableTestCodes
	WHERE	NOT EXISTS
		(SELECT *
		 FROM	dbo.MachineCalculatedTest
		 WHERE	MachineID			= @MachineID
				AND ParentComponent = ComponentID
				AND IsActive		= 1) ;

	DECLARE @List VARCHAR(8000), @RegNo_Last VARCHAR(200) = -1 ;

	UPDATE	@TableTestCodesDistinct
	SET		@List=CS_TestCode = CASE WHEN (@RegNo_Last <> RegNo) THEN TestCodes
								ELSE	  CASE WHEN @MachineName = 'Hitachi 912'
													OR	@MachineName = 'Hitachi 902' THEN
													@List + ',' + TestCodes
											--WHEN @MachineName LIKE 'Beckman%' then
											--	@List + '!!!' + TestCodes
										  --WHEN @MachineName LIKE 'Selctra%' THEN
											 --  @List + '^\' + TestCodes
										  ELSE @List + '\' + TestCodes
										  END
								END, @RegNo_Last = RegNo ;

	IF (@List IS NULL)
		SET @List = '' ;

	SELECT	TOP 1 RegNo, VisitNo, PatientName, Barcode,
			CASE WHEN @MachineName LIKE 'Mindray%' AND	Gender = 'M' THEN
					  'Male' WHEN @MachineName LIKE 'Mindray%' AND	Gender = 'F' THEN
								  'Female' ELSE Gender END AS Gender,
			--CASE WHEN @MachineName LIKE 'Mindray%' THEN
			--		  FORMAT(CAST(DOB AS DATE), 'yyyy-dd-MM')ELSE DOB END AS DOB,
			DOB, Age, AgeType=CASE WHEN @MachineName LIKE 'Beckman%' THEN LEFT(AgeType,1) ELSE AgeType END, @List					   AS TestCode
	FROM	@TableTestCodesDistinct ;
END ;

GO
/****** Object:  StoredProcedure [dbo].[InsertLabBarcodePrinting]    Script Date: 10/26/2025 5:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertLabBarcodePrinting]
	@BranchID INT, @Barcode VARCHAR(300), @PatientName VARCHAR(300) = NULL,
	@TPCode VARCHAR(200) = '', @SampleTube VARCHAR(300) = '',
	@Description VARCHAR(500) = '', @MRNo VARCHAR(50),
	@OrderNo VARCHAR(50) = '', @SampleStatus VARCHAR(300) = '',
	@PrinterLocation VARCHAR(500), @SectionName VARCHAR(300),
	@CreatedBy BIGINT
AS
BEGIN

DECLARE @LabID INT
	SET @LabID = CAST(@Barcode AS INT)

	INSERT INTO [dbo].[LabBarcodePrinting]
		([BranchID], [Barcode], [PatientName], [TPCode], [SampleTube],
		 [Description], [MRNo], OrderNo, [SampleStatus], [PrinterLocation],
		 [SectionName], [IsDeleted], [CreatedOn], [CreatedBy])
	VALUES
		(@BranchID, @Barcode, @PatientName, @TPCode, @SampleTube,
		 @Description, 'Lab # ' + CAST(@LabID AS VARCHAR), @OrderNo, @SampleStatus,
		 @PrinterLocation, @SectionName, 0, GETDATE(), @CreatedBy) ;
END ;
GO
/****** Object:  StoredProcedure [dbo].[InsertResultFromMachine]    Script Date: 10/26/2025 5:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertResultFromMachine]
	@Barcode VARCHAR(300), @MachineName VARCHAR(50), @TestCode VARCHAR(50),
	@TestResult VARCHAR(500)
AS
BEGIN
	DECLARE @DeptId		 INT, @SubDeptId INT, @TGID INT,
			@Main_ID	 INT		   = CONVERT(INT, @Barcode), @TrmID INT = 0,
			@emp_ID		 INT		   = 0, @Refer_By_ID INT, @regNO VARCHAR(50) = '',
			@Referred_by VARCHAR(200)  = '',
			@Description VARCHAR(7000) = '',
			@TCValue	 VARCHAR(8000), @trDate DATETIME = GETDATE(),
			@YearlyNo	 NUMERIC(18, 0), @TB_ID NUMERIC(18, 0) ;

	SELECT		@DeptId = M.To_Dept_ID, @SubDeptId = M.To_SubDept_ID,
				@TB_ID	= S.TB_ID, @TGID = Tc.TGID, @YearlyNo = M.Yearly_No,
				@regNO	= M.Reg_no, @TCValue = Tc.TC_Value
	FROM		Pathology2.dbo.Path_Result_Delivery	  M
	INNER JOIN	Pathology2.dbo.Test_Booking_Services  S ON M.Main_ID		  = S.Main_ID
	INNER JOIN	Pathology2.dbo.Test_Services		  Ts ON Ts.TB_ID		  = S.TB_ID
	INNER JOIN	Admin_Pathology.dbo.TestComponent	  Tc ON Tc.TID			  = Ts.Test_ID
	INNER JOIN	Admin_Pathology.dbo.Lab_Machine_Tests LMT ON LMT.Component_Id = Tc.TCID
	JOIN		Admin_Pathology.dbo.Lab_Machines ON Lab_Machines.Machine_Id	  = LMT.Machine_Id
	WHERE		M.Main_ID				  = @Main_ID
				AND Machine_Name		  = @MachineName
				AND LMT.Machine_Test_Code = @TestCode ;

	IF @YearlyNo IS NULL RETURN 0 ;

	EXEC [Pathology2].[dbo].[Path_PatientResult_Main] @regNO, @YearlyNo,
													  @trDate, @DeptId,
													  @SubDeptId, @TGID,
													  @TrmID OUTPUT,
													  @Main_ID, @Referred_by,
													  @emp_ID, @Description,
													  @Refer_By_ID ;

	EXEC [Pathology2].[dbo].[Path_Insert_TestResult] @TrmID, @TCValue,
													 @TestResult, @emp_ID,
													 @TB_ID, @Description ;

	RETURN 0 ;
END ;
GO
USE [master]
GO
