USE [master]
GO
/****** Object:  Database [MLC]    Script Date: 10/26/2025 5:20:26 PM ******/
CREATE DATABASE [MLC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MLC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MLC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MLC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MLC_log.ldf' , SIZE = 1536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MLC].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [MLC]
GO
/****** Object:  View [dbo].[Forward_To_Sub_Dept]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Forward_To_Sub_Dept]
AS
SELECT     Registration.dbo.Forward_To_Sub_Dept.*
FROM         Registration.dbo.Forward_To_Sub_Dept
GO
/****** Object:  View [dbo].[Patient]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Patient]
AS
SELECT     RegNo, Prefix, PFName, PMName, PLName, Relation, RFName, RMName, RLName, SexID, Age, RegDateTime, CountryCode, ProvinceCode, 
                      DistrictCode, TehsilCode, Zipcode, StreetAddress, Colony, OtherProvince, OtherDistrict, OtherTehsil, HomePhone, MobilePhone, id, CNIC, DateOfBirth, 
                      AgeType, House_No, Patient_Type
FROM         Registration.dbo.Patient
GO
/****** Object:  View [dbo].[Payment]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Payment]
AS
SELECT     PayID, RegNo, DateTime, Payment, DeptID, ReferFrom, Status, EmpID, PatientType, Diagonosis, Shift, DischargeStatus, DailyNo
FROM         Registration.dbo.Payment
GO
/****** Object:  View [dbo].[SubDepartment]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SubDepartment]
AS
SELECT     SubDept_Id, SubDept_Name, SubDept_Location, Dept_Id, SubDept_PhoneNo, SubDept_FaxNo, SubDept_MainPage, [order]
FROM         BasicDataInfo.dbo.SubDepartment
GO
/****** Object:  Table [dbo].[MLC_deathRegister]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MLC_deathRegister](
	[codNo] [int] NOT NULL,
	[RegNo] [varchar](50) NOT NULL,
	[date] [datetime] NOT NULL,
	[empid] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MLC_Final_Register]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MLC_Final_Register](
	[registration_no] [varchar](50) NOT NULL,
	[Doctor_id] [int] NOT NULL,
	[ward_id] [int] NOT NULL,
	[name_who_brought] [varchar](50) NULL,
	[patient_address] [varchar](150) NULL,
	[patient_cast] [varchar](30) NULL,
	[patient_occupation] [varchar](50) NULL,
	[belonging_recovered] [varchar](100) NULL,
	[place_of_incident] [varchar](50) NOT NULL,
	[police_station] [varchar](50) NOT NULL,
	[identifier1] [varchar](50) NULL,
	[identifier2] [varchar](50) NULL,
	[type_of_injory] [varchar](50) NOT NULL,
	[date_time] [datetime] NOT NULL,
	[Description] [varchar](max) NULL,
	[time_of_info] [datetime] NOT NULL,
	[yearlyno] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mlc_picInfo]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mlc_picInfo](
	[ReqNo] [varchar](50) NOT NULL,
	[YearlyNo] [int] NOT NULL,
	[xaxis] [int] NOT NULL,
	[yaxis] [int] NOT NULL,
	[description] [varchar](max) NOT NULL,
	[From_Marked] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MLC_Register_dumyOld]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MLC_Register_dumyOld](
	[registration_no] [varchar](50) NOT NULL,
	[Doctor_id] [int] NOT NULL,
	[ward_id] [int] NOT NULL,
	[name_who_brought] [varchar](50) NULL,
	[patient_address] [varchar](150) NULL,
	[patient_cast] [varchar](30) NULL,
	[patient_occupation] [varchar](50) NULL,
	[belonging_recovered] [varchar](100) NULL,
	[COD_no] [int] NOT NULL,
	[place_of_incident] [varchar](50) NOT NULL,
	[police_station] [varchar](50) NOT NULL,
	[identifier1] [varchar](50) NULL,
	[identifier2] [varchar](50) NULL,
	[type_of_injory] [varchar](50) NOT NULL,
	[date_time] [datetime] NOT NULL,
	[Description] [varchar](max) NULL,
	[time_of_info] [datetime] NOT NULL,
	[yearlyno] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mlc_treated_patient]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mlc_treated_patient](
	[RegNo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MLC_type_of_injury]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MLC_type_of_injury](
	[injury_ID] [int] IDENTITY(1,1) NOT NULL,
	[injury] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MLC_type_of_injury] PRIMARY KEY CLUSTERED 
(
	[injury_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MLCArrival]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MLCArrival](
	[PatientID] [int] NOT NULL,
	[ArrivalTime] [datetime] NOT NULL,
	[NumberofPoliceDocket] [int] NULL,
	[DateofPoliceDocket] [datetime] NULL,
	[Admitted] [bit] NULL,
	[DateofAdmission] [datetime] NOT NULL,
	[DateofDischarge] [datetime] NOT NULL,
	[DateofReportforPolice] [datetime] NULL,
	[IdentificationMarks1] [varchar](200) NOT NULL,
	[IdentificationMarks2] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[mlc_insert_new]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =========================================================
-- Author: Muhammad Jahangir
-- Create date: 18/12/2006
-- Description: 
-- =========================================================

CREATE PROCEDURE [dbo].[mlc_insert_new]
@registration_no varchar(50),
@Doctor_id int,
@ward_id int,
@name_who_brought varchar(50),
@patient_address varchar(150),
@patient_cast varchar(30),
@patient_occupation varchar(50),
@belonging_recovered varchar(100),
@place_of_incident varchar(50),
@police_station varchar(50),
@identifier1 varchar(50),
@identifier2 varchar(50),
@type_of_injory varchar(50),
@time_of_info datetime,
@yearlyno int
as
INSERT INTO MLC_Final_Register
                      (registration_no, Doctor_id, ward_id, name_who_brought, patient_address, patient_cast, patient_occupation, belonging_recovered,
                      place_of_incident, police_station, identifier1, identifier2, type_of_injory, date_time, time_of_info, yearlyno)
VALUES     (@registration_no,@Doctor_id,@ward_id,@name_who_brought,@patient_address,@patient_cast,@patient_occupation,@belonging_recovered,@place_of_incident,@police_station,@identifier1,@identifier2,@type_of_injory,
                       GETDATE(),@time_of_info,@yearlyno)




GO
/****** Object:  StoredProcedure [dbo].[mlc_insert_picinfo]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =========================================================
-- Author: Muhammad Jahangir
-- Create date: 16/12/2006
-- Description: for insertion in mlc picture information table
-- =========================================================

create PROCEDURE [dbo].[mlc_insert_picinfo]
@ReqNo varchar(50),
@YearlyNo int,
@xaxis int,
@yaxis int,
@description varchar(MAX),
@From_Marked varchar(50)
 AS

INSERT INTO mlc_picInfo
                      (ReqNo, YearlyNo, xaxis, yaxis, description, From_Marked)
VALUES     (@ReqNo,@YearlyNo,@xaxis,@yaxis,@description,@From_Marked)
GO
/****** Object:  StoredProcedure [dbo].[mlc_select_picinfo]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =========================================================
-- Author: Muhammad Jahangir
-- Create date: 16/12/2006
-- Description: for selecting pic information 
-- =========================================================

CREATE PROCEDURE [dbo].[mlc_select_picinfo]
@YearlyNo int,
@From_Marked varchar(50)
 AS
SELECT     xaxis, yaxis, description
FROM         mlc_picInfo
WHERE     (YearlyNo = @yearlyNo) AND (From_Marked = @From_Marked)
GO
/****** Object:  StoredProcedure [dbo].[Search_Emg_Dept_Patient_New]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Search_Emg_Dept_Patient_New] 
@YearlyNo numeric(18),
@PFName varchar(50),
@PMName varchar(50),
@RegNo varchar(50),
@Relation varchar(20),
@RFName varchar(50),
@RMName varchar(50),
@Age int,
@Day int,
@month int,
@year int,
@SubDeptNo int,
@Status  bit--,
--@request_type_id int
AS
--================================================================================================================
if @YearlyNo<> 0 --or convert(datetime,@date,107) = convert(datetime,getdate(),107)
Begin
        SELECT     Payment.RegNo AS [Registration No], Payment.PayID AS VisitNo, 
                      isnull(Patient.Prefix,'') as Prefix ,isnull(PFName,'') as PFName ,isnull(Patient.PMName,'')as PMName,Patient.PLName , Patient.Relation, 
                      Patient.RFName + ' ' + Patient.RMName + ' ' + Patient.RLName AS [Relation Name], Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, 
                      Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) 
                      + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
FROM         Payment INNER JOIN
                      Patient ON Payment.RegNo = Patient.RegNo
WHERE     (Payment.PayID IN
                          (SELECT     Forward_To_Sub_Dept.yearly_no
                            FROM          Forward_To_Sub_Dept
                            WHERE      (Forward_To_Sub_Dept.to_sub_Dept = @SubDeptNo)  AND (Forward_To_Sub_Dept.status = @Status)) --AND (Forward_To_Sub_Dept.request_type_id = @request_type_id)
) and (Payment.PayID = @YearlyNo) AND 
(Patient.PFName like '%'+@PFName+'%') And 
(isnull(Patient.PMName,'') like '%'+@PMName+'%') And 
(Patient.Relation like '%'+@Relation+'%') And 
(Patient.RFName like '%'+@RFName+'%') And 
(Patient.RMName like '%'+@RMName+'%') And 
(Patient.RegNo like '%'+@RegNo+'%') 
ORDER BY Payment.DateTime Asc	
End 

--=================================================================================================================
Else if @Age<>0-- or convert(datetime,@date,107) = convert(datetime,getdate(),107)
		Begin
SELECT     Payment.RegNo AS [Registration No], Payment.PayID AS VisitNo, 
                      isnull(Patient.Prefix,'') as Prefix ,isnull(PFName,'') as PFName ,isnull(Patient.PMName,'')as PMName,Patient.PLName, Patient.Relation, 
                      Patient.RFName + ' ' + Patient.RMName + ' ' + Patient.RLName AS [Relation Name], Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, 
                      Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) 
                      + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
FROM         Payment INNER JOIN
                      Patient ON Payment.RegNo = Patient.RegNo
WHERE     (Payment.PayID IN
                          (SELECT     Forward_To_Sub_Dept.yearly_no
                            FROM          Forward_To_Sub_Dept
                            WHERE      (Forward_To_Sub_Dept.to_sub_Dept = @SubDeptNo)  AND (Forward_To_Sub_Dept.status = @Status))--AND (Forward_To_Sub_Dept.request_type_id = @request_type_id)
)and  (Patient.PFName like '%'+@PFName+'%') And 
(isnull(Patient.PMName,'') like '%'+@PMName+'%') And 
(Patient.Relation like '%'+@Relation+'%') And 
(Patient.RFName like '%'+@RFName+'%') And 
(Patient.RMName like '%'+@RMName+'%')And 
((DATEDIFF(dd, Patient.DateOfBirth, GETDATE())/365) = @Age) 
And (Patient.RegNo like '%'+@RegNo+'%')
ORDER BY Payment.DateTime Asc		End
--================================================================================================
Else if @Day<>0--is NULL or @date = '' or @date = 'Null'
Begin
SELECT     Payment.RegNo AS [Registration No], Payment.PayID AS VisitNo, 
                      isnull(Patient.Prefix,'') as Prefix ,isnull(PFName,'') as PFName ,isnull(Patient.PMName,'')as PMName,Patient.PLName, Patient.Relation, 
                      Patient.RFName + ' ' + Patient.RMName + ' ' + Patient.RLName AS [Relation Name], Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, 
                      Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) 
                      + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
FROM         Payment INNER JOIN
                      Patient ON Payment.RegNo = Patient.RegNo
WHERE     (Payment.PayID IN
                          (SELECT     Forward_To_Sub_Dept.yearly_no
                            FROM          Forward_To_Sub_Dept
                            WHERE      (Forward_To_Sub_Dept.to_sub_Dept = @SubDeptNo)  AND (Forward_To_Sub_Dept.status = @Status))--AND (Forward_To_Sub_Dept.request_type_id = @request_type_id)
)and  (datepart(dd,Payment.DateTime)=@day) And 
(datepart(mm,Payment.DateTime)=@month) And
(datepart(yyyy,Payment.DateTime)=@year) And
(Patient.PFName like '%'+@PFName+'%') And 
(isnull(Patient.PMName,'') like '%'+@PMName+'%') And 
(Patient.Relation like '%'+@Relation+'%') And 
(Patient.RFName like '%'+@RFName+'%') And 
(Patient.RMName like '%'+@RMName+'%')And 
((DATEDIFF(dd, Patient.DateOfBirth, GETDATE())/365) = @Age) 
And (Patient.RegNo like '%'+@RegNo+'%')
ORDER BY Payment.DateTime Asc	
End
--================================================================================================================	
Else 
Begin
SELECT     Payment.RegNo AS [Registration No], Payment.PayID AS VisitNo, 
                     isnull(Patient.Prefix,'') as Prefix ,isnull(PFName,'') as PFName ,isnull(Patient.PMName,'')as PMName,Patient.PLName, Patient.Relation, 
                      Patient.RFName + ' ' + Patient.RMName + ' ' + Patient.RLName AS [Relation Name], Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, 
                      Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) 
                      + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
FROM         Payment INNER JOIN
                      Patient ON Payment.RegNo = Patient.RegNo
WHERE     (Payment.PayID IN
                          (SELECT     Forward_To_Sub_Dept.yearly_no
                            FROM          Forward_To_Sub_Dept
                            WHERE      (Forward_To_Sub_Dept.to_sub_Dept = @SubDeptNo)  AND (Forward_To_Sub_Dept.status = @Status))) and --AND (Forward_To_Sub_Dept.request_type_id = @request_type_id)
(Patient.PFName like '%'+@PFName+'%') And (isnull(Patient.PMName,'') like '%'+@PMName+'%') 
And (Patient.Relation like '%'+@Relation+'%') 
And (Patient.RFName like '%'+@RFName+'%') And (Patient.RMName like '%'+@RMName+'%')
 And (Patient.RegNo like '%'+@RegNo+'%')
ORDER BY Payment.DateTime Asc		
End
--===============================================================================================================





GO
/****** Object:  StoredProcedure [dbo].[Search_MLC_Treated_Patient]    Script Date: 10/26/2025 5:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Search_MLC_Treated_Patient] 
@YearlyNo numeric(18),
@PFName varchar(50),
@PMName varchar(50),
@RegNo varchar(50),
@Relation varchar(20),
@RFName varchar(50),
@RMName varchar(50),
@Age int,
@date varchar(50)
AS
--================================================================================================================
if @YearlyNo<> 0 --or convert(datetime,@date,107) = convert(datetime,getdate(),107)
Begin
        SELECT     LGH.dbo.Payment.RegNo AS [Registration No], LGH.dbo.Payment.PayID AS VisitNo, 
                      LGH.dbo.Patient.Prefix + ' ' + LGH.dbo.Patient.PFName + ' ' + LGH.dbo.Patient.PMName + ' ' + LGH.dbo.Patient.PLName AS [Patient Name], 
                      LGH.dbo.Patient.Relation, LGH.dbo.Patient.RFName + ' ' + LGH.dbo.Patient.RMName + ' ' + LGH.dbo.Patient.RLName AS [Relation Name], 
                      LGH.dbo.Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
                      DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, 
                      GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
FROM         LGH.dbo.Payment INNER JOIN
                      LGH.dbo.Patient ON LGH.dbo.Payment.RegNo = LGH.dbo.Patient.RegNo INNER JOIN
                      MLC_Final_Register ON LGH.dbo.Payment.RegNo = MLC_Final_Register.registration_no AND LGH.dbo.Payment.PayID = MLC_Final_Register.yearlyno
WHERE     (LGH.dbo.Payment.PayID = @YearlyNo) AND 
(LGH.dbo.Patient.PFName like '%'+@PFName+'%') And 
(isnull(LGH.dbo.Patient.PMName,'') like '%'+@PMName+'%') And 
(LGH.dbo.Patient.Relation like '%'+@Relation+'%') And 
(LGH.dbo.Patient.RFName like '%'+@RFName+'%') And 
(LGH.dbo.Patient.RMName like '%'+@RMName+'%') And 
(LGH.dbo.Patient.RegNo like '%'+@RegNo+'%') 
ORDER BY LGH.dbo.Payment.DateTime Asc	
End 

--=================================================================================================================
Else if @Age<>0-- or convert(datetime,@date,107) = convert(datetime,getdate(),107)
		Begin
SELECT     LGH.dbo.Payment.RegNo AS [Registration No], LGH.dbo.Payment.PayID AS VisitNo, 
                      LGH.dbo.Patient.Prefix + ' ' + LGH.dbo.Patient.PFName + ' ' + LGH.dbo.Patient.PMName + ' ' + LGH.dbo.Patient.PLName AS [Patient Name], 
                      LGH.dbo.Patient.Relation, LGH.dbo.Patient.RFName + ' ' + LGH.dbo.Patient.RMName + ' ' + LGH.dbo.Patient.RLName AS [Relation Name], 
                      LGH.dbo.Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
                      DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, 
                      GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
FROM         LGH.dbo.Payment INNER JOIN
                      LGH.dbo.Patient ON LGH.dbo.Payment.RegNo = LGH.dbo.Patient.RegNo INNER JOIN
                      MLC_Final_Register ON LGH.dbo.Payment.RegNo = MLC_Final_Register.registration_no AND LGH.dbo.Payment.PayID = MLC_Final_Register.yearlyno
WHERE     (LGH.dbo.Patient.PFName like '%'+@PFName+'%') And 
(isnull(LGH.dbo.Patient.PMName,'') like '%'+@PMName+'%') And 
(LGH.dbo.Patient.Relation like '%'+@Relation+'%') And 
(LGH.dbo.Patient.RFName like '%'+@RFName+'%') And 
(LGH.dbo.Patient.RMName like '%'+@RMName+'%')And 
((DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE())/365) = @Age) 
And (LGH.dbo.Patient.RegNo like '%'+@RegNo+'%')
ORDER BY LGH.dbo.Payment.DateTime Asc		End
--================================================================================================
Else if @date<>''--is NULL or @date = '' or @date = 'Null'
		Begin
----SELECT     LGH.dbo.Payment.RegNo AS [Registration No], LGH.dbo.Payment.PayID AS VisitNo, 
--                      LGH.dbo.Patient.Prefix + ' ' + LGH.dbo.Patient.PFName + ' ' + LGH.dbo.Patient.PMName + ' ' + LGH.dbo.Patient.PLName AS [Patient Name], 
--                      LGH.dbo.Patient.Relation, LGH.dbo.Patient.RFName + ' ' + LGH.dbo.Patient.RMName + ' ' + LGH.dbo.Patient.RLName AS [Relation Name], 
--                      LGH.dbo.Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
--                      DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, 
--                      GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
--FROM         LGH.dbo.Payment INNER JOIN
--                      LGH.dbo.Patient ON LGH.dbo.Payment.RegNo = LGH.dbo.Patient.RegNo INNER JOIN
--                      MLC_Final_Register ON LGH.dbo.Payment.RegNo = MLC_Final_Register.registration_no AND LGH.dbo.Payment.PayID = MLC_Final_Register.yearlyno
--WHERE     (LGH.dbo.Payment.PayID IN
--                          (SELECT     LGH.dbo.Forward_To_Sub_Dept.yearly_no
                            --FROM          LGH.dbo.Forward_To_Sub_Dept
                            --WHERE      (LGH.dbo.Forward_To_Sub_Dept.to_sub_Dept = @SubDeptNo) AND (LGH.dbo.Forward_To_Sub_Dept.request_type_id = @request_type_id) AND (LGH.dbo.Forward_To_Sub_Dept.status = @Status)
--)) And (LGH.dbo.Patient.PFName like '%'+@PFName+'%') And 
--(isnull(LGH.dbo.Patient.PMName,'') like '%'+@PMName+'%') And 
--(LGH.dbo.Patient.Relation like '%'+@Relation+'%') And 
--(LGH.dbo.Patient.RFName like '%'+@RFName+'%') And 
--(LGH.dbo.Patient.RMName like '%'+@RMName+'%')And 
--((DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE())/365) = @Age) 
--And (LGH.dbo.Patient.RegNo like '%'+@RegNo+'%')
--ORDER BY LGH.dbo.Payment.DateTime Asc	End
--Else if @date is not null or @date <> '' 
--Begin
SELECT     LGH.dbo.Payment.RegNo AS [Registration No], LGH.dbo.Payment.PayID AS VisitNo, 
                      LGH.dbo.Patient.Prefix + ' ' + LGH.dbo.Patient.PFName + ' ' + LGH.dbo.Patient.PMName + ' ' + LGH.dbo.Patient.PLName AS [Patient Name], 
                      LGH.dbo.Patient.Relation, LGH.dbo.Patient.RFName + ' ' + LGH.dbo.Patient.RMName + ' ' + LGH.dbo.Patient.RLName AS [Relation Name], 
                      LGH.dbo.Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
                      DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, 
                      GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
FROM         LGH.dbo.Payment INNER JOIN
                      LGH.dbo.Patient ON LGH.dbo.Payment.RegNo = LGH.dbo.Patient.RegNo INNER JOIN
                      MLC_Final_Register ON LGH.dbo.Payment.RegNo = MLC_Final_Register.registration_no AND LGH.dbo.Payment.PayID = MLC_Final_Register.yearlyno
WHERE     (datepart(dd,LGH.dbo.Payment.DateTime)=datepart(dd,convert(datetime,@date,107))) And 
(datepart(mm,LGH.dbo.Payment.DateTime)=datepart(mm,convert(datetime,@date,107))) And
(datepart(yyyy,LGH.dbo.Payment.DateTime)=datepart(yyyy,convert(datetime,@date,107))) And
(LGH.dbo.Patient.PFName like '%'+@PFName+'%') And 
(isnull(LGH.dbo.Patient.PMName,'') like '%'+@PMName+'%') And 
(LGH.dbo.Patient.Relation like '%'+@Relation+'%') And 
(LGH.dbo.Patient.RFName like '%'+@RFName+'%') And 
(LGH.dbo.Patient.RMName like '%'+@RMName+'%')And 
((DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE())/365) = @Age) 
And (LGH.dbo.Patient.RegNo like '%'+@RegNo+'%')
ORDER BY LGH.dbo.Payment.DateTime Asc	
End
--================================================================================================================	
Else 
		Begin
SELECT     LGH.dbo.Payment.RegNo AS [Registration No], LGH.dbo.Payment.PayID AS VisitNo, 
                      LGH.dbo.Patient.Prefix + ' ' + LGH.dbo.Patient.PFName + ' ' + LGH.dbo.Patient.PMName + ' ' + LGH.dbo.Patient.PLName AS [Patient Name], 
                      LGH.dbo.Patient.Relation, LGH.dbo.Patient.RFName + ' ' + LGH.dbo.Patient.RMName + ' ' + LGH.dbo.Patient.RLName AS [Relation Name], 
                      LGH.dbo.Payment.DateTime, CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
                      DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, LGH.dbo.Patient.DateOfBirth, 
                      GETDATE()) % 365 % 30) + '  D' AS [Patient Age]
FROM         LGH.dbo.Payment INNER JOIN
                      LGH.dbo.Patient ON LGH.dbo.Payment.RegNo = LGH.dbo.Patient.RegNo INNER JOIN
                      MLC_Final_Register ON LGH.dbo.Payment.RegNo = MLC_Final_Register.registration_no AND LGH.dbo.Payment.PayID = MLC_Final_Register.yearlyno
WHERE     (LGH.dbo.Patient.PFName like '%'+@PFName+'%') And (isnull(LGH.dbo.Patient.PMName,'') like '%'+@PMName+'%') 
And (LGH.dbo.Patient.Relation like '%'+@Relation+'%') 
And (LGH.dbo.Patient.RFName like '%'+@RFName+'%') And (LGH.dbo.Patient.RMName like '%'+@RMName+'%')
 And (LGH.dbo.Patient.RegNo like '%'+@RegNo+'%')
ORDER BY LGH.dbo.Payment.DateTime Asc		
End
--===============================================================================================================






GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Forward_To_Sub_Dept (Registration.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 261
            End
            DisplayFlags = 280
            TopColumn = 7
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Forward_To_Sub_Dept'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Forward_To_Sub_Dept'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Patient (Registration.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Payment_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 197
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Payment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Payment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SubDepartment_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SubDepartment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SubDepartment'
GO
USE [master]
GO
