USE [master]
GO
/****** Object:  Database [PatientDataInfo]    Script Date: 10/26/2025 5:23:27 PM ******/
CREATE DATABASE [PatientDataInfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PatientDataInfo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PatientDataInfo.mdf' , SIZE = 4672KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PatientDataInfo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PatientDataInfo_log.ldf' , SIZE = 1536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PatientDataInfo].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [PatientDataInfo]
GO
/****** Object:  Table [dbo].[Parties]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[Party_Id] [numeric](18, 0) NOT NULL,
	[Party_Name] [varchar](50) NULL,
	[Party_Type] [varchar](50) NULL,
 CONSTRAINT [PK_Parties] PRIMARY KEY CLUSTERED 
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Companies]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Companies]
AS
SELECT     Party_Id AS Company_ID, Party_Name AS Company_Name
FROM         dbo.Parties
GO
/****** Object:  View [dbo].[Department]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Department]
AS
SELECT     Dept_ID, Dept_Name, Dept_Location, Dept_PhoneNo, Dept_FaxNo, Dept_MainPage, Hospital_ID
FROM         BasicDataInfo.dbo.Department

GO
/****** Object:  View [dbo].[Employee]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Employee]
AS
SELECT     EmpID, ISNULL(EFName, '') + ' ' + ISNULL(EMName, '') + ' ' + ISNULL(ELName, '') AS Name, DesignationID, DeptID, SubDeptId
FROM         BasicDataInfo.dbo.Employee AS Employee_1

GO
/****** Object:  View [dbo].[SubDepartment]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [dbo].[SubDepartment]
AS
SELECT     SubDepartment_1.*
FROM         BasicDataInfo.dbo.SubDepartment AS SubDepartment_1
GO
/****** Object:  Table [dbo].[Account_Title]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Title](
	[Account_No] [numeric](18, 0) NOT NULL,
	[Party_Id] [numeric](18, 0) NULL,
	[Account_Title] [varbinary](50) NULL,
	[Party_Type] [varchar](50) NULL,
 CONSTRAINT [PK_Account_Title_1] PRIMARY KEY CLUSTERED 
(
	[Account_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountTittle_OpeningBalance]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTittle_OpeningBalance](
	[Opening_B_Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Account_No] [numeric](18, 0) NULL,
	[E_Code] [varchar](50) NULL,
	[Opening_Balance_Amount] [float] NULL,
	[Dr_Cr_Action_Id] [smallint] NULL,
	[Trans_Datetime] [datetime] NULL,
	[Date_Start] [datetime] NULL,
	[PartyID] [int] NULL,
 CONSTRAINT [PK_AccountTittle_OpeningBalance] PRIMARY KEY CLUSTERED 
(
	[Opening_B_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AmountType]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmountType](
	[AmountType] [varchar](50) NOT NULL,
	[AmountTypeID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appsetting]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appsetting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[value] [varchar](500) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](250) NULL,
	[CNic] [varchar](20) NULL,
	[EmpCategoryID] [int] NULL,
 CONSTRAINT [PK_Emp] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpCategories]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpCategories](
	[EMPCategoryID] [int] NOT NULL,
	[CategoryName] [varchar](50) NULL,
	[CategoryHead] [varchar](10) NULL,
 CONSTRAINT [PK_EmpCategories] PRIMARY KEY CLUSTERED 
(
	[EMPCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpSalaries]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpSalaries](
	[Sal_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Emp_ID] [int] NULL,
	[SalaryMonth] [int] NULL,
	[Sal_amount] [numeric](18, 0) NULL,
	[Sal_Tax] [numeric](18, 0) NULL,
	[SalaryYear] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenditure]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenditure](
	[E_ID] [int] IDENTITY(1,1) NOT NULL,
	[E_Code] [varchar](50) NOT NULL,
	[E_Name] [varchar](50) NULL,
	[ESH_Code] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenditure_Heading]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenditure_Heading](
	[EH_Code] [varchar](50) NOT NULL,
	[EH_Name] [varchar](50) NULL,
	[HeadType] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenditure_Sub_Heading]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenditure_Sub_Heading](
	[ESH_Code] [varchar](50) NOT NULL,
	[ESH_Name] [varchar](50) NULL,
	[EH_Code] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Data_Info]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Data_Info](
	[Yearly_No] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RegNo] [varchar](200) NULL,
	[Patient_Name] [varchar](250) NULL,
	[Dept_id] [int] NULL,
	[subDeptId] [int] NULL,
	[Amount] [int] NULL,
	[RegDate] [datetime] NULL,
	[PatientType] [varchar](50) NULL,
	[AmountType] [varchar](50) NULL,
	[AmountTypeID] [int] NULL,
	[OnACOf] [varchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt_Disbursement_AccountHeads]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Disbursement_AccountHeads](
	[Voucher_Trans_Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Account_No] [numeric](18, 0) NULL,
	[Voucher_No] [varchar](100) NULL,
	[Reference_No] [varchar](50) NULL,
	[Trans_Datetime] [datetime] NULL,
	[For_Date] [datetime] NULL,
	[Voucher_Type] [varchar](50) NULL,
	[Description] [varchar](750) NULL,
	[Amount] [decimal](18, 0) NULL,
	[Other_Currency_id] [int] NULL,
	[Other_Currency_Amount] [decimal](18, 0) NULL,
	[Trans_By_Emp_Id] [int] NULL,
	[Trans_By_Desg_Id] [int] NULL,
	[Approval_Status] [bit] NULL,
	[Trans_Type_Id] [int] NULL,
	[Invoice_No] [varchar](50) NULL,
	[File_No] [varchar](100) NULL,
	[From_Dept_Id] [int] NULL,
	[From_Office_Id] [int] NULL,
	[Prepared_By] [int] NULL,
	[Checked_By] [int] NULL,
	[Authorized_By] [int] NULL,
	[Cr_Dr_Action_Id] [smallint] NULL,
	[Party_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reciept_Disbursement_Detail]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reciept_Disbursement_Detail](
	[Voucher_Trans_Id] [numeric](18, 0) NOT NULL,
	[Reciept_Disbursement_Detail_Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[E_Code] [varchar](50) NULL,
	[Amount] [decimal](18, 0) NULL,
	[Cr_Dr_Action_Id] [smallint] NULL,
	[Party_ID] [int] NULL,
	[Description] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Year_Months]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Year_Months](
	[Month_No] [int] NULL,
	[Month_Name] [varchar](50) NULL,
	[Month_Abb] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Delete_ACHead]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[Delete_ACHead]

@Voucher_Trans_Id as numeric(18,0) ,
@Rec_No as smallint
AS




declare @Voucher_Trans_Id_S as numeric(18, 0)
set @Voucher_Trans_Id_S = 0

SELECT @Voucher_Trans_Id_S  =       Voucher_Trans_Id
FROM         Reciept_Disbursement_Detail
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No)

if(@Voucher_Trans_Id_S <> 0)
begin
DELETE FROM Reciept_Disbursement_Detail
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No)
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteReciptMOP]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[DeleteReciptMOP]

@Voucher_Trans_Id as numeric(18,0) ,
@Rec_No as smallint
AS




declare @Voucher_Trans_Id_S as numeric(18, 0)
set @Voucher_Trans_Id_S = 0


SELECT @Voucher_Trans_Id_S  =     Voucher_Trans_Id
FROM         Voucher_Receipt
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No)


if(@Voucher_Trans_Id_S <> 0)
begin
DELETE FROM Voucher_Receipt
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No)
end



GO
/****** Object:  StoredProcedure [dbo].[deletevoucher]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[deletevoucher]

@Voucher_Trans_Id as numeric(18,0) 
AS
begin
DELETE FROM Receipt_Disbursement_AccountHeads
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id)

DELETE FROM Reciept_Disbursement_Detail
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id)

end











GO
/****** Object:  StoredProcedure [dbo].[insert_ACHead]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[insert_ACHead]

@Voucher_Trans_Id as numeric(18,0) ,
@E_Code as varchar(50),
@Amount as decimal(18,0),
@Cr_Dr_Action_Id as smallint,
@Party_ID as int,
@Description as varchar(500)

AS


--declare @Voucher_Trans_Id_S as numeric(18, 0)
--set @Voucher_Trans_Id_S = 0
--credit
--if @Voucher_Type ='Reciept Voucher'

--SELECT  @Voucher_Trans_Id_S  =    Voucher_Trans_Id
--FROM         Reciept_Disbursement_Detail
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)

--if(@Voucher_Trans_Id_S = 0)

begin
INSERT INTO Reciept_Disbursement_Detail
                      (Voucher_Trans_Id, Amount, Cr_Dr_Action_Id, Party_ID, E_Code, Description)
VALUES     (@Voucher_Trans_Id,@Amount,@Cr_Dr_Action_Id,@Party_ID,@E_Code,@Description)

end

--else if(@Voucher_Trans_Id_S <> 0)
--begin
--UPDATE    Reciept_Disbursement_Detail
--SET              Account_Head_id = @Account_Head_id, Amount = @Amount, Cr_Dr_Action_Id = @Cr_Dr_Action_Id, E_Code = @E_Code
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)
--
--
--end





GO
/****** Object:  StoredProcedure [dbo].[Insert_COmpany_Info]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_COmpany_Info] 
	-- Add the parameters for the stored procedure here
 @Company_Name varchar(300)
,@Address varchar(500)
,@ContactPersonName varchar(200)
,@Phone varchar(50)
,@Fax varchar(50)
,@MobileNo varchar(50)
,@Cardiac bit
,@Category_Order int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
if @Company_Name not in (Select Company_Name from COmpanies where company_Name = @Company_Name)
	BEGIN
INSERT INTO Companies
                      (Company_Name, Address, ContactPersonName, Phone, Fax, MobileNo, Cardiac, Category_Order)
VALUES     (@Company_Name,@Address,@ContactPersonName,@Phone,@Fax,@MobileNo,@Cardiac,@Category_Order)
	END
END





GO
/****** Object:  StoredProcedure [dbo].[insert_CompOB]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create PROCEDURE [dbo].[insert_CompOB]

@P_ID as int,
@Opening_Balance_Amount as float,
@Dr_Cr_Action_Id as int

AS
declare @amt float
set @amt = 0

SELECT    @amt =  Opening_Balance_Amount
FROM         AccountTittle_OpeningBalance
WHERE     (PartyID = @P_ID)
--declare @Voucher_Trans_Id_S as numeric(18, 0)
if @amt = 0
begin
INSERT INTO AccountTittle_OpeningBalance
                      (Opening_Balance_Amount, Dr_Cr_Action_Id, PartyID)
VALUES     (@Opening_Balance_Amount,@Dr_Cr_Action_Id,@P_ID)
end

else
begin
UPDATE    AccountTittle_OpeningBalance
SET              Opening_Balance_Amount = @Opening_Balance_Amount, Dr_Cr_Action_Id = @Dr_Cr_Action_Id
WHERE     (PartyID = @P_ID)
end








GO
/****** Object:  StoredProcedure [dbo].[insert_EH]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






create PROCEDURE [dbo].[insert_EH]

@E_Code as varchar(50),
@Opening_Balance_Amount as float,
@Dr_Cr_Action_Id as int

AS
declare @amt float
set @amt = 0
  
SELECT  @amt = Opening_Balance_Amount
FROM         AccountTittle_OpeningBalance
WHERE     (E_Code = @E_Code)
--declare @Voucher_Trans_Id_S as numeric(18, 0)
if @amt = 0
begin
 
INSERT INTO AccountTittle_OpeningBalance
                      (Opening_Balance_Amount, Dr_Cr_Action_Id, E_Code)
VALUES     (@Opening_Balance_Amount,@Dr_Cr_Action_Id,@E_Code)
end

else
begin
UPDATE    AccountTittle_OpeningBalance
SET              Opening_Balance_Amount = @Opening_Balance_Amount, Dr_Cr_Action_Id = @Dr_Cr_Action_Id
WHERE     (E_Code = @E_Code)
end










GO
/****** Object:  StoredProcedure [dbo].[insert_Salary]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[insert_Salary]

@Emp_ID as int,
@SalaryMonth as int,
@Sal_amount as numeric(18,0),
@Sal_Tax as numeric(18,0),
@SalaryYear as int

AS
declare @amt int
set @amt = 0
SELECT  @amt = Sal_amount
FROM         EmpSalaries
WHERE     (Emp_ID = @Emp_ID) AND (SalaryMonth = @SalaryMonth)

--declare @Voucher_Trans_Id_S as numeric(18, 0)
if @amt = 0
begin
INSERT INTO EmpSalaries
                      (Emp_ID, SalaryMonth, Sal_amount, Sal_Tax, SalaryYear)
VALUES     (@Emp_ID,@SalaryMonth,@Sal_amount,@Sal_Tax,@SalaryYear)
end
else
begin
UPDATE    EmpSalaries
SET              Sal_amount = @Sal_amount, Sal_Tax = @Sal_Tax
WHERE     (Emp_ID = @Emp_ID) AND (SalaryMonth = @SalaryMonth) AND (SalaryYear = @SalaryYear)
end





GO
/****** Object:  StoredProcedure [dbo].[insert_Voucher_Main]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[insert_Voucher_Main]
--@Account_No as numeric(18,0),
--@Voucher_No as varchar(100),
--@SalePurchaseID as varchar(100),
@Trans_Datetime as datetime,
@For_Date as datetime,
@Amount as decimal(18, 0),
@Invoice_No as varchar(50),
@Voucher_Trans_Id as numeric(18, 0) output

--@Party_ID as int
AS

--declare @Voucher_Trans_Id_S as numeric(18, 0)
--set @Voucher_Trans_Id_S = 0
--
--SELECT @Voucher_Trans_Id_S = Voucher_Id
--FROM         Request_Voucher
--WHERE     (Request_Id = @Request_Id)
--credit
--if @Voucher_Type ='Reciept Voucher'
--SELECT  @Voucher_Trans_Id_S =   Voucher_Trans_Id
--FROM         Receipt_Disbursement_AccountHeads
--WHERE     (Cr_Dr_Action_Id = 2) AND (Voucher_Trans_Id = @Voucher_Trans_Id_in)

--if @Voucher_Trans_Id_S = 0
begin
INSERT INTO Receipt_Disbursement_AccountHeads
                      (Cr_Dr_Action_Id, Trans_Datetime, For_Date, Amount, Invoice_No)
VALUES     (1,@Trans_Datetime,@For_Date,@Amount,@Invoice_No)
set @Voucher_Trans_Id=@@identity
end

--else if(@Voucher_Trans_Id_S<>0)
--begin
--
--UPDATE    Receipt_Disbursement_AccountHeads
--SET              Account_No = @Account_No, Voucher_No = @Voucher_No, Reference_No = @Reference_No, Trans_Datetime = @Trans_Datetime, For_Date = @For_Date, 
--                      Voucher_Type = @Voucher_Type, Description = @Description, Amount = @Amount, File_No = @File_No, From_Office_Id = @From_Office_Id
--WHERE     (Cr_Dr_Action_Id = @Cr_Dr_Action_Id) AND (Voucher_Trans_Id = @Voucher_Trans_Id_S)
--set @Voucher_Trans_Id=@Voucher_Trans_Id_S
--end



GO
/****** Object:  StoredProcedure [dbo].[LedgerOpeningBalance]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE PROCEDURE [dbo].[LedgerOpeningBalance]

@SDate as datetime,
@Obalance as numeric(18,0) output,
@E_Code as varchar(50) 

AS
set @Obalance =0
declare @SObalance as numeric(18,0)
set @SObalance = 0


--declare @Voucher_Trans_Id_S as numeric(18, 0)
--set @Voucher_Trans_Id_S = 0
--credit
--if @Voucher_Type ='Reciept Voucher'

--SELECT  @Voucher_Trans_Id_S  =    Voucher_Trans_Id
--FROM         Reciept_Disbursement_Detail
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)

--if(@Voucher_Trans_Id_S = 0)

begin
select @Obalance = (sum(ledgerview.dr) - sum(ledgerview.Cr))
from (SELECT     Expenditure.E_Code, (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 1 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) 
                      ELSE 0 END) AS Dr, (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 2 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) 
                      ELSE 0 END) AS Cr, CONVERT(varchar, Receipt_Disbursement_AccountHeads.For_Date, 103) AS For_Date
FROM         Reciept_Disbursement_Detail INNER JOIN
                      Expenditure ON Reciept_Disbursement_Detail.E_Code = Expenditure.E_Code INNER JOIN
                      Receipt_Disbursement_AccountHeads ON 
                      Reciept_Disbursement_Detail.Voucher_Trans_Id = Receipt_Disbursement_AccountHeads.Voucher_Trans_Id
WHERE     (Reciept_Disbursement_Detail.E_Code = @E_Code) and (convert(datetime,convert(varchar,Receipt_Disbursement_AccountHeads.For_Date,103),103) < convert(datetime,convert(varchar,@SDate,103),103))) as ledgerview
group by ledgerview.E_Code

SELECT @SObalance = case when Dr_Cr_Action_Id = 1 then Opening_Balance_Amount else Opening_Balance_Amount*-1 end
FROM         AccountTittle_OpeningBalance
where (E_Code = @E_Code) 


set @Obalance = @Obalance + @SObalance


end

--else if(@Voucher_Trans_Id_S <> 0)
--begin
--UPDATE    Reciept_Disbursement_Detail
--SET              Account_Head_id = @Account_Head_id, Amount = @Amount, Cr_Dr_Action_Id = @Cr_Dr_Action_Id, E_Code = @E_Code
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)
--
--
--end











GO
/****** Object:  StoredProcedure [dbo].[PartyLedgerOpeningBalance]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[PartyLedgerOpeningBalance]

@SDate as datetime,
@Obalance as numeric(18,0) output,
@Company_ID as int

AS

set @Obalance =0
declare @SObalance as numeric(18,0)
set @SObalance = 0
--declare @Voucher_Trans_Id_S as numeric(18, 0)
--set @Voucher_Trans_Id_S = 0
--credit
--if @Voucher_Type ='Reciept Voucher'

--SELECT  @Voucher_Trans_Id_S  =    Voucher_Trans_Id
--FROM         Reciept_Disbursement_Detail
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)

--if(@Voucher_Trans_Id_S = 0)

begin



select @Obalance = (sum(ledgerview.dr) - sum(ledgerview.Cr))
from (SELECT      Companies.Company_ID,(CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 1 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END) AS Dr, 
                      (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 2 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END) AS Cr, 
                      CONVERT(varchar, Receipt_Disbursement_AccountHeads.For_Date, 103) AS For_Date, Companies.Company_Name
FROM         Reciept_Disbursement_Detail INNER JOIN
                      Receipt_Disbursement_AccountHeads ON 
                      Reciept_Disbursement_Detail.Voucher_Trans_Id = Receipt_Disbursement_AccountHeads.Voucher_Trans_Id INNER JOIN
                      PLD.dbo.Companies ON Reciept_Disbursement_Detail.Party_ID = PLD.dbo.Companies.Company_ID
WHERE     (Companies.Company_ID = @Company_ID) AND (convert(datetime,CONVERT(varchar, Receipt_Disbursement_AccountHeads.For_Date, 103),103) 
                      < Convert(datetime,CONVERT(varchar, @SDate, 103),103))) as ledgerview
group by ledgerview.Company_ID


SELECT @SObalance = case when Dr_Cr_Action_Id = 1 then Opening_Balance_Amount else Opening_Balance_Amount*-1 end
FROM         AccountTittle_OpeningBalance
where (PartyID = @Company_ID) 

set @Obalance = @Obalance + @SObalance
--and (CONVERT(varchar, AccountTittle_OpeningBalance.Date_Start, 103) < CONVERT(varchar, @SDate, 103)) datepart
end

--else if(@Voucher_Trans_Id_S <> 0)
--begin
--UPDATE    Reciept_Disbursement_Detail
--SET              Account_Head_id = @Account_Head_id, Amount = @Amount, Cr_Dr_Action_Id = @Cr_Dr_Action_Id, E_Code = @E_Code
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)
--
--
--end










GO
/****** Object:  StoredProcedure [dbo].[PartyOpeningBalance]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[PartyOpeningBalance]


@Obalance as numeric(18,0) output,
@Company_ID as int

AS

set @Obalance =0
declare @SObalance as numeric(18,0)
set @SObalance = 0
--declare @Voucher_Trans_Id_S as numeric(18, 0)
--set @Voucher_Trans_Id_S = 0
--credit
--if @Voucher_Type ='Reciept Voucher'

--SELECT  @Voucher_Trans_Id_S  =    Voucher_Trans_Id
--FROM         Reciept_Disbursement_Detail
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)

--if(@Voucher_Trans_Id_S = 0)

begin


SELECT @Obalance = case when Dr_Cr_Action_Id = 1 then Opening_Balance_Amount else Opening_Balance_Amount*-1 end
FROM         AccountTittle_OpeningBalance
where (PartyID = @Company_ID) 


--and (CONVERT(varchar, AccountTittle_OpeningBalance.Date_Start, 103) < CONVERT(varchar, @SDate, 103)) datepart
end

--else if(@Voucher_Trans_Id_S <> 0)
--begin
--UPDATE    Reciept_Disbursement_Detail
--SET              Account_Head_id = @Account_Head_id, Amount = @Amount, Cr_Dr_Action_Id = @Cr_Dr_Action_Id, E_Code = @E_Code
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)
--
--
--end











GO
/****** Object:  StoredProcedure [dbo].[PartyPayable]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PartyPayable]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
SELECT  
          (-1)*((sum(  (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 1 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END))
+(SELECT     isnull(SUM(Opening_Balance_Amount),0)
FROM         AccountTittle_OpeningBalance
WHERE     (Dr_Cr_Action_Id = 1) AND (partyid = Reciept_Disbursement_Detail.party_id)))-( sum( (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 2 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END)) +(SELECT     isnull(SUM(Opening_Balance_Amount),0)
FROM         AccountTittle_OpeningBalance
WHERE     (Dr_Cr_Action_Id = 2) AND (partyid = Reciept_Disbursement_Detail.party_id))))
 AS Payable,Reciept_Disbursement_Detail.Party_ID, 
                      PLD.dbo.Companies.Company_Name AS E_Name
FROM         Reciept_Disbursement_Detail INNER JOIN
                      Receipt_Disbursement_AccountHeads ON Reciept_Disbursement_Detail.Voucher_Trans_Id = Receipt_Disbursement_AccountHeads.Voucher_Trans_Id INNER JOIN
                      PLD.dbo.Companies ON Reciept_Disbursement_Detail.Party_ID = PLD.dbo.Companies.Company_ID

group by Reciept_Disbursement_Detail.Party_ID, 
                      PLD.dbo.Companies.Company_Name 
having      (sum(  (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 1 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END))
+(SELECT     isnull(SUM(Opening_Balance_Amount),0)
FROM         AccountTittle_OpeningBalance
WHERE     (Dr_Cr_Action_Id = 1) AND (partyid = Reciept_Disbursement_Detail.party_id)))-( sum( (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 2 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END)) +(SELECT     isnull(SUM(Opening_Balance_Amount),0)
FROM         AccountTittle_OpeningBalance
WHERE     (Dr_Cr_Action_Id = 2) AND (partyid = Reciept_Disbursement_Detail.party_id)))<0


end


GO
/****** Object:  StoredProcedure [dbo].[PartyReceiveable]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PartyReceiveable]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
SELECT  
          (sum(  (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 1 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END))
+(SELECT     isnull(SUM(Opening_Balance_Amount),0)
FROM         AccountTittle_OpeningBalance
WHERE     (Dr_Cr_Action_Id = 1) AND (partyid = Reciept_Disbursement_Detail.party_id)))-( sum( (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 2 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END)) +(SELECT     isnull(SUM(Opening_Balance_Amount),0)
FROM         AccountTittle_OpeningBalance
WHERE     (Dr_Cr_Action_Id = 2) AND (partyid = Reciept_Disbursement_Detail.party_id)))
 AS Recievable,Reciept_Disbursement_Detail.Party_ID, 
                      PLD.dbo.Companies.Company_Name AS E_Name
FROM         Reciept_Disbursement_Detail INNER JOIN
                      Receipt_Disbursement_AccountHeads ON Reciept_Disbursement_Detail.Voucher_Trans_Id = Receipt_Disbursement_AccountHeads.Voucher_Trans_Id INNER JOIN
                      PLD.dbo.Companies ON Reciept_Disbursement_Detail.Party_ID = PLD.dbo.Companies.Company_ID

group by Reciept_Disbursement_Detail.Party_ID, 
                      PLD.dbo.Companies.Company_Name 
having      (sum(  (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 1 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END))
+(SELECT     isnull(SUM(Opening_Balance_Amount),0)
FROM         AccountTittle_OpeningBalance
WHERE     (Dr_Cr_Action_Id = 1) AND (partyid = Reciept_Disbursement_Detail.party_id)))-( sum( (CASE WHEN Reciept_Disbursement_Detail.Cr_Dr_Action_Id = 2 THEN isnull(Reciept_Disbursement_Detail.Amount, 0) ELSE 0 END)) +(SELECT     isnull(SUM(Opening_Balance_Amount),0)
FROM         AccountTittle_OpeningBalance
WHERE     (Dr_Cr_Action_Id = 2) AND (partyid = Reciept_Disbursement_Detail.party_id)))>0


end

GO
/****** Object:  StoredProcedure [dbo].[Temp_insert_Reciept_Voucher]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[Temp_insert_Reciept_Voucher]
--@Account_No as numeric(18,0),
@Voucher_No as varchar(100),
@Reference_No as varchar(50),
@Trans_Datetime as datetime,
@For_Date as datetime,
@Voucher_Type as varchar(50),
@Description as varchar(50),
--@Amount as decimal(18,0),
@File_No as varchar(100),
--@From_Office_Id as int,
@Voucher_Trans_Id as numeric(18, 0) output,
@Cr_Dr_Action_Id as int
--@Party_ID as int
AS

--declare @Voucher_Trans_Id_S as numeric(18, 0)
--set @Voucher_Trans_Id_S = 0
--
--SELECT @Voucher_Trans_Id_S = Voucher_Id
--FROM         Request_Voucher
--WHERE     (Request_Id = @Request_Id)
--credit
--if @Voucher_Type ='Reciept Voucher'
--SELECT  @Voucher_Trans_Id_S =   Voucher_Trans_Id
--FROM         Receipt_Disbursement_AccountHeads
--WHERE     (Cr_Dr_Action_Id = 2) AND (Voucher_Trans_Id = @Voucher_Trans_Id_in)

--if @Voucher_Trans_Id_S = 0
begin
INSERT INTO Receipt_Disbursement_AccountHeads
                      (Voucher_No, Reference_No, Trans_Datetime, For_Date, Voucher_Type, Description, File_No, Cr_Dr_Action_Id)
VALUES     (@Voucher_No,@Reference_No,@Trans_Datetime,@For_Date,@Voucher_Type,@Description,@File_No,@Cr_Dr_Action_Id)set @Voucher_Trans_Id=@@identity
--INSERT INTO Request_Voucher
--                      (Voucher_Id, Request_Id)
--VALUES     (@Voucher_Trans_Id,@Request_Id)

end

--else if(@Voucher_Trans_Id_S<>0)
--begin
--
--UPDATE    Receipt_Disbursement_AccountHeads
--SET              Account_No = @Account_No, Voucher_No = @Voucher_No, Reference_No = @Reference_No, Trans_Datetime = @Trans_Datetime, For_Date = @For_Date, 
--                      Voucher_Type = @Voucher_Type, Description = @Description, Amount = @Amount, File_No = @File_No, From_Office_Id = @From_Office_Id
--WHERE     (Cr_Dr_Action_Id = @Cr_Dr_Action_Id) AND (Voucher_Trans_Id = @Voucher_Trans_Id_S)
--set @Voucher_Trans_Id=@Voucher_Trans_Id_S
--end








GO
/****** Object:  StoredProcedure [dbo].[update_ACHead]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[update_ACHead]

@Voucher_Trans_Id as numeric(18,0) ,
@E_Code as varchar(50),
@Amount as decimal(18,0),
@Cr_Dr_Action_Id as smallint,
@Party_ID as int,
@Description as varchar(500),
@Reciept_Disbursement_Detail_Id as numeric(18,0) 


AS


--declare @Voucher_Trans_Id_S as numeric(18, 0)
--set @Voucher_Trans_Id_S = 0
--credit
--if @Voucher_Type ='Reciept Voucher'

--SELECT  @Voucher_Trans_Id_S  =    Voucher_Trans_Id
--FROM         Reciept_Disbursement_Detail
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)

--if(@Voucher_Trans_Id_S = 0)

begin

declare @insertflag int
set @insertflag = 0
select @insertflag = Cr_Dr_Action_Id
from  Reciept_Disbursement_Detail
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Reciept_Disbursement_Detail_Id = @Reciept_Disbursement_Detail_Id)



if @insertflag = 0
begin
INSERT INTO Reciept_Disbursement_Detail
                      (Voucher_Trans_Id, Amount, Cr_Dr_Action_Id, Party_ID, E_Code, Description)
VALUES     (@Voucher_Trans_Id,@Amount,@Cr_Dr_Action_Id,@Party_ID,@E_Code,@Description)
end
else
begin
UPDATE    Reciept_Disbursement_Detail
SET              Amount = @Amount, Cr_Dr_Action_Id = @Cr_Dr_Action_Id, Party_ID = @Party_ID, E_Code = @E_Code, Description = @Description 
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Reciept_Disbursement_Detail_Id = @Reciept_Disbursement_Detail_Id)
end
end

--else if(@Voucher_Trans_Id_S <> 0)
--begin
--UPDATE    Reciept_Disbursement_Detail
--SET              Account_Head_id = @Account_Head_id, Amount = @Amount, Cr_Dr_Action_Id = @Cr_Dr_Action_Id, E_Code = @E_Code
--WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id) AND (Rec_No = @Rec_No) AND (E_Code = @E_Code)
--
--
--end






GO
/****** Object:  StoredProcedure [dbo].[Update_Reciept_Voucher_Main]    Script Date: 10/26/2025 5:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








Create PROCEDURE [dbo].[Update_Reciept_Voucher_Main]
--@Account_No as numeric(18,0),
@Voucher_No as varchar(100),
@Reference_No as varchar(50),
@Trans_Datetime as datetime,
@For_Date as datetime,
@Voucher_Type as varchar(50),
@Description as varchar(50),
--@Amount as decimal(18,0),
@File_No as varchar(100),
--@From_Office_Id as int,
@Voucher_Trans_Id as numeric(18, 0) output,
@Cr_Dr_Action_Id as int
--@Party_ID as int
AS

--declare @Voucher_Trans_Id_S as numeric(18, 0)
--set @Voucher_Trans_Id_S = 0
--
--SELECT @Voucher_Trans_Id_S = Voucher_Id
--FROM         Request_Voucher
--WHERE     (Request_Id = @Request_Id)
--credit
--if @Voucher_Type ='Reciept Voucher'
--SELECT  @Voucher_Trans_Id_S =   Voucher_Trans_Id
--FROM         Receipt_Disbursement_AccountHeads
--WHERE     (Cr_Dr_Action_Id = 2) AND (Voucher_Trans_Id = @Voucher_Trans_Id_in)

--if @Voucher_Trans_Id_S = 0
begin
UPDATE    Receipt_Disbursement_AccountHeads
SET              Voucher_No = @Voucher_No, Reference_No = @Reference_No, Trans_Datetime = @Trans_Datetime, For_Date = @For_Date, 
                      Voucher_Type = @Voucher_Type, Description = @Description, File_No = @File_No, Cr_Dr_Action_Id = @Cr_Dr_Action_Id
WHERE     (Voucher_Trans_Id = @Voucher_Trans_Id)
--INSERT INTO Request_Voucher
--                      (Voucher_Id, Request_Id)
--VALUES     (@Voucher_Trans_Id,@Request_Id)

end

--else if(@Voucher_Trans_Id_S<>0)
--begin
--
--UPDATE    Receipt_Disbursement_AccountHeads
--SET              Account_No = @Account_No, Voucher_No = @Voucher_No, Reference_No = @Reference_No, Trans_Datetime = @Trans_Datetime, For_Date = @For_Date, 
--                      Voucher_Type = @Voucher_Type, Description = @Description, Amount = @Amount, File_No = @File_No, From_Office_Id = @From_Office_Id
--WHERE     (Cr_Dr_Action_Id = @Cr_Dr_Action_Id) AND (Voucher_Trans_Id = @Voucher_Trans_Id_S)
--set @Voucher_Trans_Id=@Voucher_Trans_Id_S
--end









GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Parties"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 110
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Companies'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Companies'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Department (BasicDataInfo.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 194
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[60] 4[3] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Employee_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 200
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 3165
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Employee'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Employee'
GO
USE [master]
GO
