USE [master]
GO
/****** Object:  Database [Radiology_Images]    Script Date: 10/26/2025 5:24:53 PM ******/
CREATE DATABASE [Radiology_Images]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Radiology_Images', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Radiology_Images.mdf' , SIZE = 6208KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Radiology_Images_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Radiology_Images_log.ldf' , SIZE = 112384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Radiology_Images].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Radiology_Images]
GO
/****** Object:  Table [dbo].[Pt_Path_Images]    Script Date: 10/26/2025 5:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pt_Path_Images](
	[path_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RegNo] [varchar](50) NULL,
	[YearlyNo] [int] NULL,
	[Date_Time] [datetime] NULL,
	[Emp_Id] [int] NULL,
	[Status] [bit] NULL,
	[performed_by] [int] NULL,
	[TGID] [int] NULL,
	[TB_ID] [int] NULL,
	[data] [varchar](200) NULL,
	[ImageFile] [varbinary](max) NULL,
	[FileName] [nvarchar](50) NULL,
	[ContentType] [nvarchar](200) NULL,
 CONSTRAINT [PK_Pt_Path_Images] PRIMARY KEY CLUSTERED 
(
	[path_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
