USE [master]
GO
/****** Object:  Database [Record_Management]    Script Date: 10/26/2025 5:25:13 PM ******/
CREATE DATABASE [Record_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Record_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Record_Management.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Record_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Record_Management.ldf' , SIZE = 1792KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Record_Management].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Record_Management]
GO
/****** Object:  View [dbo].[Patient]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Patient]
AS
SELECT     RegNo, Prefix, PFName, PMName, PLName, Relation, RFName, RMName, RLName, SexID, Age, RegDateTime, CountryCode, ProvinceCode, DistrictCode, TehsilCode, 
                      Zipcode, StreetAddress, Colony, OtherProvince, OtherDistrict, OtherTehsil, HomePhone, MobilePhone, id, CNIC, DateOfBirth, AgeType, House_No, Patient_Type, 
                      Picture_Path, pt_Cast, Passport_No, email_address, barcode, Blood_Group_ID, Religion, Nationality, Picture, FingerPrint, isDead, isBlackList, Patient_Type_Id, 
                      AC_ID
FROM         Registration.dbo.Patient
GO
/****** Object:  View [dbo].[Payment]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Payment]
AS
SELECT     PayID, RegNo, DateTime, Payment, DeptID, ReferFrom, Status, EmpID, PatientType, Diagonosis, Shift, DischargeStatus, DailyNo, Refer_Department, 
                      Refer_SubDepartment, Payment_Status, SubDept_id, Secret_Record, Refer_By_ID, DoctorID, DischargeDateTime, Patient_Type_ID, Billing_Group_Id, Patient_Type, 
                      Daycase, Reference_Letter, Ward_Id, Recomended_Id, Billing_party_id
FROM         Registration.dbo.Payment
GO
/****** Object:  Table [dbo].[DocumentRequest]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentRequest](
	[DocRequest_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[FileNo] [varchar](200) NULL,
	[MRNo] [varchar](200) NULL,
	[YearlyNo] [varchar](50) NULL,
	[DocumentType_ID] [int] NULL,
	[Status] [bit] NULL,
	[Request_Date] [datetime] NULL,
	[Emp_ID] [int] NULL,
	[Pages] [int] NULL,
	[DeptID] [int] NULL,
	[SubDeptID] [int] NULL,
 CONSTRAINT [PK_DocumentRequest] PRIMARY KEY CLUSTERED 
(
	[DocRequest_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[DocumentType_ID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentType] [varchar](50) NOT NULL,
	[Emp_ID] [int] NULL,
	[Entry_Date] [datetime] NULL,
 CONSTRAINT [PK_DocumentType_1] PRIMARY KEY CLUSTERED 
(
	[DocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_File]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_File](
	[RegNo] [varchar](200) NOT NULL,
	[File_No] [varchar](20) NULL,
	[FileNoAllot_Date] [datetime] NULL,
 CONSTRAINT [PK_Patient_File_1] PRIMARY KEY CLUSTERED 
(
	[RegNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_FileNo_Serial]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_FileNo_Serial](
	[File_Alphabet] [char](1) NULL,
	[FileNo_SERIAL] [numeric](18, 0) NULL,
	[Active] [bit] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Hospital_Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Record_File]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Record_File](
	[Patient_File_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RegNo] [varchar](200) NULL,
	[YearlyNo] [numeric](18, 0) NULL,
	[FileNo] [varchar](50) NULL,
	[EmpId] [int] NULL,
	[FileNoAlotDate] [datetime] NULL,
	[IsAvailable] [bit] NULL,
	[FileName] [varchar](max) NULL,
	[FilePath] [varchar](max) NULL,
	[IsRequested] [bit] NULL,
 CONSTRAINT [PK_Patient_Record_File] PRIMARY KEY CLUSTERED 
(
	[Patient_File_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Record_File_Activity]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Record_File_Activity](
	[Patient_Record_File_Activity_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Patient_File_ID] [numeric](18, 0) NULL,
	[DateTime] [datetime] NULL,
	[Name] [varchar](200) NULL,
	[Phone] [varchar](100) NULL,
	[Address] [varchar](200) NULL,
	[Relation] [varchar](200) NULL,
	[Remarks] [varchar](500) NULL,
	[CNIC] [varchar](200) NULL,
	[EmpID] [int] NULL,
	[DeptID] [int] NULL,
	[ConsultantID] [int] NULL,
 CONSTRAINT [PK_Patient_Record_File_Activity] PRIMARY KEY CLUSTERED 
(
	[Patient_Record_File_Activity_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Record_File_Issue]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Record_File_Issue](
	[Patient_Record_File_Issue_Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Patient_Record_File_Id] [numeric](18, 0) NULL,
	[Request_By_SubDept_Id] [int] NULL,
	[Request_By_Consultant_Id] [int] NULL,
	[Issued_To_Emp_Id] [int] NULL,
	[Issued_By_Emp_Id] [int] NULL,
	[Remarks] [varchar](500) NULL,
	[Issue_Date] [datetime] NULL,
	[Issued_Status] [int] NULL,
	[Returned_Date] [datetime] NULL,
	[Returned_By_Emp_Id] [int] NULL,
	[Returned_To_Emp_Id] [int] NULL,
	[Returned_Remarks] [varchar](500) NULL,
 CONSTRAINT [PK_Patient_Record_File_Issue] PRIMARY KEY CLUSTERED 
(
	[Patient_Record_File_Issue_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientDocuments]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDocuments](
	[RegNo] [varchar](200) NULL,
	[YearlyNo] [varchar](50) NULL,
	[DocumentPath] [varchar](100) NULL,
	[DocumentType_ID] [int] NULL,
	[PatientDocument_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RequestPerson_ID] [int] NULL,
	[Emp_ID] [int] NULL,
	[Entry_Date] [datetime] NULL,
	[FileNo] [varchar](50) NULL,
	[DocRequest_ID] [numeric](18, 0) NULL,
	[DeptID] [int] NULL,
	[SubDeptID] [int] NULL,
 CONSTRAINT [PK_PatientDocuments] PRIMARY KEY CLUSTERED 
(
	[PatientDocument_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordRequest]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordRequest](
	[RecordRequest_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Emp_ID] [int] NULL,
	[Dept_ID] [int] NULL,
	[SubDept_ID] [int] NULL,
	[OnDate] [datetime] NOT NULL,
	[RegNo] [varchar](200) NULL,
	[YearlyNo] [numeric](18, 0) NULL,
	[To_SubDept_Id] [int] NULL,
	[Description] [varchar](550) NULL,
	[Request_For_Hours] [int] NULL,
	[Allow_Reject_By] [int] NULL,
	[Allow_Date] [datetime] NULL,
	[Allow_Hours] [int] NULL,
	[Rejection_Description] [varchar](550) NULL,
	[Request_Status] [int] NULL,
 CONSTRAINT [PK_RecordRequest] PRIMARY KEY CLUSTERED 
(
	[RecordRequest_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordRequest_Documents]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordRequest_Documents](
	[DocumentType_ID] [int] NOT NULL,
	[Access] [bit] NULL,
	[RecordRequest_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_RecordRequest_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentType_ID] ASC,
	[RecordRequest_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentType] ADD  CONSTRAINT [DF_DocumentType_Entry_Date]  DEFAULT (getdate()) FOR [Entry_Date]
GO
ALTER TABLE [dbo].[Patient_Record_File] ADD  CONSTRAINT [DF_Patient_Record_File_IsAvailable]  DEFAULT ((0)) FOR [IsAvailable]
GO
/****** Object:  StoredProcedure [dbo].[Generate_Serial]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Shahid Javed>
-- Create date: <Create Date,,>
-- Description:	<Generates Serial No For Patient Files>
-- =============================================
CREATE PROCEDURE [dbo].[Generate_Serial] 
	@RegNo varchar(500),
@FileNo  varchar(20) output
AS
BEGIN
declare @Status int
Select @Status=count(*) from Patient_File where RegNo=@RegNo
if(isnull(@Status,0)=0)
begin
declare @Alphabet char(1)
declare @FileNo_Serial numeric(18,0)
	Select @Alphabet=File_Alphabet,@FileNo_Serial=FileNo_Serial from Patient_FileNo_Serial Where Active=1
if(isnull(@FileNo_Serial,0)=999999)
begin
update Patient_FileNo_Serial set Active=0 where convert(int,ascii(File_Alphabet))=convert(int,ascii(@Alphabet))
update Patient_FileNo_Serial set Active=1 where convert(int,ascii(File_Alphabet))=convert(int,ascii(@Alphabet))+1
Select @Alphabet=File_Alphabet,@FileNo_Serial=FileNo_Serial from Patient_FileNo_Serial Where Active=1
update Patient_FileNo_Serial set FileNo_Serial=@FileNo_Serial+1
where Active=1
insert into Patient_File (RegNo,File_No,FileNoAllot_Date)
values(@RegNo,convert(varchar,char(convert(int,ascii(@Alphabet))+1))+right('000000'+convert(varchar,@FileNo_Serial),6),getdate())
set @FileNo=convert(varchar,char(convert(int,ascii(@Alphabet))+1))+right('000000'+convert(varchar,@FileNo_Serial),6)
end
else
begin
update Patient_FileNo_Serial set FileNo_Serial=@FileNo_Serial+1
where Active=1
insert into Patient_File (RegNo,File_No,FileNoAllot_Date)
values(@RegNo,convert(varchar,@Alphabet)+right('000000'+convert(varchar,@FileNo_Serial),6),getdate())
set @FileNo=convert(varchar,char(convert(int,ascii(@Alphabet))))+right('000000'+convert(varchar,@FileNo_Serial),6)
end
end

END

GO
/****** Object:  StoredProcedure [dbo].[InsertRecordRequest]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertRecordRequest]
@Emp_ID int,
@Dept_ID int,
@SubDept_ID int,
@RegNo varchar(200),
@YearlyNo int,
@Description varchar(550),
@Request_For_Hours int,
@RecordRequest_ID numeric(18,0) output
AS
BEGIN
	INSERT INTO [Record_Management].[dbo].[RecordRequest]
           ([Emp_ID]
           ,[Dept_ID]
           ,[SubDept_ID]
           ,[OnDate]
           ,[RegNo]
           ,[YearlyNo]
           ,[Description]
           ,[Request_Status])
     VALUES
           (@Emp_ID
           ,@Dept_ID
           ,@SubDept_ID
           ,getdate()
           ,@RegNo
           ,@YearlyNo
           ,@Description
           ,0)
set @RecordRequest_ID=@@identity
END
GO
/****** Object:  StoredProcedure [dbo].[Search_All_Record_Management_Patients]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Search_All_Record_Management_Patients] 
--@YearlyNo numeric(18),
@PFName varchar(50),
@PMName varchar(50),
@PLName varchar(50),
@RegNo varchar(50),
@Relation varchar(20),
@RFName varchar(50),
@RMName varchar(50),
@RLName varchar(50),
--@Age int,
@day int,
@month int,
@year int,
@DoB_Day int,
@DoB_Mon int,
@DoB_Year int,
--@Shift int,
@CNIC varchar(50),
@Passport_No varchar(50),
@Mobile_phone varchar(50),
@FileNO varchar(50)
AS
BEGIN

	declare @Yrly_No varchar(50)
	declare @Pat_Age varchar(10)
	declare @RegDay varchar(2)
	declare @RegMon varchar(2)
	declare @RegYear varchar(4)
	declare @DOBDay Varchar(2)
	declare @DOBMon Varchar(2)
	declare @DOBYear Varchar(4)
	declare @Shift_id varchar(4)
	declare @CNIC_val varchar(50)
	declare @Passport_No_val varchar(50)


	if @day<>0
		begin
			set @RegDay=convert(varchar,@day)				
		end
	else
		begin
			set @RegDay='%'
		end
	if @month<>0
		begin
			set @RegMon=convert(varchar,@month)				
		end
	else
		begin
			set @RegMon='%'
		end
	if @year<>0
		begin
			set @RegYear=convert(varchar,@year)				
		end
	else
		begin
			set @RegYear='%'
		end


	if @DoB_Day<>0
		begin
			set @DOBDay=convert(varchar,@DoB_Day)				
		end
	else
		begin
			set @DOBDay='%'
		end
	if @DoB_Mon<>0
		begin
			set @DOBMon=convert(varchar,@DoB_Mon)				
		end
	else
		begin
			set @DOBMon='%'
		end
	if @DoB_Year<>0
		begin
			set @DOBYear=convert(varchar,@DoB_Year)				
		end
	else
		begin
			set @DOBYear='%'
		end


		begin
			set @Shift_id='%'
		end

	SELECT DISTINCT 
						top(100) Patient_Record_File.Patient_File_ID,Patient_Record_File.YearlyNo Visit_ID,Registration.dbo.No_OF_Visit(Patient.RegNo) AS No_Of_Visits, Patient.RegNo AS [Registration No], ISNULL(Patient.Prefix, '') AS Prefix, ISNULL(Patient.PFName, ' ') AS PFName, 
						  ISNULL(Patient.PMName, ' ') AS PMName, ISNULL(Patient.PLName, ' ') AS PLName, Patient.Relation, ISNULL(Patient.RFName, ' ') + ' ' + ISNULL(Patient.RMName, ' ') 
						  + ' ' + ISNULL(Patient.RLName, ' ') AS [Relation Name], CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
						  DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) 
						  + '  D'  AS PatientAge, Gender.Gender, Patient.RegDateTime AS [Registration Date], CONVERT(varchar, Patient.DateOfBirth, 103) 
						  AS [Date Of Birth], Patient.MobilePhone, CASE WHEN Patient.FingerPrint IS NULL THEN 0 ELSE 1 END AS FP, 
						  ISNULL(Patient.Patient_Type, 0) AS Patient_Type_ID, Patient.CNIC,Patient.Patient_Type as Entitlement,
						  Patient_Record_File.FileNo
	FROM       Record_Management.dbo.Patient_Record_File Patient_Record_File Inner Join  Registration.dbo.Patient Patient ON
			Patient_Record_File.RegNo = Patient.RegNo INNER JOIN
						 BasicDataInfo.dbo.Gender Gender ON Patient.SexID = Gender.Gender_ID 
						 --LEFT OUTER JOIN
						 -- BasicDataInfo.dbo.Payment Payment ON Patient.RegNo = Payment.RegNo
						  --Inner JOIN 
						  --On Payment.PayID = Patient_Record_File.YearlyNo And Payment.RegNo = Patient_Record_File.RegNo
	WHERE --Payment.Patient_Type = 'IPD' and DischargeStatus = 1 And 
	(ISNULL(Patient.PFName, '') LIKE @PFName + '%') 
	AND (ISNULL(Patient.PLName, '') LIKE '%' + @PLName + '%') 
	AND (ISNULL(Patient.PMName, '') LIKE '%' + @PMName + '%') 
	AND (ISNULL(Patient.Relation, '') LIKE '%' + @Relation + '%') 
	AND (ISNULL(Patient.RFName, '') LIKE '%' + @RFName + '%') 
	AND (ISNULL(Patient.RMName, '') LIKE '%' + @RMName + '%')
	AND (ISNULL(Patient.RLName, '') LIKE '%' + @RLName + '%') 
	AND (Patient.RegNo LIKE '%' + @RegNo + '%') 
	AND (CONVERT(varchar, DATEPART(dd, Patient.RegDateTime)) LIKE @RegDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.RegDateTime)) LIKE @RegMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.RegDateTime))LIKE @RegYear + '%') 
	and isnull(Patient.CNIC,'') like @CNIC +  '%' 
	and isnull(Patient.Passport_No,'') like @Passport_No +'%' 
	and isnull(Patient.Mobilephone,'') like @Mobile_phone +'%' 
	AND (CONVERT(varchar, DATEPART(dd, Patient.DateOfBirth)) LIKE @DOBDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.DateOfBirth)) LIKE @DOBMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.DateOfBirth)) LIKE @DOBYear + '%') 
	And Patient_Record_File.FileNo Like @FileNO 
	ORDER BY Patient.RegDateTime DESC

End
GO
/****** Object:  StoredProcedure [dbo].[Search_Record_Management_Patients]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Search_Record_Management_Patients] 
--@YearlyNo numeric(18),
@PFName varchar(50),
@PMName varchar(50),
@PLName varchar(50),
@RegNo varchar(50),
@Relation varchar(20),
@RFName varchar(50),
@RMName varchar(50),
@RLName varchar(50),
--@Age int,
@day int,
@month int,
@year int,
@DoB_Day int,
@DoB_Mon int,
@DoB_Year int,
--@Shift int,
@CNIC varchar(50),
@Passport_No varchar(50),
@Mobile_phone varchar(50),
@FileNO varchar(50)
AS
BEGIN

	declare @Yrly_No varchar(50)
	declare @Pat_Age varchar(10)
	declare @RegDay varchar(2)
	declare @RegMon varchar(2)
	declare @RegYear varchar(4)
	declare @DOBDay Varchar(2)
	declare @DOBMon Varchar(2)
	declare @DOBYear Varchar(4)
	declare @Shift_id varchar(4)
	declare @CNIC_val varchar(50)
	declare @Passport_No_val varchar(50)


	if @day<>0
		begin
			set @RegDay=convert(varchar,@day)				
		end
	else
		begin
			set @RegDay='%'
		end
	if @month<>0
		begin
			set @RegMon=convert(varchar,@month)				
		end
	else
		begin
			set @RegMon='%'
		end
	if @year<>0
		begin
			set @RegYear=convert(varchar,@year)				
		end
	else
		begin
			set @RegYear='%'
		end


	if @DoB_Day<>0
		begin
			set @DOBDay=convert(varchar,@DoB_Day)				
		end
	else
		begin
			set @DOBDay='%'
		end
	if @DoB_Mon<>0
		begin
			set @DOBMon=convert(varchar,@DoB_Mon)				
		end
	else
		begin
			set @DOBMon='%'
		end
	if @DoB_Year<>0
		begin
			set @DOBYear=convert(varchar,@DoB_Year)				
		end
	else
		begin
			set @DOBYear='%'
		end


		begin
			set @Shift_id='%'
		end

	SELECT DISTINCT 
						top(100) Patient_Record_File.Patient_File_ID,Payment.PayID Visit_ID,Registration.dbo.No_OF_Visit(Patient.RegNo) AS No_Of_Visits, Patient.RegNo AS [Registration No], ISNULL(Patient.Prefix, '') AS Prefix, ISNULL(Patient.PFName, ' ') AS PFName, 
						  ISNULL(Patient.PMName, ' ') AS PMName, ISNULL(Patient.PLName, ' ') AS PLName, Patient.Relation, ISNULL(Patient.RFName, ' ') + ' ' + ISNULL(Patient.RMName, ' ') 
						  + ' ' + ISNULL(Patient.RLName, ' ') AS [Relation Name], CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
						  DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) 
						  + '  D'  AS PatientAge, Gender.Gender, Patient.RegDateTime AS [Registration Date], CONVERT(varchar, Patient.DateOfBirth, 103) 
						  AS [Date Of Birth], Patient.MobilePhone, CASE WHEN Patient.FingerPrint IS NULL THEN 0 ELSE 1 END AS FP, 
						  ISNULL(Patient.Patient_Type, 0) AS Patient_Type_ID, Patient.CNIC,Patient.Patient_Type as Entitlement,
						  Patient_Record_File.FileNo
	FROM         Registration.dbo.Patient Patient INNER JOIN
						 BasicDataInfo.dbo.Gender Gender ON Patient.SexID = Gender.Gender_ID LEFT OUTER JOIN
						  BasicDataInfo.dbo.Payment Payment ON Patient.RegNo = Payment.RegNo
						  Inner JOIN Record_Management.dbo.Patient_Record_File Patient_Record_File
						  On Payment.PayID = Patient_Record_File.YearlyNo And Payment.RegNo = Patient_Record_File.RegNo
	WHERE IsNull(Patient_Record_File.IsAvailable,0) = 1 And Payment.Patient_Type = 'IPD' and DischargeStatus = 1 
	And (ISNULL(Patient.PFName, '') LIKE @PFName + '%') 
	AND (ISNULL(Patient.PLName, '') LIKE '%' + @PLName + '%') 
	AND (ISNULL(Patient.PMName, '') LIKE '%' + @PMName + '%') 
	AND (ISNULL(Patient.Relation, '') LIKE '%' + @Relation + '%') 
	AND (ISNULL(Patient.RFName, '') LIKE '%' + @RFName + '%') 
	AND (ISNULL(Patient.RMName, '') LIKE '%' + @RMName + '%')
	AND (ISNULL(Patient.RLName, '') LIKE '%' + @RLName + '%') 
	AND (Patient.RegNo LIKE '%' + @RegNo + '%') 
	AND (CONVERT(varchar, DATEPART(dd, Patient.RegDateTime)) LIKE @RegDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.RegDateTime)) LIKE @RegMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.RegDateTime))LIKE @RegYear + '%') 
	and isnull(Patient.CNIC,'') like @CNIC +  '%' 
	and isnull(Patient.Passport_No,'') like @Passport_No +'%' 
	and isnull(Patient.Mobilephone,'') like @Mobile_phone +'%' 
	AND (CONVERT(varchar, DATEPART(dd, Patient.DateOfBirth)) LIKE @DOBDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.DateOfBirth)) LIKE @DOBMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.DateOfBirth)) LIKE @DOBYear + '%')
	And Patient_Record_File.FileNo Like @FileNO 
	ORDER BY Patient.RegDateTime DESC

End
GO
/****** Object:  StoredProcedure [dbo].[Search_Record_Management_Patients_File_Issue]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Search_Record_Management_Patients_File_Issue] 
--@YearlyNo numeric(18),
@PFName varchar(50),
@PMName varchar(50),
@PLName varchar(50),
@RegNo varchar(50),
@Relation varchar(20),
@RFName varchar(50),
@RMName varchar(50),
@RLName varchar(50),
--@Age int,
@day int,
@month int,
@year int,
@DoB_Day int,
@DoB_Mon int,
@DoB_Year int,
--@Shift int,
@CNIC varchar(50),
@Passport_No varchar(50),
@Mobile_phone varchar(50)
--,@FileNO varchar(50)
AS
BEGIN

	declare @Yrly_No varchar(50)
	declare @Pat_Age varchar(10)
	declare @RegDay varchar(2)
	declare @RegMon varchar(2)
	declare @RegYear varchar(4)
	declare @DOBDay Varchar(2)
	declare @DOBMon Varchar(2)
	declare @DOBYear Varchar(4)
	declare @Shift_id varchar(4)
	declare @CNIC_val varchar(50)
	declare @Passport_No_val varchar(50)


	if @day<>0
		begin
			set @RegDay=convert(varchar,@day)				
		end
	else
		begin
			set @RegDay='%'
		end
	if @month<>0
		begin
			set @RegMon=convert(varchar,@month)				
		end
	else
		begin
			set @RegMon='%'
		end
	if @year<>0
		begin
			set @RegYear=convert(varchar,@year)				
		end
	else
		begin
			set @RegYear='%'
		end


	if @DoB_Day<>0
		begin
			set @DOBDay=convert(varchar,@DoB_Day)				
		end
	else
		begin
			set @DOBDay='%'
		end
	if @DoB_Mon<>0
		begin
			set @DOBMon=convert(varchar,@DoB_Mon)				
		end
	else
		begin
			set @DOBMon='%'
		end
	if @DoB_Year<>0
		begin
			set @DOBYear=convert(varchar,@DoB_Year)				
		end
	else
		begin
			set @DOBYear='%'
		end


		begin
			set @Shift_id='%'
		end

	SELECT DISTINCT 
						top(100) Patient_Record_File.Patient_File_ID,Payment.PayID Visit_ID,Registration.dbo.No_OF_Visit(Patient.RegNo) AS No_Of_Visits, Patient.RegNo AS [Registration No], ISNULL(Patient.Prefix, '') AS Prefix, ISNULL(Patient.PFName, ' ') AS PFName, 
						  ISNULL(Patient.PMName, ' ') AS PMName, ISNULL(Patient.PLName, ' ') AS PLName, Patient.Relation, ISNULL(Patient.RFName, ' ') + ' ' + ISNULL(Patient.RMName, ' ') 
						  + ' ' + ISNULL(Patient.RLName, ' ') AS [Relation Name], CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
						  DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) 
						  + '  D'  AS PatientAge, Gender.Gender, Patient.RegDateTime AS [Registration Date], CONVERT(varchar, Patient.DateOfBirth, 103) 
						  AS [Date Of Birth], Patient.MobilePhone, CASE WHEN Patient.FingerPrint IS NULL THEN 0 ELSE 1 END AS FP, 
						  ISNULL(Patient.Patient_Type, 0) AS Patient_Type_ID, Patient.CNIC,Patient.Patient_Type as Entitlement,
						  Patient_Record_File.FileNo
	FROM         Registration.dbo.Patient Patient INNER JOIN
						 BasicDataInfo.dbo.Gender Gender ON Patient.SexID = Gender.Gender_ID LEFT OUTER JOIN
						  BasicDataInfo.dbo.Payment Payment ON Patient.RegNo = Payment.RegNo
						  Inner JOIN Record_Management.dbo.Patient_Record_File Patient_Record_File
						  On Payment.PayID = Patient_Record_File.YearlyNo And Payment.RegNo = Patient_Record_File.RegNo
	WHERE IsNull(Patient_Record_File.IsAvailable,0) = 1 And Payment.Patient_Type = 'IPD' and DischargeStatus = 1 and isnull(Patient_Record_File.IsRequested,0)=0
	And (ISNULL(Patient.PFName, '') LIKE @PFName + '%') 
	AND (ISNULL(Patient.PLName, '') LIKE '%' + @PLName + '%') 
	AND (ISNULL(Patient.PMName, '') LIKE '%' + @PMName + '%') 
	AND (ISNULL(Patient.Relation, '') LIKE '%' + @Relation + '%') 
	AND (ISNULL(Patient.RFName, '') LIKE '%' + @RFName + '%') 
	AND (ISNULL(Patient.RMName, '') LIKE '%' + @RMName + '%')
	AND (ISNULL(Patient.RLName, '') LIKE '%' + @RLName + '%') 
	AND (Patient.RegNo LIKE '%' + @RegNo + '%') 
	AND (CONVERT(varchar, DATEPART(dd, Patient.RegDateTime)) LIKE @RegDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.RegDateTime)) LIKE @RegMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.RegDateTime))LIKE @RegYear + '%') 
	and isnull(Patient.CNIC,'') like @CNIC +  '%' 
	and isnull(Patient.Passport_No,'') like @Passport_No +'%' 
	and isnull(Patient.Mobilephone,'') like @Mobile_phone +'%' 
	AND (CONVERT(varchar, DATEPART(dd, Patient.DateOfBirth)) LIKE @DOBDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.DateOfBirth)) LIKE @DOBMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.DateOfBirth)) LIKE @DOBYear + '%')
	--And Patient_Record_File.FileNo Like @FileNO 
	ORDER BY Patient.RegDateTime DESC

End
GO
/****** Object:  StoredProcedure [dbo].[Search_Record_Management_Patients_For_Return]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Search_Record_Management_Patients_For_Return] 
--@YearlyNo numeric(18),
@PFName varchar(50),
@PMName varchar(50),
@PLName varchar(50),
@RegNo varchar(50),
@Relation varchar(20),
@RFName varchar(50),
@RMName varchar(50),
@RLName varchar(50),
--@Age int,
@day int,
@month int,
@year int,
@DoB_Day int,
@DoB_Mon int,
@DoB_Year int,
--@Shift int,
@CNIC varchar(50),
@Passport_No varchar(50),
@Mobile_phone varchar(50),
@FileNO varchar(50)
AS
BEGIN

	declare @Yrly_No varchar(50)
	declare @Pat_Age varchar(10)
	declare @RegDay varchar(2)
	declare @RegMon varchar(2)
	declare @RegYear varchar(4)
	declare @DOBDay Varchar(2)
	declare @DOBMon Varchar(2)
	declare @DOBYear Varchar(4)
	declare @Shift_id varchar(4)
	declare @CNIC_val varchar(50)
	declare @Passport_No_val varchar(50)


	if @day<>0
		begin
			set @RegDay=convert(varchar,@day)				
		end
	else
		begin
			set @RegDay='%'
		end
	if @month<>0
		begin
			set @RegMon=convert(varchar,@month)				
		end
	else
		begin
			set @RegMon='%'
		end
	if @year<>0
		begin
			set @RegYear=convert(varchar,@year)				
		end
	else
		begin
			set @RegYear='%'
		end


	if @DoB_Day<>0
		begin
			set @DOBDay=convert(varchar,@DoB_Day)				
		end
	else
		begin
			set @DOBDay='%'
		end
	if @DoB_Mon<>0
		begin
			set @DOBMon=convert(varchar,@DoB_Mon)				
		end
	else
		begin
			set @DOBMon='%'
		end
	if @DoB_Year<>0
		begin
			set @DOBYear=convert(varchar,@DoB_Year)				
		end
	else
		begin
			set @DOBYear='%'
		end


		begin
			set @Shift_id='%'
		end

	SELECT DISTINCT 
						Patient_Record_File_Issue.Patient_Record_File_Issue_Id, Patient_Record_File.Patient_File_ID,Payment.PayID Visit_ID,Registration.dbo.No_OF_Visit(Patient.RegNo) AS No_Of_Visits, Patient.RegNo AS [Registration No], ISNULL(Patient.Prefix, '') AS Prefix, ISNULL(Patient.PFName, ' ') AS PFName, 
						  ISNULL(Patient.PMName, ' ') AS PMName, ISNULL(Patient.PLName, ' ') AS PLName, Patient.Relation, ISNULL(Patient.RFName, ' ') + ' ' + ISNULL(Patient.RMName, ' ') 
						  + ' ' + ISNULL(Patient.RLName, ' ') AS [Relation Name], CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
						  DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) 
						  + '  D'  AS PatientAge, Gender.Gender, Patient.RegDateTime AS [Registration Date], CONVERT(varchar, Patient.DateOfBirth, 103) 
						  AS [Date Of Birth], Patient.MobilePhone, CASE WHEN Patient.FingerPrint IS NULL THEN 0 ELSE 1 END AS FP, 
						  ISNULL(Patient.Patient_Type, 0) AS Patient_Type_ID, Patient.CNIC,Patient.Patient_Type as Entitlement,
						  Patient_Record_File.FileNo
	FROM         Registration.dbo.Patient Patient INNER JOIN
						 BasicDataInfo.dbo.Gender Gender ON Patient.SexID = Gender.Gender_ID LEFT OUTER JOIN
						  BasicDataInfo.dbo.Payment Payment ON Patient.RegNo = Payment.RegNo
						  Inner JOIN Record_Management.dbo.Patient_Record_File Patient_Record_File
						  On Payment.PayID = Patient_Record_File.YearlyNo And Payment.RegNo = Patient_Record_File.RegNo
						  Inner JOIN Patient_Record_File_Issue on Patient_Record_File.Patient_File_ID = Patient_Record_File_Issue.Patient_Record_File_Id
						  And Patient_Record_File_Issue.Issued_Status = 1
	WHERE IsNull(Patient_Record_File.IsAvailable,0) = 0 And Payment.Patient_Type = 'IPD' and DischargeStatus = 1 
	And (ISNULL(Patient.PFName, '') LIKE @PFName + '%') 
	AND (ISNULL(Patient.PLName, '') LIKE '%' + @PLName + '%') 
	AND (ISNULL(Patient.PMName, '') LIKE '%' + @PMName + '%') 
	AND (ISNULL(Patient.Relation, '') LIKE '%' + @Relation + '%') 
	AND (ISNULL(Patient.RFName, '') LIKE '%' + @RFName + '%') 
	AND (ISNULL(Patient.RMName, '') LIKE '%' + @RMName + '%')
	AND (ISNULL(Patient.RLName, '') LIKE '%' + @RLName + '%') 
	AND (Patient.RegNo LIKE '%' + @RegNo + '%') 
	AND (CONVERT(varchar, DATEPART(dd, Patient.RegDateTime)) LIKE @RegDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.RegDateTime)) LIKE @RegMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.RegDateTime))LIKE @RegYear + '%') 
	and isnull(Patient.CNIC,'') like @CNIC +  '%' 
	and isnull(Patient.Passport_No,'') like @Passport_No +'%' 
	and isnull(Patient.Mobilephone,'') like @Mobile_phone +'%' 
	AND (CONVERT(varchar, DATEPART(dd, Patient.DateOfBirth)) LIKE @DOBDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.DateOfBirth)) LIKE @DOBMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.DateOfBirth)) LIKE @DOBYear + '%') 
	And Patient_Record_File.FileNo Like @FileNO 
	ORDER BY Patient.RegDateTime DESC

End
GO
/****** Object:  StoredProcedure [dbo].[Search_Record_Management_Patients_PR]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Search_Record_Management_Patients_PR] 
--@YearlyNo numeric(18),
@PFName varchar(50),
@PMName varchar(50),
@PLName varchar(50),
@RegNo varchar(50),
@Relation varchar(20),
@RFName varchar(50),
@RMName varchar(50),
@RLName varchar(50),
--@Age int,
@day int,
@month int,
@year int,
@DoB_Day int,
@DoB_Mon int,
@DoB_Year int,
--@Shift int,
@CNIC varchar(50),
@Passport_No varchar(50),
@Mobile_phone varchar(50)

--@FileNO varchar(50)
AS
BEGIN

	declare @Yrly_No varchar(50)
	declare @Pat_Age varchar(10)
	declare @RegDay varchar(2)
	declare @RegMon varchar(2)
	declare @RegYear varchar(4)
	declare @DOBDay Varchar(2)
	declare @DOBMon Varchar(2)
	declare @DOBYear Varchar(4)
	declare @Shift_id varchar(4)
	declare @CNIC_val varchar(50)
	declare @Passport_No_val varchar(50)


	if @day<>0
		begin
			set @RegDay=convert(varchar,@day)				
		end
	else
		begin
			set @RegDay='%'
		end
	if @month<>0
		begin
			set @RegMon=convert(varchar,@month)				
		end
	else
		begin
			set @RegMon='%'
		end
	if @year<>0
		begin
			set @RegYear=convert(varchar,@year)				
		end
	else
		begin
			set @RegYear='%'
		end


	if @DoB_Day<>0
		begin
			set @DOBDay=convert(varchar,@DoB_Day)				
		end
	else
		begin
			set @DOBDay='%'
		end
	if @DoB_Mon<>0
		begin
			set @DOBMon=convert(varchar,@DoB_Mon)				
		end
	else
		begin
			set @DOBMon='%'
		end
	if @DoB_Year<>0
		begin
			set @DOBYear=convert(varchar,@DoB_Year)				
		end
	else
		begin
			set @DOBYear='%'
		end


		begin
			set @Shift_id='%'
		end

	SELECT DISTINCT 
						top(100) Patient_Record_File.Patient_File_ID,Payment.PayID Visit_ID,Registration.dbo.No_OF_Visit(Patient.RegNo) AS No_Of_Visits, Patient.RegNo AS [Registration No], ISNULL(Patient.Prefix, '') AS Prefix, ISNULL(Patient.PFName, ' ') AS PFName, 
						  ISNULL(Patient.PMName, ' ') AS PMName, ISNULL(Patient.PLName, ' ') AS PLName, Patient.Relation, ISNULL(Patient.RFName, ' ') + ' ' + ISNULL(Patient.RMName, ' ') 
						  + ' ' + ISNULL(Patient.RLName, ' ') AS [Relation Name], CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) / 365) + '  Y  ' + CONVERT(varchar, 
						  DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 / 30) + '  M  ' + CONVERT(varchar, DATEDIFF(dd, Patient.DateOfBirth, GETDATE()) % 365 % 30) 
						  + '  D'  AS PatientAge, Gender.Gender, Patient.RegDateTime AS [Registration Date], CONVERT(varchar, Patient.DateOfBirth, 103) 
						  AS [Date Of Birth], Patient.MobilePhone, CASE WHEN Patient.FingerPrint IS NULL THEN 0 ELSE 1 END AS FP, 
						  ISNULL(Patient.Patient_Type, 0) AS Patient_Type_ID, Patient.CNIC,Patient.Patient_Type as Entitlement,
						  Patient_Record_File.FileNo,FileActivity.EmpID, FileActivity.DeptID, FileActivity.ConsultantID, 
						  FileActivity.Remarks
	FROM         Registration.dbo.Patient Patient INNER JOIN
						 BasicDataInfo.dbo.Gender Gender ON Patient.SexID = Gender.Gender_ID LEFT OUTER JOIN
						  BasicDataInfo.dbo.Payment Payment ON Patient.RegNo = Payment.RegNo
						  Inner JOIN Record_Management.dbo.Patient_Record_File Patient_Record_File
						  On Payment.PayID = Patient_Record_File.YearlyNo And Payment.RegNo = Patient_Record_File.RegNo
						  inner join
						  (
						  
								SELECT        Patient_Record_File_Activity_ID  ID, Patient_File_ID, DateTime, Name, 
								EmpID, DeptID, ConsultantID, Remarks
								FROM            Patient_Record_File_Activity

							) FileActivity On Patient_Record_File.Patient_File_ID=FileActivity.Patient_File_ID
	WHERE IsNull(Patient_Record_File.IsAvailable,0) = 0 
	--And Payment.Patient_Type = 'IPD' 
	--and DischargeStatus = 1 
	And (ISNULL(Patient.PFName, '') LIKE @PFName + '%') 
	AND (ISNULL(Patient.PLName, '') LIKE '%' + @PLName + '%') 
	AND (ISNULL(Patient.PMName, '') LIKE '%' + @PMName + '%') 
	AND (ISNULL(Patient.Relation, '') LIKE '%' + @Relation + '%') 
	AND (ISNULL(Patient.RFName, '') LIKE '%' + @RFName + '%') 
	AND (ISNULL(Patient.RMName, '') LIKE '%' + @RMName + '%')
	AND (ISNULL(Patient.RLName, '') LIKE '%' + @RLName + '%') 
	AND (Patient.RegNo LIKE '%' + @RegNo + '%') 
	AND (CONVERT(varchar, DATEPART(dd, Patient.RegDateTime)) LIKE @RegDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.RegDateTime)) LIKE @RegMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.RegDateTime))LIKE @RegYear + '%') 
	and isnull(Patient.CNIC,'') like @CNIC +  '%' 
	and isnull(Patient.Passport_No,'') like @Passport_No +'%' 
	and isnull(Patient.Mobilephone,'') like @Mobile_phone +'%' 
	AND (CONVERT(varchar, DATEPART(dd, Patient.DateOfBirth)) LIKE @DOBDay + '%') 
	AND (CONVERT(varchar, DATEPART(mm, Patient.DateOfBirth)) LIKE @DOBMon + '%') 
	AND (CONVERT(varchar, DATEPART(yyyy, Patient.DateOfBirth)) LIKE @DOBYear + '%')
	And isnull(Patient_Record_File.IsRequested,0)=1
	ORDER BY Patient.RegDateTime DESC

End
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateFileIssueRecord]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_CreateFileIssueRecord]
@Patient_Record_File_Issue_Id numeric(18,0) Output,
@Patient_Record_File_Id numeric(18,0),
@Request_By_SubDept_Id int,
@Request_By_Consultant_Id int,
@Issued_To_Emp_Id int,
@Issued_By_Emp_Id int,
@Remarks varchar(500),
@Issue_Date datetime,
@Issued_Status int = 1
As
BEGIN


	INSERT INTO Patient_Record_File_Issue
	(
		Patient_Record_File_Id,
		Request_By_SubDept_Id,
		Request_By_Consultant_Id,
		Issued_To_Emp_Id,
		Issued_By_Emp_Id,
		Remarks,
		Issue_Date,
		Issued_Status
	)
	Values
	(
		@Patient_Record_File_Id ,
		@Request_By_SubDept_Id ,
		@Request_By_Consultant_Id ,
		@Issued_To_Emp_Id ,
		@Issued_By_Emp_Id ,
		@Remarks ,
		@Issue_Date ,
		@Issued_Status 
	)

	Set @Patient_Record_File_Issue_Id = Scope_Identity();
		
	Update Patient_Record_File Set IsAvailable = 0,IsRequested=0
	Where Patient_File_ID = @Patient_Record_File_Id;

End
GO
/****** Object:  StoredProcedure [dbo].[usp_Documents_Issued_Details]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_Documents_Issued_Details]

@SubDept_Id int,
@StartDate datetime,
@EndDate datetime
As
Begin

	If @SubDept_Id = 0 Set @SubDept_Id = NULL;

SELECT     SD.SubDept_Name, COUNT(PRFI.Patient_Record_File_Id) AS Files_Issued, SD.Date_time, PRFI.Patient_Record_File_Id, SD.SubDept_Name AS BySubDepartment, 
                      PRFI.Issue_Date, isnull(BasicDataInfo.dbo.Employee.EFName,'')+''+ISNULL( BasicDataInfo.dbo.Employee.EMName,'')+''+ISNULL(BasicDataInfo.dbo.Employee.ELName,'') as Issued_To
FROM         BasicDataInfo.dbo.SubDepartment AS SD INNER JOIN
                      Patient_Record_File_Issue AS PRFI ON SD.SubDept_Id = PRFI.Request_By_SubDept_Id INNER JOIN
                      BasicDataInfo.dbo.Employee ON PRFI.Issued_To_Emp_Id = BasicDataInfo.dbo.Employee.EmpID
Where   PRFI.Issued_Status='2'
			And (@SubDept_Id Is Null Or SD.SubDept_Id=@SubDept_Id)
			And (CONVERT(varchar(20),PRFI.Issue_Date,112) BETWEEN CONVERT(varchar(20),@StartDate,112) 
				AND CONVERT(varchar(20),@EndDate,112))       

GROUP BY  SD.SubDept_Name, SD.Date_time, PRFI.Patient_Record_File_Id, SD.SubDept_Name, PRFI.Issue_Date	
,BasicDataInfo.dbo.Employee.EFName, BasicDataInfo.dbo.Employee.ELName, BasicDataInfo.dbo.Employee.EMName

End
GO
/****** Object:  StoredProcedure [dbo].[usp_FileRecordReceived]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_FileRecordReceived]
@Patient_Record_File_Issue_Id numeric(18,0),
@Returned_Date DateTime,
@Returned_By_Emp_Id int,
@Returned_To_Emp_Id int,
@Remarks varchar(500)
As
BEGIN

	Declare @Patient_File_Record_Id Numeric(18,0);
	
	Select @Patient_File_Record_Id = Patient_Record_File_Id
	From Patient_Record_File_Issue where Patient_Record_File_Issue_Id = @Patient_Record_File_Issue_Id;
	
	Update Patient_Record_File_Issue
	SET Returned_Date = @Returned_Date,Returned_By_Emp_Id = @Returned_By_Emp_Id,
	Returned_To_Emp_Id = @Returned_To_Emp_Id,Issued_Status = 2,Returned_Remarks = @Remarks
	Where Patient_Record_File_Issue_Id = @Patient_Record_File_Issue_Id;
	
	Update Patient_Record_File Set IsAvailable = 1,IsRequested=0
	Where Patient_File_ID = @Patient_File_Record_Id;
	
	
End
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Patient_Record_File_Activity]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[usp_Insert_Patient_Record_File_Activity]
@Patient_File_ID	int,
@DateTime	datetime,
@Name	varchar(200),
@Phone	varchar(100),
@Address	varchar(200),
@Relation	varchar(200),
@Remarks	varchar(500),
@CNIC		varchar(200)
As
Begin

INSERT INTO Patient_Record_File_Activity
                      (Patient_File_ID, DateTime, Name,
                       Phone, Address, Relation, Remarks,CNIC)
VALUES     (@Patient_File_ID,@DateTime,@Name,
				@Phone,@Address,@Relation,@Remarks,@CNIC)

End
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_RequestPatient_Record_File_Activity]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  Procedure [dbo].[usp_Insert_RequestPatient_Record_File_Activity]
@Patient_File_ID	int,
@EmpID int,
@DeptID int,
@ConsultantID int
As
Begin
	Begin Transaction
		Begin Try
			INSERT INTO Patient_Record_File_Activity
								  (Patient_File_ID, DateTime, EmpID,DeptID,ConsultantID
								   )
			VALUES     (@Patient_File_ID,GETDATE(),@EmpID,@DeptID,@ConsultantID)
			Update Patient_Record_File Set IsAvailable=0,IsRequested=1 Where Patient_File_ID=@Patient_File_ID
		Commit Transaction
		End Try
		Begin Catch
			Rollback Transaction
		End Catch

End
GO
/****** Object:  StoredProcedure [dbo].[usp_Patient_Record_File_Insert]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[usp_Patient_Record_File_Insert]
@Patient_File_ID Numeric(18,0) Output,
@YearlyNo numeric(18,0),
@FileNo varchar(50),
@EmpId int,
@FileNoAlotDate datetime
As
Begin

	Declare @RegNo Varchar(200)
	
	Select @RegNo = RegNo From BasicDataInfo.dbo.Payment Where PayID = @YearlyNo;

	Declare @Year Int,@Month Int, @Counter Int,@FileNoNew Varchar(50),@CurrentDate DateTime,
		@TmpCounter Varchar(50),@indx Int;
	
	Set @CurrentDate = Getdate();
	Set @Year = Year(@CurrentDate);	
	Set @Month = Month(@CurrentDate);
	Set @Counter = 1;
	
	Select @TmpCounter = Max(FileNo) 
	From Patient_Record_File 
	Where Month(FileNoAlotDate) = @Month And Year(FileNoAlotDate) = @Year;

	If @TmpCounter Is Not Null
	Begin
		--print 'here...';
		Set @Counter = Cast(Right(@TmpCounter,4) as Int) + 1;
	End

	Set @FileNoNew = Cast(@Year as varchar) + '-' + Left('0' + Cast(@Month as varchar),2) + '-' + 
					Right('0000' + Cast(@Counter as varchar(4)),4);
					
	INSERT INTO [Record_Management].[dbo].[Patient_Record_File]
	([RegNo]
	,[YearlyNo]
	,[FileNo]
	,[EmpId]
	,[FileNoAlotDate],IsAvailable)
	VALUES
	(@RegNo,@YearlyNo,@FileNo,@EmpId,@FileNoAlotDate,1)
	
	Set @Patient_File_ID = SCOPE_IDENTITY();
					
	Update Patient_Record_File Set FileNo = @FileNoNew Where Patient_File_ID = @Patient_File_ID;

End
GO
/****** Object:  StoredProcedure [dbo].[usp_Pending_Documents_Detail]    Script Date: 10/26/2025 5:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Pending_Documents_Detail]
@EmpID int,
@SubDeptId int,
@StartDate datetime,
@EndDate datetime
As
Begin

	If @EmpID = 0 Set @EmpID = NULL;

	If @SubDeptId = 0 Set @SubDeptId = NULL;

	SELECT     Isnull(E.Prefix,'')+ ' ' +Isnull(E.EFName,'') + ' '+ Isnull(E.EMName,'')+ ' '+ 
				Isnull(E.ELName,'') Employee_Name,
				 SD.SubDept_Name,PRF.FileNo, PRFI.Issue_Date
	FROM         BasicDataInfo.dbo.Employee AS E INNER JOIN
						  Patient_Record_File AS PRF ON E.EmpID = PRF.EmpId INNER JOIN
						  Patient_Record_File_Issue As PRFI ON E.EmpID = PRFI.Issued_To_Emp_Id
						  INNER JOIN BasicDataInfo.dbo.SubDepartment AS SD ON PRFI.Request_By_SubDept_Id=SD.SubDept_Id
	WHERE     (PRF.IsAvailable = 0) AND (PRFI.Issued_Status=1)
				AND (@EmpID Is Null Or E.EmpID=@EmpID) AND 
				(@SubDeptId Is Null Or PRFI.Request_By_SubDept_Id = @SubDeptId)  AND 
				(CONVERT(varchar(20),PRFI.Issue_Date,112) BETWEEN CONVERT(varchar(20),@StartDate,112) 
				AND CONVERT(varchar(20),@EndDate,112))
			
End
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Patient_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Payment (Registration.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 226
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Payment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Payment'
GO
USE [master]
GO
