@charset "utf-8";
/* CSS Document */

 
.leftnav {width:0px; display:none;  }
.open { display:inline-block;  background:url(../images_hacims/toright.png) 0 0 no-repeat; height:21px; width:17px; cursor:pointer;}
.close { display:none;}