USE [Finance]
GO
/****** Object:  StoredProcedure [dbo].[uspinsertbalancesheetheads]    Script Date: 12/29/2020 3:36:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspinsertbalancesheetheads]
@Balance_Sheet_Id int,
@Main_Heading varchar(50),
@Sub_Heading varchar(50),
@Sort_Order int,
@Notes varchar(50),
@MainSort_Order int,
@Group_type varchar(1)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if not exists(select * from Balance_Sheet_Heads where Balance_Sheet_Id=@Balance_Sheet_Id )
	insert into Balance_Sheet_Heads (Main_Heading,Sub_Heading,Sort_Order,Notes,MainSort_Order,Group_type) values(@Main_Heading,@Sub_Heading,@Sort_Order,@Notes,@MainSort_Order,@Group_type)

	else 
	update Balance_Sheet_Heads set Main_Heading=@Main_Heading,Sub_Heading=@Sub_Heading,Sort_Order=@Sort_Order,Notes=@Notes,MainSort_Order=@MainSort_Order,Group_type=@Group_type
	where Balance_Sheet_Id=@Balance_Sheet_Id
	select * from Balance_Sheet_Heads
END

GO
