USE [Finance]
GO
/****** Object:  StoredProcedure [dbo].[uspinsertprofitandlossheads]    Script Date: 12/29/2020 9:34:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspinsertprofitandlossheads]
@PL_Id int,
@Main_Heading varchar(50),
@Sub_Heading varchar(350),
@Sub_Heading2 varchar(350),
@Sort_Order int,
@Notes varchar(50),
@Group_type varchar(1)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if not exists(select * from ProfitAndLossHeads where PL_Id=@PL_Id )
	insert into ProfitAndLossHeads(Main_Heading,Sub_Heading,Sub_Heading2,Sort_Order,Notes,Group_type) values(@Main_Heading,@Sub_Heading,@Sub_Heading2,@Sort_Order,@Notes,@Group_type)

	else 
	update ProfitAndLossHeads set Main_Heading=@Main_Heading,Sub_Heading=@Sub_Heading,Sub_Heading2=@Sub_Heading2,Sort_Order=@Sort_Order,Notes=@Notes,Group_type=@Group_type
	where PL_Id=@PL_Id
	
END

GO
